/* @import url('design-tokens.css'); */
/* WORKAROUND #218
   TODO reactivate import when postcssCustomProperties: preserve: false
   defined in utils/transform-css.js is respected
 */

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* WORKAROUND #218 TODO update critical design tokens redundantly here */
  --primary-background: #1d4950;
  --primary-foreground: #ebeff2;
  --primary-heading: #ebeff2;
  --secondary-lighter-background: #d1d4d6;
  --secondary-heading: #053245;
  --secondary-foreground: #000;
  --body-font-family: 'Montserrat', 'Helvetica', sans-serif;
  --body-font-weight: 400;
  --body-line-height: 1.75;
  --heading-font-family: 'Bitter', serif;
  --heading-font-weight: 700;
  /* WORKAROUND END */

  line-height: var(--body-line-height);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--primary-foreground);
  background-color: var(--primary-background);
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 950px) {
  html,
  body {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

h1,
h2,
h3,
h4,
.aside-heading,
#sticky-headline,
#sticky-headline a {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  letter-spacing: 0.0125rem;
  color: var(--primary-heading);
}

#sticky-headline,
#sticky-headline a {
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

h2,
h3,
h4,
.aside-heading {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
}

h1,
h2,
h3,
h4,
.aside-heading,
.tagline,
.hashtags {
  max-width: 99%;
}

ul.aside-heading {
  text-align: left;
}

.headingless {
  padding-top: 1em;
}

del {
  text-decoration: line-through;
}

small {
  font-size: 0.75rem;
}

/* prevent iPhone mobile safari zooming in if page contains text smaller than 16px */
@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 0) {
  small {
    font-size: 16px;
  }
}

.nav-wrapper {
  display: flex;
  align-items: flex-start;
}

@media only screen {
  .only-print {
    display: none;
  }

  .page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .jumbotronHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-bottom: -2.25em;
    background-color: rgba(29, 73, 80, 0.75);
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @media (prefers-reduced-transparency) {
    .jumbotronHeader {
      background-color: rgba(29, 73, 80, 1);
    }
  }

  .jumbotronHeader.has-text-paragraphs {
    padding-top: 1rem;
  }

  .jumbotronHeader h1 {
    font-size: 5rem;
    line-height: 1.25;
    letter-spacing: 0.125rem;
    padding: 0;
    margin: 0;
  }

  .jumbotronHeader p {
    font-size: 2.325rem;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--primary-heading);
    padding: 0;
    margin: 1rem 0 0 0;
  }

  @media screen and (min-width: 950px) {
    .jumbotronHeader:not(.has-text-paragraphs) h1 {
      font-size: 13vh;
    }
    .jumbotronHeader:not(.has-text-paragraphs) p {
      font-size: 6vh;
    }
  }

  img.avatar {
    border-radius: 50%;
  }

  .sticky-header {
    position: sticky;
    top: -1px;
    z-index: 10;

    /* optional decorative styles */
    width: 100%;
    height: 2.25em;
    text-align: center;
    background-color: var(--primary-background);
  }

  .sticky-header > .wrapper {
    box-shadow: 0 7px 14px 0 rgba(29, 73, 80, 0.75);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
  }

  .sticky-header.smaller-header > .wrapper {
    max-width: 1300px;
  }

  @media (prefers-reduced-transparency) {
    .sticky-header > .wrapper {
      box-shadow: 0 7px 14px 0 rgba(29, 73, 80, 1);
    }
  }

  .sticky-header > .wrapper img.avatar {
    margin: 6px 6px -6px 6px;
  }

  .sticky-header .temporary-nav-wrapper {
    margin: 6px 1em -6px 6px;
  }

  .sticky-header.is-unstuck .unsticky-hidden {
    display: none;
  }

  /* prevent hideable part to disappear underneath menu */
  .raised-layer {
    z-index: 2000;
  }

  /* Don’t Headbutt The Browser Window by Chris Coyer
  /* https://css-tricks.com/hash-tag-links-padding/ */
  .target-offset::before {
    display: block;
    content: " ";
    margin-top: -45px;
    height: 45px;
    visibility: hidden;
    pointer-events: none;
  }

  main {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
  }

  main > section {
    width: 100%;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 99%;
    margin: 0 auto;
    z-index: 2;
  }

  .decoration {
    z-index: 1;
    position: fixed;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 5s linear 10s 1 both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .text-content-layout-children {
    padding: 0;
  }

  .text-content-layout,
  .text-content-layout-children > *,
  .privacy {
    padding: 0.5em 1em 1em 1em;
    margin: 0 0 2em 0;
    text-align: left;
    line-height: var(--body-line-height);
  }

  .privacy {
    display: block;
  }

  .text-content-color,
  .privacy {
    background-color: var(--secondary-lighter-background);
    color: var(--secondary-foreground);
  }

  .text-content-color h2,
  .text-content-color h3,
  .text-content-color h4,
  .text-content-color .aside-heading,
  .privacy h3,
  .privacy h4,
  .privacy .aside-heading {
    color: var(--secondary-heading);
  }

  .capitalized::first-letter {
    float: left;
    font-size: 3.25rem;
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  .tiled-content {
    margin: 0 1em 2em 0;
  }

  .tiled-content#projects {
    margin-right: 0;
  }

  .clear {
    clear: both;
  }

  .grid-container {
    display: flex;
    display: grid;
    clear: both;
    grid-template-columns: repeat(auto-fit, 100%);
    grid-column-gap: 3em;
    grid-row-gap: 2em;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .site-title {
    display: none;
  }

  @media (min-width: 400px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, 400px);
    }
    .site-title {
      display: inline;
    }
  }

  .grid-container > * {
    flex-basis: 49%;
    margin-bottom: 2em;
  }

  @supports (display: grid) {
    .grid-container > * {
      margin-bottom: 0;
    }
  }

  .grid-container.skills {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-column-gap: 1em;
  }

  @media (min-width: 410px) {
    .grid-container.skills {
      grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    }
  }

  .text-width,
  .text-width-children > * {
    max-width: 1300px;
    width: 90%;
  }

  .text-center {
    margin-left: auto;
    margin-right: auto;
  }

  .semitransparent .text-width {
    width: 70%;
  }

  .tile img.project-thumb {
    width: 4em;
    height: 4em;
    float: right;
    margin: 1em 0 1em 1em;
  }

  .tile img.project-thumb--shrink {
    width: 3.5em;
    height: 3.5em;
  }

  .tile img.project-thumb--grow {
    height: 4.625em;
    width: 4.625em;
    margin-left: 0.5em;
  }

  .tile img.project-thumb--kleiderordnung {
    margin: 0 .5em 2em 3em;
  }

  .tile img.project-thumb--atomic-design-system {
    margin: 2em 0 1em 1em;
  }

  .tile img.project-thumb--wordpress-woo {
    margin: 0 0 1em 1em;
  }

  .tile img.project-thumb--daskannstdutun {
    width: 5em;
    height: 5em;
    margin: 1.5em 0 0.5em 1em;
  }

  .tile img.project-thumb--planted,
  .tile img.project-thumb--shopwareplugin {
    margin-right: 0.5em;
  }

  .tile img.project-thumb--shopwareplugin {
    margin-top: 3rem;
  }

  .tile img.project-thumb--twistedconnection {
    margin-top: 2.5rem;
    margin-right: 1.5rem;
  }

  .tile img.project-thumb--portfolio {
    margin-bottom: 1.5rem;
  }

  .row {
    display: block;
    display: flex;
    flex-direction: row;
  }

  .row > * {
    float: left;
  }

  .page-navigation {
    position: relative;
    display: none;
  }

  .credits {
    font-size: 0.75rem;
  }

  .visually-hidden {
    display: none;
  }

  .initially-hidden {
    display: none;
  }

  .initially-hidden:target {
    display: block;
  }

  .mb0 {
    margin-bottom: 0;
  }

  .pb3 {
    padding-bottom: 3em;
  }

  a.tw-btn,
  a.tw-btn:link,
  a.tw-btn:visited,
  a.tw-btn:active,
  a.tw-btn:hover {
    background-color: #0c7abf;
    color: #fff;
    display: inline-block;
    border-radius: 0.25em;
    margin: 0.0325em 0.25em 0.25em 0;
    padding: 0.2em 0.5em 0.2em 0.25em;
    text-decoration: none;
  }

  a.gh-btn,
  a.gh-btn:link,
  a.gh-btn:visited,
  a.gh-btn:active,
  a.gh-btn:hover {
    background-color: #24292e;
    color: #fff;
    display: inline-block;
    border-radius: 0.25em;
    margin: 0.0325em 0.25em 0.25em 0;
    padding: 0.15em 0.5em 0.25em 0.2em;
    text-decoration: none;
  }

  .social-btn svg {
    margin: 0 0.25em 0 0.25em;
  }

  .sticky-header a:link,
  .sticky-header a:visited,
  .sticky-header a:active,
  .page-navigation a:link,
  .page-navigation a:visited,
  .page-navigation a:active {
    color: #fff;
    text-decoration: none;
  }
}

@media only screen and (max-width: 768px) {
  .text-width,
  .semitransparent .text-width {
    width: 90%;
  }
  .jumbotronHeader {
    height: auto;
    min-height: calc(100vh - 5rem);
    min-height: 100dvh;
  }
  .jumbotronHeader h1 {
    font-size: min(5rem, 18vh);
    font-size: min(5rem, 18dvh);
  }
  img.avatar {
    max-height: 40vh;
    max-height: 40dvh;
    width: auto;
  }
}

@media only screen and (max-width: 440px) {
  /* no min-width on small screens,
   * reduce fixed spacing
   */

  .tiled-content {
    margin-right: 2px;
  }

  .grid-container {
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 1em;
  }

  ul.grid-container {
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-column-gap: 0;
  }

  .jumbotronHeader img.avatar {
    margin-bottom: 2em;
    height: auto;
  }

  .jumbotronHeader p {
    line-height: 1.25;
    padding-top: 0.5rem;
  }

  .jumbotronHeader h1 {
    font-size: 3.5em;
    font-size: min(3.5em, 18vh);
    font-size: min(3.5em, 18dvh);
  }

  h2,
  h3,
  h4 {
    font-size: 1.3125rem;
  }

  .pl1 {
    padding-left: 0.5em;
  }

  .text-content-layout {
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-bottom: 1em;
  }

  .text-width,
  .semitransparent .text-width {
    width: 95%;
  }

  ul.social-links {
    max-width: 99%;
    padding-left: 0;
    padding-right: 0;
  }

  ul.social-links li {
    padding: 0;
  }

  ul.social-links a {
    padding: 0.5em;
  }

  .skills-wrapper {
    padding-left: 0;
  }

  .skills-wrapper h3,
  .skills-wrapper h4 {
    padding-left: 0.5em;
  }

  ul.skills > .tile {
    padding-left: 0;
  }

  ul.skills > .tile ul,
  ul.skills > .tile li {
    padding-right: 0;
  }

  .hashtags {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 375px) {
  .jumbotronHeader h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  .jumbotronHeader p {
    line-height: 1.5;
    font-size: 2.25em;
  }
}

@media only screen and (max-width: 440px) and (max-height: 555px) {
  .jumbotronHeader {
    margin-top: 0;
  }
  .jumbotronHeader h1,
  .jumbotronHeader img.avatar {
    margin-bottom: 0.25em;
  }
  .jumbotronHeader p {
    line-height: 1.1;
    font-size: 8vh;
    font-size: 8dvh;
  }
}

@media screen and (prefers-reduced-motion) {
  .decoration {
    display: none;
    animation: none;
  }
}
