@import 'design-tokens.css';

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('fonts/montserrat-v15-latin-ext_latin-regular.woff2') format('woff2'),
    url('fonts/montserrat-v15-latin-ext_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  src:
    local(''),
    url('fonts/bitter-v16-latin-700.woff2') format('woff2'),
    url('fonts/bitter-v16-latin-700.woff') format('woff');
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.75;
  font-family: var(--sans-font-family);
  font-weight: var(--body-font-weight);
  color: var(--primary-foreground);
  background-color: var(--primary-background);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
#sticky-headline,
#sticky-headline a {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  letter-spacing: 0.0125rem;
  color: var(--primary-heading);
}

h2,
h3,
h4 {
  font-size: 1.5rem;
  line-height: 1.5;
}

@media only screen {
  .only-print {
    display: none;
  }

  .page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .hero-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
  }

  .hero-header h1 {
    font-size: 5rem;
    font-size: 13vh;
    line-height: 1.25;
    letter-spacing: 0.125rem;
    padding: 0;
    margin: 0;

    /* gradient on text */
    background: -webkit-linear-gradient(var(--gradient-heading), var(--primary-heading));
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero-header p {
    font-size: 2.325rem;
    font-size: 6vh;
    font-family: var(--body-font);
    font-weight: var(--body-font-weight);
    color: var(--primary-heading);
    padding: 0;
    margin: 0;
  }

  img.avatar {
    border-radius: 50%;
  }

  .sticky-header {
    position: sticky;
    top: -1px;
    z-index: 10;

    /* optional decorative styles */
    width: 100%;
    height: 2.25em;
    text-align: center;
    background-color: var(--primary-background);
  }

  .sticky-header > .wrapper {
    box-shadow: 0 7px 14px 0 rgba(29, 73, 80, 0.75);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
  }

  .sticky-header > .wrapper img.avatar {
    margin: 6px 6px -6px 6px;
  }

  .sticky-header .temporary-nav-wrapper {
    margin: 6px 1em -6px 6px;
  }

  .sticky-header.is-unstuck .unsticky-hidden {
    display: none;
  }

  /* prevent hideable part to disappear underneath menu */
  .raised-layer {
    z-index: 2000;
  }

  /* Don’t Headbutt The Browser Window by Chris Coyer
  /*https://css-tricks.com/hash-tag-links-padding/ */
  .target-offset::before {
    display: block;
    content: " ";
    margin-top: -45px;
    height: 45px;
    visibility: hidden;
    pointer-events: none;
  }

  main {
    max-width: 1500px;
    margin: 0 auto;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .text-content-layout,
  .privacy {
    padding: 0.5em 0 1em 1em;
    margin: 0 0 2em 0;
  }

  .privacy {
    display: block;
  }

  .text-content-color,
  .privacy {
    background-color: var(--secondary-background);
    color: #000;
  }

  .text-content-color h2,
  .text-content-color h3,
  .text-content-color h4,
  .privacy h3,
  .privacy h4 {
    color: var(--secondary-heading);
  }

  .capitalized::first-letter {
    float: left;
    font-size: 3.25rem;
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  .tiled-content {
    background-color: var(--primary-background);
    margin: 0 1em 2em 0;
  }

  section,
  .clear {
    clear: both;
  }

  .grid-container {
    display: flex;
    display: grid;
    clear: both;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    grid-column-gap: 3em;
    grid-row-gap: 2em;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .grid-container > * {
    flex-basis: 49%;
    margin-bottom: 2em;

    @supports (display: grid) {
      margin-bottom: 0;
    }
  }

  ul.grid-container {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-column-gap: 1em;
  }

  .text-width {
    max-width: 1300px;
  }

  .tile img.project-thumb {
    width: 4em;
    height: 4em;
    float: right;
    margin: 1em;
  }

  .row {
    display: block;
    display: flex;
    flex-direction: row;
  }

  .row > * {
    float: left;
  }

  .page-navigation {
    position: relative;
    display: none;
  }

  .credits,
  .decoration {
    font-size: 0.75rem;
  }

  .visually-hidden {
    display: none;
  }

  @supports selector(*:target) {
    .initially-hidden {
      display: none;
    }

    .initially-hidden:target {
      display: block;
    }
  }

  a.tw-btn,
  a.tw-btn:link,
  a.tw-btn:visited,
  a.tw-btn:active,
  a.tw-btn:hover {
    background-color: #0c7abf;
    color: #fff;
    display: inline-block;
    border-radius: 0.25em;
    margin: 0.0325em 0.25em 0.25em 0;
    padding: 0.2em 0.5em 0.2em 0.25em;
    text-decoration: none;
  }

  a.gh-btn,
  a.gh-btn:link,
  a.gh-btn:visited,
  a.gh-btn:active,
  a.gh-btn:hover {
    background-color: #24292e;
    color: #fff;
    display: inline-block;
    border-radius: 0.25em;
    margin: 0.0325em 0.25em 0.25em 0;
    padding: 0.15em 0.5em 0.25em 0.2em;
    text-decoration: none;
  }

  .social-btn svg {
    margin: 0 0.25em 0 0.25em;
  }

  .sticky-header a:link,
  .sticky-header a:visited,
  .sticky-header a:active,
  .page-navigation a:link,
  .page-navigation a:visited,
  .page-navigation a:active {
    color: #fff;
    text-decoration: none;
  }
}

@media only screen and (max-width: 440px) {
  /* no min-width on small screens,
   * reduce fixed spacing
   */
  .grid-container {
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 1em;
  }

  ul.grid-container {
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-column-gap: 0;
  }

  img.avatar {
    max-width: 50%;
    height: auto;
  }

  .hero-header h1 {
    font-size: 3.75em;
  }

  h2,
  h3,
  h4 {
    font-size: 1.3125rem;
  }

  .pl1 {
    padding-left: 0.5em;
  }

  .text-content-layout {
    padding-left: 0.5em;
    margin-bottom: 1em;
  }

  ul.social-links li {
    padding: 0 1em 0 0;
  }

  .skills-wrapper {
    padding-left: 0;
  }

  .skills-wrapper h3,
  .skills-wrapper h4 {
    padding-left: 0.5em;
  }

  ul.skills > .tile {
    padding-left: 0;
  }

  ul.skills > .tile ul,
  ul.skills > .tile li {
    padding-right: 0;
  }

  /* adjust too narrow margin on iOS */
  .tile h3 {
    margin-top: 1em;
  }
}
