@import 'design-tokens.css';

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('fonts/montserrat-v15-latin-ext_latin-regular.woff2') format('woff2'),
    url('fonts/montserrat-v15-latin-ext_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src:
    local(''),
    url('fonts/montserrat-v15-latin-ext_latin-800.woff2') format('woff2'),
    url('fonts/montserrat-v15-latin-ext_latin-800.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('fonts/raleway-v18-latin-ext_latin-regular.woff2') format('woff2'),
    url('fonts/raleway-v18-latin-ext_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src:
    local(''),
    url('fonts/raleway-v18-latin-ext_latin-italic.woff2') format('woff2'),
    url('fonts/raleway-v18-latin-ext_latin-italic.woff') format('woff');
}

html {
  font-size: 100%;
}

body {
  line-height: 1.75;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--primary-background);
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-size: 1.5rem;
  color: var(--primary-heading);
  font-family: Raleway, Helvetica, sans-serif;
}

aside {
  font-size: 0.75rem;
}

h1 {
  text-align: center;
}

h2 {
  margin: 4px auto 10px auto;
}

h3 {
  margin: 14px auto 10px auto;
}

.clr {
  clear: both;
}

.flr {
  float: right;
}

.innercontainer {
  padding: 1em;
  margin-bottom: 0.5em;
  position: relative;
  border: solid 0 #ccf;
  clear: both;
  border-radius: 0.25em;
}

.innercontainer section {
  display: block;
  margin-bottom: 1.75em;
  padding: 0.5em 0 0 0;
  text-align: left;
}

.innercontainer ul {
  padding: 0 0 0 1.5em;
}

.posrel {
  position: relative;
}

/* hacky preview */
.menu-circle {
  position: absolute;
  background: #fff;
  border: solid 1px silver;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
}

.menu-circle.m1 {
  bottom: 30%;
  right: -10%;
}

.menu-circle.m2 {
  bottom: 10%;
  right: 5%;
}

.menu-circle.m3 {
  bottom: -5%;
  right: 25%;
}

.visuallyhidden {
  display: none;
}

.right {
  float: right;
  position: relative;
  right: 0;
  top: 0;
  text-align: right;
}

img.photo {
  border-radius: 50%;
}

a.tw-btn,
a.tw-btn:link,
a.tw-btn:visited,
a.tw-btn:active,
a.tw-btn:hover {
  background-color: #0c7abf;
  color: #fff;
  display: inline-block;
  border-radius: 0.25em;
  margin: 0.0325em 0.25em 0.25em 0;
  padding: 0.2em 0.5em 0.2em 0.25em;
  text-decoration: none;
}

a.gh-btn,
a.gh-btn:link,
a.gh-btn:visited,
a.gh-btn:active,
a.gh-btn:hover {
  background-color: #24292e;
  color: #fff;
  display: inline-block;
  border-radius: 0.25em;
  margin: 0.0325em 0.25em 0.25em 0;
  padding: 0.15em 0.5em 0.25em 0.2em;
  text-decoration: none;
}

.social-btn svg {
  margin: 0 0.25em 0 0.25em;
}

@media only screen and (max-width: 600px) {
  .outercontainer { margin: 0 2px 5px 2px; }
  .innercontainer { padding: 5px; }
  h1 { margin: 5px 5px 8px 0; }
  .social-btn svg { margin: 0 1em; }
  .social-btn span { display: none; }
}

@media only screen and (min-width: 640px) {
  .innercontainer section {
    /* fallback to override by grid styling */
    max-width: 640px;
    margin: 0 auto;
  }
}
