:root {
  /* define possible colors,
   * postcss-custom-properties : preserve: false
   * => only export properties that are actually used
   * blau- und grüntöne
   * sea-green had not enough contrast against white */
  --rrrevolve-light-green: #b3e2c2;
  --classof-green: #3cb87a;
  --deep-green: #017d63;
  --ringana-spermidine-green: #1d4950;
  --ai-aqua2021: #01a6ba;
  --ethereal-blue: #008eb4;
  --uxdesign-blue: #6440fa;
  --ayodele-blue: #114791;
  --surftheweb-pantone: #203c7f;
  --vintage-indigo: #4a556b;
  --interior-wall: #436163;
  --brava-shirt-blue: #122836;
  --recolution-greenish-blue: #053245;
  --recolution-greenish-blue-darker: #11232d;
  --fashion-balance-blue: #366579;
  --organic-fashion-blue: #6b8aa9;
  --midnight-blue: #060a34;
  --ringana-blouse-green: #6b868f;

  /* TODO gebliche hervorhebung von links im Textmarkerstil, animiert, on hover */
  --orangedrippalette-yellow: #f8bc24;
  --rippedpalette-yellow: #f4d83d;
  --pantone-illuminating: #f5df4d; /* Pantone 13-0647 TCX Spring Summer 2021 */
  --light-yellowish: #fffcf0;
  --monolith-yellow: #fddc03;
  --trendy-beige: #f3db6d;
  --dirty-orange: #cf7626;
  --brava-orange: #df814b;
  --apairandaspare2021: #b86323;
  --wetell-orange: #b4641f;
  --interior-rose: #c78b69;

  /* rottöne und violett */
  --oxy-fire: #dc4942;
  --exuberant-orange-pantone: #ff582d;
  --bogart-red: #d04339;
  --ringana-omega-purple: #623144;
  --hazel-sweater-purple: #3d2945;
  --hazel-sweater-brown: #a07161;

  /* helle hintergründe sowie grautöne */
  --palo-rose: #fedbbd;
  --pantone-buttercream: #efe1ce; /* spring summer 21 */
  --brava-merino-lighter: #ebeff2;
  --brava-merino-light: #bbbfc2;
  --brava-merino-dark: #78797b;
  --stormy-weather-pantone: #58646d;
  --odyssey-gray: #393846;
  --pantone-inkwell: #363945; /* spring summer 2021 */

  /* export theme colors */
  --primary-color: #000;
  --primary-heading: var(--brava-merino-lighter);
  --gradient-heading: var(--brava-merino-light);
  --secondary-heading: var(--recolution-greenish-blue);
  --link-hover: var(--surftheweb-pantone);
  --primary-background: var(--ringana-spermidine-green);
  --secondary-background: var(--pantone-buttercream);
  --peel-gradient: var(--recolution-greenish-blue);
  --peel-gradient-semitrans: rgba(5, 50, 69, 0.75);
  --peel-text-line-bg: rgba(0, 128, 0, 0.75);
  --confirm-color: var(--deep-green);
  --warning-color: var(--uxdesign-yellow);
  --error-color: var(--oxy-fire);
  --border-base: var(--apairandaspare2021);
  --hashtag-default: var(--surftheweb-pantone);
  --hashtag-green: var(--ringana-spermidine-green);
  --hashtag-blue: var(--uxdesign-blue);

  /* export typography */
  --body-font-family: 'Montserrat', 'Helvetica', sans-serif;
  --body-font-weight: 400;
  --heading-font-family: 'Kadwa', serif;
  --heading-font-weight: 700;
}
