<footer class="page-footer">
  <p class="legal legal--links no-print">
    <a href="https://www.ingo-steinke.de/#contact">Kontakt</a>
    <a href="https://www.ingo-steinke.de/#imprint">Impressum</a>
    <a href="https://www.ingo-steinke.de/#privacy">Datenschutz</a>
  </p>
  <p class="landingpage--links no-print">
    <a href="https://www.ingo-steinke.de/wordpress-website-nachhaltig-optimieren-lassen/" title="Wordpress-Website nachhaltig optimieren lassen">WordPress</a>
    <a href="https://www.ingo-steinke.de/zertifizierter-shopware-6-frontend-webentwickler/" title="Zertifizierter Shopware 6 + Frontend Webentwickler">Shopware</a>
    <a href="https://www.ingo-steinke.de/webseiten-klimafreundlich-barrierefrei-optimieren/" title="Webseiten klimafreundlich und barrierefrei optimieren lassen">Nachhaltigkeit</a>
  </p>
  <div class="center transparent no-print"><p><a href="https://ecograder.com/report/xIVJ8Ub1j74pqr6JQ45iClLA" target="_blank" rel="noopener" title="In October 2023, this page scored better than 89% of all URLs crawled by Ecograder.">Ecograder Score: 97/100 (0.05 g CO₂e)</a></p></div>
  <div class="badges"><div class="badge badge--greenweb transparent no-print"><a href="https://www.thegreenwebfoundation.org/green-web-check/?url=https%3A%2F%2Fwww.ingo-steinke.de%2F" target="_blank" rel="noopener"><picture><source srcset="https://www.ingo-steinke.de/img/badge-greencheckimage-www.ingo-steinke.de-2023.webp" type="image/webp"><source srcset="https://www.ingo-steinke.de/img/badge-greencheckimage-www.ingo-steinke.de-2023.png" type="image/png"><img src="https://www.ingo-steinke.de/img/badge-greencheckimage-www.ingo-steinke.de-2023.png" data-original-src="https://api.thegreenwebfoundation.org/greencheckimage/www.ingo-steinke.de?nocache=true" alt="This website is hosted Green by goneo Internet GmbH - checked by thegreenwebfoundation.org"></picture></a></div></div>
  <div class="only-print"><br></div><div class="legal legal--copyright">© 2024 Ingo Steinke</div>
</footer>
