{%- assign projectHeadline = 'Maintenance and Development' -%}
{%- assign projectHashtags = 'PHP Symfony WordPress JavaScript CSS' -%}
{%- assign projectTimestamp = '' -%}
{%- assign projectIconSlug = 'wordpress' -%}
{% capture projectDescription -%}
  In addition to long-term support for my regular clients, I have also taken over the maintenance of existing projects for new clients, such as <a rel="noopener" target="_blank" href="https://www.linuxhotel.de/">Linuxhotel</a>, a training and conference hotel.
  <br><br>
  This included improving loading performance and SEO, as well as extending and optimizing a complex, multilingual course scheduling system.
{% endcapture %}
