{%- assign projectHeadline = 'Climate Psychology' -%}
{%- assign projectHashtags = 'WordPress CSS JavaScript' -%}
{%- assign projectImgAlt = 'Screenshot der Website' -%}
{%- assign projectImgWidth = '1109' -%}
{%- assign projectImgHeight = '990' -%}
{%- assign projectLinkUrl = 'https://daskannstdutun.de/' -%}
{% capture projectDescription -%}
A collaboration between <a href="https://creativesforfuture.de/" target="_blank" rel="noopener">Creatives for Future</a> and <a href="https://www.psy4f.org/" target="_blank" rel="noopener">Psychologists for Future</a> , the voluntary impact campaign "You can do it" ("Das kannst du tun")" supports mental health and ecological action. I optimised the responsive display. <a href="https://daskannstdutun.de/" target="_blank" rel="noopener" class="print-display-block">daskannstdutun.de</a>
{% endcapture %}
