<header>
  <h3>Climate Psychology Campaign</h3>
</header>
<p>
  {{ 'daskannstdutun' | svgIcon }}
  <span class="text-line">A collaboration between <a href="https://creativesforfuture.de/" target="_blank" rel="noopener">Creatives for Future</a> and <a href="https://www.psy4f.org/" target="_blank" rel="noopener">Psychologists for Future</a> , the voluntary impact campaign ""You can do it" ("Das kannst du tun")" supports mental health and ecological action. I optimised the responsive display. <a href="https://daskannstdutun.de/" target="_blank" rel="noopener" class="print-display-block">daskannstdutun.de</a></span>
</p>
{%- assign hashtags = 'WordPress Elementor CSS' | split: ' ' -%}
