{%- assign projectHeadline = 'Astro + React Web App' -%}
{%- assign projectHashtags = 'Astro React TypeScript Tailwind Playwright' -%}
{%- assign projectLinkUrl = 'https://dev-UX-Lesezeichen.de/' -%}
{%- assign projectTimestamp = '2025' -%}
{%- assign projectIconSlug = 'reactapp' -%}
{% capture projectDescription -%}
  Proof of Concept of a performant, modular web app for an interactive presentation of IT textbooks. Quality assurance using Storybook, Vitest and Playwright. I published the specially developed front-end module <a href="https://www.npmjs.com/package/hexagonal-masonry-placement" target="_blank" rel="noopener">hexagonal-masonry-placement</a> as open source software on GitHub and npm.
{% endcapture %}
