{%- assign projectHeadline = 'Online Shop' -%}
{%- assign projectHashtags = 'WordPress WooCommerce PHP CSS' -%}
{%- assign projectImgAlt = 'Screenshot der Website' -%}
{%- assign projectLinkUrl = 'https://foodtogether.de/' -%}
{% capture projectDescription -%}
I support the farm food shop <a href="https://foodtogether.de/" target="_blank" rel="noopener">Food Together</a> by enhancing the full site editing block theme for their WooCommerce shop.<br><a href="https://foodtogether.de/wer-wir-sind/" target="_blank" rel="noopener">foodtogether.de/wer-wir-sind</a>
{% endcapture %}
