<header>
  <h3>Atomic Design System</h3>
</header>
<p>
  {{ 'fractal' | svgIcon }}
  <span class="text-line">
    As senior lead developer on a team of front-end web developers, I developed a modular system for the relaunch of an international corporate customer's multiple websites. The
     <a
       href="https://fractal.build/"
       target="_blank"
       rel="noopener"
     >Fractal</a>
     framework served as a technical basis.</span>
</p>
{%- assign hashtags = "HTML CSS Fractal Handlebars Webpack" | split: " " -%}
