{%- assign projectHeadline = 'Design System' -%}
{%- assign projectHashtags = 'HTML CSS Fractal Handlebars' -%}
{%- assign projectImgAlt = 'Example setup screenshot' -%}
{%- assign projectImgWidth = '1109' -%}
{%- assign projectImgHeight = '990' -%}
{%- assign projectLinkUrl = 'https://github.com/openmindculture/fractal-build-example' -%}
{% capture projectDescription -%}
As senior lead developer on a team of front-end web developers, I developed a modular system for the relaunch of an international corporate customer's multiple websites. The
     <a
       href="https://fractal.build/"
       target="_blank"
       rel="noopener"
     >Fractal</a>
     framework served as a technical basis.
{% endcapture %}
