{%- assign projectHeadline = 'Style Consultant Portfolio' -%}
{%- assign projectHashtags = 'HTML CSS JavaScript PHP WordPress' -%}
{%- assign projectImgAlt = 'Screenshot der Website' -%}
{%- assign projectLinkUrl = 'https://kleiderordnung.berlin/' -%}
{%- assign projectTimestamp = '2023' -%}
{% capture projectDescription -%}
Kleiderordnung.Berlin is sustainable stylist Tina Steinke's portfolio website,
  based on my best practice WordPress theme template.
  Source code:
  <a class="codelink" href="https://github.com/openmindculture/kleiderordnung-berlin" target="_blank" rel="noopener">
    github.com/openmindculture/kleiderordnung-berlin
  </a>
  Website:
{% endcapture %}
