{%- assign projectHeadline = 'Fashion Consultant Portfolio' -%}
{%- assign projectHashtags = 'HTML CSS JavaScript PHP WordPress' -%}
{%- assign projectImgAlt = 'Screenshot der Website' -%}
{% capture projectDescription -%}
 <a
   href="https://kleiderordnung.berlin/"
   title="www.kleiderordnung.berlin"
   target="_blank"
   rel="noopener"
 >Kleiderordnung.Berlin</a>
 is sustainable stylist Tina Steinke's portfolio website<br></span>
<span class="only-print code-link">github.com/openmindculture/kleiderordnung-berlin<br></span>
<span class="text-line">Quellcode:<br></span>
<span class="text-line"><a
class="code-link"
href="https://github.com/openmindculture/kleiderordnung-berlin"
target="_blank"
rel="noopener"
>github.com/openmindculture/kleiderordnung-berlin</a>
{% endcapture %}
