{%- assign header = 'Frontend Enhancement' -%}
{%- assign hashtags = 'Webflow JavaScript HTML CSS' | split: ' ' -%}
After doing a <a href="https://www.climatefounders.com/climate-hack" target="_blank" rel="noopener">ClimateHack</a> project together in 2021, I supported the Cologne based startup <a href="https://planted.green" target="_blank" rel="noopener">Planted</a> by enhancing a webflow project, integrating payment providers, and onboarding a new developer. <span class="only-print code-link">https://planted.green</span>
