{%- assign projectHeadline = 'Developer Portfolio' -%}
{%- assign projectHashtags = 'Eleventy Liquid HTML CSS JavaScript' -%}
{%- assign projectImgAlt = 'Screenshot der Website' -%}
{%- assign projectImgWidth = '1109' -%}
{%- assign projectImgHeight = '990' -%}
{%- assign sourceLinkUrl = 'https://github.com/openmindculture/ingo-steinke.de' -%}
{%- assign projectTimestamp = '2021 - 2025' -%}
{%- assign projectIconSlug = 'portfolio' -%}
{% capture projectDescription -%}
  My relaunched portfolio at <a href="https://www.ingo-steinke.com/">Ingo-Steinke.com</a> reflects my work as a web developer.
  Minimalist design, modern typography, fast loading time (97/100 Page Speed Performance Score) and environmentally friendly web technology characterise my professional portfolio.
{% endcapture %}
