{%- assign projectHeadline = 'Developer Portfolio' -%}
{%- assign projectHashtags = 'HTML CSS JavaScript Liquid Eleventy' -%}
{%- assign projectImgAlt = 'Screenshot der Website' -%}
{%- assign projectImgWidth = '1109' -%}
{%- assign projectImgHeight = '990' -%}
{%- assign sourceLinkUrl = 'https://github.com/openmindculture/ingo-steinke.de' -%}
{%- assign projectTimestamp = '2012 - 2024' -%}
{% capture projectDescription -%}
  My relaunched portfolio at <a href="https://www.ingo-steinke.com/">Ingo-Steinke.com</a> reflects my work as a web developer.
  Minimalist design, modern typography, and cutting-edge technology characterise
  my professional portfolio.
{% endcapture %}
