<header>
  <h3>Portfolio Relaunch</h3>
</header>
<p>
  {{ 'portfolio' | svgIcon }}
  <span class="text-line">My relaunched portfolio at <a href="https://www.ingo-steinke.com/">Ingo-Steinke.com</a> reflects my work as a web developer. Minimalist design, modern typography, cutting-edge technology, and extensive textual revisions characterise my updated professional portfolio. Source Code:<br><a class="code-link" href="https://github.com/openmindculture/ingo-steinke.de" target="_blank" rel="noopener">github.com/openmindculture/ingo-steinke.de</a></span>
</p>
{%- assign hashtags = 'HTML 5 CSS 3 JavaScript Liquid Eleventy' | split: ' ' -%}
