{%- assign projectHeadline = 'Portfolio Relaunch' -%}
{%- assign projectHashtags = 'HTML 5 CSS 3 JavaScript Liquid Eleventy' -%}
{%- assign projectImgAlt = 'Screenshot der Website' -%}
{% capture projectDescription -%}
My relaunched portfolio at <a href="https://www.ingo-steinke.com/">Ingo-Steinke.com</a> reflects my work as a web developer. Minimalist design, modern typography, cutting-edge technology, and extensive textual revisions characterise my updated professional portfolio. Source Code:<br><a class="code-link" href="https://github.com/openmindculture/ingo-steinke.de" target="_blank" rel="noopener">github.com/openmindculture/ingo-steinke.de</a>
{% endcapture %}
