{%- assign header = 'React Web App' -%}
{%- assign hashtags = 'React JSX ES6 CSS-in-JS Storybook' | split: ' ' -%}
wao.io's graphical platform user interface visualised technical data and allowed webmasters to configure how their websites are optimised. I developed and updated app components <a href="http://web.archive.org/web/20230129234614/https://wao.io/de/about-us/experts/ingo-steinke/" title="wao.io/de/about-us/experts/ingo-steinke" target="_blank" rel="noopener">as a member of the front-end and support team</a>.
