{%- assign projectHeadline = 'React Web App' -%}
{%- assign projectHashtags = 'React JSX ES6 CSS-in-JS Storybook' -%}
{%- assign projectImgAlt = 'former website screenshot' -%}
{%- assign projectImgWidth = '1109' -%}
{%- assign projectImgHeight = '990' -%}
{%- assign projectTimestamp = '2017 - 2020' -%}
{% capture projectDescription -%}
wao.io's graphical platform user interface visualised technical data and allowed webmasters to configure how their
  websites are optimised. I developed and updated app components as a member of the front-end and support team.<br>
  <a class="code-link print-display-block breakable" href="https://www.ingo-steinke.com/projects/reactapp-react-jsx-javascript-css.html">Case Study: React-App</a>
{% endcapture %}
