<header>
  <h3>Plugin for Shopware</h3>
</header>
<p>
  {{ 'shopwareplugin' | svgIcon }}
  <span class="text-line">Sustainability in e-commerce also includes price transparency. My free plugin <a href="https://store.shopware.com/en/ingos57544164693f/cost-transparency.html" target="_blank" rel="noopener">"Cost Transparency"</a> extends the product details in Shopware 6, adding an interactive graphic that illustrates different shares of the total price. <span class="only-print code-link">store.shopware.com/en/detail/index/sArticle/11634729/number/IngoS57544164693</span></span>
</p>
{%- assign hashtags = 'Shopware 6 PHP Twig CSS JavaScript' | split: ' ' -%}
