{%- assign header = 'WordPress Optimization' -%}
{%- assign hashtags = 'WordPress BrowserStack PageSpeed CSS' | split: ' ' -%}
I extended the content and improved loading speed, accessibility, and mobile display of various WordPress websites like <a href="https://www.malte-reiter.de/" target="_blank" rel="noopener">Malte-Reiter.de</a>, a sustainable photographer's portfolio including gallery pages with a lot of existing images.
