{%- assign projectHeadline = 'WordPress Optimization' -%}
{%- assign projectHashtags = 'WordPress PageSpeed CSS PHP' -%}
{%- assign projectImgAlt = 'Screenshot der Website' -%}
{%- assign projectLinkUrl = 'https://www.ingo-steinke.com/services/wordpress-websites-sustainability.html' -%}
{% capture projectDescription -%}
I extended the content and improved loading speed, accessibility, and mobile display of various
  WordPress websites like
  <a href="https://www.malte-reiter.de/" target="_blank" rel="noopener">Malte-Reiter.de</a>,
  a sustainable photographer's portfolio including gallery pages with a lot of existing images.
{% endcapture %}
