<!DOCTYPE html><html lang="de"><head><meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>zertifizierter Shopware 6 + Frontend Webentwickler</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body>
<div class="page-container" id="top"><div class="page-content">
<header class="jumbotronHeader" id="jumbotronHeader">
<h1>Zertifizierter Shopware 6 + Frontend Webentwickler</h1>
<p>Ingo Steinke, nachhaltiger und kreativer Webentwickler aus Berlin, ist <a href="https://www.ingo-steinke.de/Shopware-6-Certified-Developer-Ingo-Steinke-de.pdf" target="_blank">als Shopware 6 Developer zertifiziert</a> und erfahren in der Entwicklung und Optimierung responsiver, barrierefreier und performanter Websites.</p>
<p>Bei einem unverbindlichen und kostenlosen Erstgespräch kann Ingo dich kompetent und verständlich beraten.
Schau dir Ingos <a href="https://www.ingo-steinke.de/#projects">Referenzen</a> und <a href="https://www.ingo-steinke.de/#skills">Fachkenntnisse</a> auf seiner Website an oder <a href="#contact">melde dich gleich persönlich!</a></p>
</header>
<main id="content-top" class="target-offset">
{% include '../_includes/section-imprint-contact.liquid' %}
</main>
{% include '../_includes/page-footer.liquid' %}
</div>
</div>
</body>
</html>
