---
tags: addtositemap
imgdirectory: "../img"
previewdescription: "Ingo Steinke, Webentwickler aus Berlin, ist zertifizierter Shopware 6 Developer, Shopware Extension Partner und erfahren in der Entwicklung und Optimierung responsiver und barrierefreier Websites."
permalink: "zertifizierter-shopware-6-frontend-webentwickler/index.html"
canonicalhref: "https://www.ingo-steinke.de/zertifizierter-shopware-6-frontend-webentwickler/"
canonicalhreflang: "de"
alternatelink: "https://www.ingo-steinke.com/services/certified-shopware-developer-berlin.html"
alternatehreflang: "en"
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Zertifizierter Shopware 6 + Frontend Webentwickler in Berlin</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top">
  <div class="page-content">
    <header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
      <h1>Zertifizierter Shopware 6 + Frontend Webentwickler in Berlin</h1>
      <a href="/Shopware-6-Certified-Developer-Ingo-Steinke-de.pdf" target="_blank"><img
          src="../img/shopware6-certified-developer.png" width="729" height="321" alt="Shopware 6 Certified Developer"
          style="width:26rem;max-width:80%;height:auto;"></a>
      <p>Ingo Steinke, Webentwickler aus Berlin, ist <a
          href="/Shopware-6-Certified-Developer-Ingo-Steinke-de.pdf" target="_blank">als
          Shopware 6 Developer zertifiziert</a> und erfahren in der Entwicklung und Optimierung responsiver und
        barrierefreier Websites.</p>
      <p>Bei einem unverbindlichen und kostenlosen Erstgespräch kann Ingo dich kompetent und verständlich beraten.
        Schau dir Ingos <a href="/ueber-mich.html#projects">Referenzen</a> und <a
          href="/ueber-mich.html#skills">Fachkenntnisse</a> an oder <a href="#contact">melde dich gleich
          persönlich!</a></p>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid' %}
    <main id="content-top" class="target-offset">

      <section class="text-content-layout text-content-color">
        <h2>Wie können wir deine Shopware-Storefront optimieren?</h2>
        <article class="text-width">
          <ul class="aside-heading">
            <li>Ist dein Shop schon nachhaltig und barrierefrei?</li>
            <li>Bist du zufrieden mit der Geschwindigkeit deiner Storefront?</li>
            <li>Möchtest du mit gezielten Optimierungen deine Shop-Performance verbessern?</li>
            <li>Suchst du einen Freelancer zur Ergänzung deines Shopware-Teams?</li>
          </ul>

          <p>Ingo Steinke ist zertifizierter Shopware 6 Entwickler, <a href="https://store.shopware.com/ingo-steinke.html" target="_blank" rel="noopener">Extension Partner</a>
            und Mitglied der Shopware United Community.</p>
          <h3>Umweltfreundliche und DSGVO-konforme E-Commerce-Lösungen</h3>
          <p>Shopware ist als kostenlose Community-Edition frei verfügbar und baut auf der Open-Source-Software Symfony
            auf. Als europäische Lösung mit unterschiedlichen Hosting-Optionen ist Shopware eine gute Alternative zu
            bekannten Cloud-Anbietern, da wir als Shopbetreiber:innen bzw. Webentwickler:innen die volle Kontrolle über
            unseren Shop behalten, nicht zuletzt auch, um den hohen Ansprüchen unserer Kundschaft bezüglich Datenschutz,
            Umweltfreundlichkeit und fairem Handel zu genügen.
          </p>
          <p>Zur Shopware-Entwicklung gehört auch die Optimierung des Frontends, auch Storefront genannt, um es
            attraktiv, informativ, barrierefrei und schnell geladen ist.</p>
          <h3>Nachhaltige Preistransparenz</h3>
          <p>Zur Nachhaltigkeit gehört im E-Commerce auch Preistransparenz. Die kostenlose <a
              href="{{ content.projectShopwareCostPluginLinkUrl }}" hreflang="en" target="_blank"
              rel="noopener">Shopware-Erweiterung "Cost Transparency"</a> (Kostentransparenz) erweitert die
            Produktdetails in Shopware 6 um eine interaktive Grafik, die verschiedene Anteile am Gesamtpreis
            veranschaulicht.</p>
          <h3>Unverbindliche Erstberatung</h3>
          <p>Hast du noch Fragen? Melde dich gerne direkt oder buche einen Termin für eine unverbindliche und kostenlose
            Erstberatung!</p>
        </article>
        <div class="cta-container">
          <a href="../#contact" class="buttonlike">Beratungstermin vereinbaren</a>
        </div>
      </section>
      {% include '../_includes/section-services-on-subpages.liquid' %}
      {% include '../_includes/section-imprint-contact.liquid' %}
    </main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
  </div>
</div>
</body>
</html>
