---
tags: dontaddtositemap
isaboutme: false
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.com/img/preview-creative-web-developer.png"
previewtitle: "Frontend Web Developer Ingo Steinke: CV, Projects, Skills"
previewdescription: "Ingo Steinke is a frontend web developer with 27 years of professional experience and a focus on accessibility, loading speed and maintainability."
permalink: "cv-tabular.html"
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Frontend Web Developer Ingo Steinke</title>
  {% include '../_includes/html-head-common.liquid' %}
  <style>
    @font-face {
      font-display: swap;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      src: url('../fonts/inter-v19-latin-regular.woff2') format('woff2');
    }
    @font-face {
      font-display: swap;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      src: url('../fonts/inter-v19-latin-700.woff2') format('woff2');
    }

    body.font-cv .page-container {
      padding: 16pt 16pt 0 24pt;
    }

    body.font-cv, body.font-cv * {
      font-family: 'Inter', 'Helvetica', 'Arial', sans-serif !important;
      font-weight: 400 !important;
      background-color: #fff !important;
      color: #000 !important;
    }

    body.font-cv h1,
    body.font-cv h2,
    body.font-cv h3,
    body.font-cv th,
    body.font-cv th *{
      font-weight: 700 !important;
    }

    .subheadline,
    body.font-cv .subheadline {
      font-weight: 700 !important;
      font-size: 13pt;
    }

    .flex-columns {
      display: flex;
      flex-direction: row;
    }

    .flex-column-smaller img,
    .flex-column-smaller svg {
      width: 2.75cm;
      max-width: unset;
      height: auto;
      margin-right: 0.75cm;
    }

    .flex-column-smaller ul,
    .flex-column-smaller li {
      margin-left: 0;
      padding-left: 0;
    }

    .flex-column-smaller li {
      padding-top: 9pt;
    }

    table {
      border-collapse: collapse;
    }

    .full-width {
      width: 100%;
    }

    td, th {
      vertical-align: top;
      padding-top: 0;
    }

    td ul {
      margin-top: 0;
      padding-left: 15pt;
    }

    th {
      padding-top: 8pt;
      padding-bottom: 4pt;
      text-align: left;
      font-size: 13pt;
      page-break-after: avoid;
    }

    th time {
      font-size: 12pt;
    }

    a, a:link, a:visited, a:active {
      text-decoration: none;
    }

    @media print {
      body.font-cv, body.font-cv * {
        font-family: 'Inter', 'Helvetica', 'Arial', sans-serif !important;
        font-weight: 400 !important;
      }

      body.font-cv h1,
      body.font-cv h2,
      body.font-cv h3 {
        font-weight: 700 !important;
        line-height: 1.2 !important;
      }

      body.font-cv h1 {
        font-size: 20pt !important;
        margin-top: 0 !important;
      }

      body.font-cv h2 {
        font-size: 16pt !important;
      }

      body.font-cv .flex-column-smaller {
        font-size: 12pt !important;
      }

      body.font-cv .flex-column-smaller small {
        font-size: 11pt !important;
      }

      img.avatar {
        border-radius: 50% !important;
      }
    }
  </style>
</head>
<body class="high-contrast font-cv">
<div class="page-container" id="top">
  <div class="page-content">
    <h1>Ingo Steinke, Frontend Web Developer</h1>
    <div class="flex-columns">
      <div class="flex-column-smaller">
        <picture>
          <source type="image/webp"
                  srcset="img/Ingo-Steinke-flower-shirt.webp, img/Ingo-Steinke-flower-shirt-496.webp 2x, img/Ingo-Steinke-flower-shirt-large.webp 4x">
          <img src="img/Ingo-Steinke-flower-shirt.jpg"
               srcset="img/Ingo-Steinke-flower-shirt-496.jpg 2x, img/Ingo-Steinke-flower-shirt-large.jpg 4x"
               width="248" height="248" alt="Frontend-Web-Entwickler Ingo Steinke" class="avatar"></picture>
      </div>

      <div class="flex-column-bigger">
        Senior frontend web developer and certified Shopware 6 expert,<br>
        27 years professional experience, accessible web development with React, TypeScript, JavaScript, CSS, HTML, Astro.
      </div>
    </div>
    <div class="full-width">
      <span class="vcard">
      Berlin |
        <span class="tel">Tel. <a class="transparent" href="tel:+491634684080">+491634684080</a></span> |
        <a class="transparent" href="mailto:kontakt@ingo-steinke.de">kontakt@ingo-steinke.de</a> |
        <a class="transparent" href="https://www.ingo-steinke.de/" target="_blank" rel="noopener">ingo-steinke.de</a> |<br>
        <a class="transparent" href="https://github.com/openmindculture" target="_blank" rel="noopener">github.com/openmindculture</a> |
        <a class="transparent" href="https://linkedin.com/in/ingosteinke" target="_blank" rel="noopener">linkedin.com/in/ingosteinke</a><br>
      </span>
      <table>

        <tr>
          <th>Frontend Web Development - dev-UX-Lesezeichen.de, <time>07/2025 - 09/2025</time></th>
        </tr>
        <tr>
          <td>
            Industry: web services<br>
            Project: web app presenting IT textbooks<br>
            React, TypeScript, Tailwind, Astro, Storybook, Vitest, Playwright, npm<br>
            Frontend web app developmer<br>
          </td>
        </tr>

        <tr>
          <th>Frontend Web Development - renowned online service provider (NDA), <time>01/2025 - 06/2025</time></th>
        </tr>
        <tr>
          <td>
            Industry: web services<br>
            Project: Front-end web development to replace existing legacy themes and plugins with a native theme featuring dynamically adapted designs and tracking for conversion rate optimisation in a complex multi-domain setup.<br>
            PHP, JavaScript, CSS, Cypress, Docker<br>
            Frontend web developer<br>
          </td>
        </tr>
        <tr>
          <th>Frontend Web Development - Financial Consultant, <time>2025-02 – 2025-04</time></th>
        </tr>
        <tr>
          <td>
            Industry: Financial services<br>
            Project: accessible responsive portfolio website with a content management system (CMS)<br>
            HTML, CSS, JavaScript, PHP, CMS, BrowserStack<br>
            Frontend web developer<br>
            <ul>
              <li>website: <a class="transparent" href="https://kunnigkonsulting.com/" target="_blank" rel="noopener">kunnigkonsulting.com</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>Full-Stack Web Development - Ingo Steinke, <time>01/2021 - 04/2025</time></th>
        </tr>
        <tr>
          <td>
            Project: multilingual portfolio website for acquiring new customers<br>
            Eleventy, JavaScript, TypeScript, Liquid, CSS, HTML<br>
            Web developer, web designer<br>
            <ul>
              <li>website: <a class="transparent" href="https://www.ingo-steinke.de/?utm_source=CV_2025_11" target="_blank" rel="noopener">www.ingo-steinke.de</a>
              </li>
            </ul>
          </td>
        </tr>

        <tr style="page-break-before:always;">
          <td><strong class="subheadline">Older Projects (Selection):</strong><br><br></td>
        </tr>

        <tr>
          <th>Frontend Web Development - Kleiderordnung Berlin, <time>04/2023 - 12/2024</time></th>
        </tr>
        <tr>
          <td>
            Industry: Fashion, consulting (sustainable fashion consultant)<br>
            Project: multilingual responsive portfolio website as a CMS<br>
            HTML 5, CSS 3, JavaScript, PHP, WordPress<br>
            Web developer<br>
            <ul>
              <li>website: <a class="transparent" href="https://kleiderordnung.berlin" target="_blank" rel="noopener">https://kleiderordnung.berlin</a>
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>E-Commerce- and Frontend Development · FoodTogether · <time>07/2022 - 07/2024</time></th>
        </tr>
        <tr>
          <td>
            Industry: Retail (direct food delivery)<br>
            Project: online shop with subscription orders and price transparency information<br>
            WooCommerce, PHP, CSS, JavaScript, npm, git<br>
            Frontend web developer, e-commerce developer, support<br>
            <ul>
              <li>PayPal integration</li>
              <li>subscription options for recurring order</li>
              <li>continuous increase in traffic and revenue</li>
              <li>website: <a class="transparent" href="https://www.foodtogether.de/" target="_blank" rel="noopener">www.foodtogether.de</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>Shopware E-Commerce Development - FoodTogether. <time>02/2024 - 06/2024</time></th>
        </tr>
        <tr>
          <td>
            Industry: Retail (direct food delivery)<br>
            Project: responsive data visualization for a migration to Shopware<br>
            Shopware 6, PHP 7, Twig, CSS, JavaScript<br>
            Web developer, Shopware Extension Partner<br>
            <ul>
              <li>Shopware plugin to replace a WooCommerce extension</li>
              <li>Tested by Shopware and published as an extension in the Shopware store:<br>
                <a
                  href="https://store.shopware.com/en/ingos57544164693f/cost-transparency.html"
                  class="transparent"
                  target="_blank"
                  rel="noopener">https://store.shopware.com/en/ingos57544164693f/cost-transparency.html</a>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>Senior Frontend Development - STRABAG SE, <time>10/2021 - 05/2022</time></th>
        </tr>
        <tr>
          <td>
            Industry: construction and civil engineering<br>
            Project: modular design system to relaunch carreer websites<br>
            Fractal, Handlebars, HTML 5, SCSS, CSS, JavaScript, git<br>
            Senior frontend developer<br>
            <ul>
              <li>technical management of a front-end team with 3 web developers</li>
              <li>development of a scalable component system using Fractal</li>
              <li>launched on schedule in multiple countries</li>
              <li>successfully online since 2022 at <a class="transparent" href="https://karriere.strabag.com" target="_blank" rel="noopener">https://karriere.strabag.com</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>React Frontend Development - Sevenval/Avenga, <time>07/2017 - 10/2020</time></th>
        </tr>
        <tr>
          <td>
            Industry: SaaS / internet services (B2B)<br>
            Project: React web app with React component library for UI configuration and data visualization of website optimizations<br>
            React, JSX, JavaScript, ES6, Storybook, CSS in JS, git, GitLab<br>
            React web developer as part of the frontend team<br>
            <ul>
              <li>development and maintenance of modular UI components in React</li>
              <li>live data visualization and configurationen in real time (React State Management)</li>
              <li>development and maintenance of Storybook dokumentation and modular test automatization</li>
              <li>The platform has been used in over 20 customer projects and further developed internally.</li></li>
            </ul>
            <br><br>
          </td>
        </tr>
        <tr>
          <th><h2>Skills: Technologies, Methods and Languages</h2></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>
                Technologies:<br>
                Frontend: HTML, CSS, SCSS, JavaScript, ES6+, TypeScript, React, Astro, Eleventy<br>
                CMS/E-Commerce: Shopware 6 (certified 2024), WooCommerce, Wordpress, PHP 8<br>
                Testing/Tools: Cypress, git, GitHub, GitLab, Docker, npm, esbuild<br>
                Methods: Responsive Web Design, Accessibility (WCAG), Agile, Scrum, Jira<br>
              </li>
              <li>27 years of professional experience</li>
              <li>language skills: Englisch (C1, fluent), German (C2, native speaker)</li>
            </ul>
          </td>
        </tr>
      </table>

      <h2>About me: Web Developer with a Passion for UX Design</h2>
      <p>
        Websites designed to offer everyone access to this network must be attractive, fast, and accessible. This vision shapes my work. I'm a freelance senior frontend web developer since 2020, working for agencies and individual customers. I live in Berlin since 2022, but I often work online and I'm ready to travel.
      </p>
      <p>
        As a freelance web developer I am part of a network of designers, developers and other experts. I am a member of Impact Hub Berlin. I'm a freelance web application developer for defacto|ci and freelance web developer for Railslove. From 2019 to 2021, I co-hosted the Cologne Web Performance meetup. Previously, I volunteered in the New Media in Education Working Group and as organiser and chair of Skate Association Germany e.V.
      </p>
      <p>
        I'm looking forward to working with you!
      </p>

    </div>
  </div>
</div>
</body>
<!-- generated from src/services/cv-tabular.liquid -->
</html>
