---
tags: dontaddtositemap
isaboutme: false
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.com/img/preview-creative-web-developer.png"
previewtitle: "Creative Web Developer Ingo Steinke: CV, Projects, Skills"
previewdescription: "Ingo Steinke is a frontend web developer with many years of professional experience and a focus on accessibility, loading speed and maintainability."
permalink: "cv-tabular.html"
---
<!doctype html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Creative Web Developer Ingo Steinke</title>
  {% include '../_includes/html-head-common.liquid' %}
  <style>
    {% include '../_includes/cv-style.css' %}
  </style>
</head>
<body class="high-contrast font-cv">
<div class="page-container" id="top">
  <div class="page-content">
    <h1>Ingo Steinke, Creative Web Developer</h1>
    <div class="noflex full-width">
      <img src="img/Ingo-Steinke-flower-shirt-large.jpg"
           width="248" height="248" alt="frontend web developer Ingo Steinke" class="avatar circled"
      >
      <div class="mb-min">
        accessible, fast websites and online shops since 1997<br>
        <br>
        <b>Tech</b>: React, TypeScript, Astro,<br>
        certified <b>Shopware 6 expert.</b><br>
      </div>

    </div>
    <div class="noflex full-width clear">

      <div class="mb-min">
        Berlin &nbsp;·&nbsp;
        <span class="tel"><a class="transparent" href="tel:+491634684080">+491634684080</a></span> &nbsp;·&nbsp;
        <a class="transparent" href="mailto:contact@ingo-steinke.com">contact@ingo-steinke.com</a>
        <br>
      </div>

      <div>
        <a class="transparent" href="https://www.ingo-steinke.com/?utm_source=cv&utm_term=cv_2026" target="_blank" rel="noopener"><b>ingo-steinke.com</b></a> &nbsp;·&nbsp;
        <a class="transparent" href="https://github.com/openmindculture" target="_blank" rel="noopener">github.com/openmindculture</a> &nbsp;·&nbsp;
        <a class="transparent" href="https://linkedin.com/in/ingosteinke" target="_blank" rel="noopener">linkedin.com/in/ingosteinke</a><br>
      </div>

    </div>

    <div class="full-width">

      <table>
        <tr>
          <th><h2 class="heading--skills">Skills</h2></th>
        </tr>
        <tr>
          <td>
            <b>Technologies</b>:<br>
            <ul>
              <li>
                <b>Frontend</b>: React, TypeScript, ES6+, JavaScript, Tailwind, SCSS, CSS, HTML
              </li><li>
                <b>E-commerce</b>: Shopware 6 (certified 2024), Symfony, WooCommerce
              </li><li>
                <b>Testing and tools</b>: Cypress, Vitest, Playwright, Git, npm, Docker
              </li><li>
                <b>Backend and database</b>: Node.js, MongoDB, PHP, MySQL
              </li><li>
                <b>Methods and standards</b>: Accessibility (WCAG), GDPR, Agile (Scrum)
              </li>
            </ul>
            <b>Language Skills</b>:
            <ul>
              <li><b>English</b> (C1, fluent)</li>
              <li><b>German</b> (C2, native speaker)</li>
              <li><b>French</b> (good understanding of technical documentation and technical terminology)</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th><h2 class="heading--has-subsections">Freelance and Customer Projects (Selection)</h2></th>
        </tr>

        <tr class="subsection">
          <td>
            <h3 class="group group--corporate">Corporate Website Development</h3>
          </td>
        </tr>

        <tr>
          <th>Web Development: renowned service provider (NDA) · <time>01/2025 - 06/2025</time></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech Stack: PHP, JavaScript, CSS, Cypress, Docker, WordPress</li>
              <li>Project: development of a parametrized WordPress white-label theme <br>with skinning and tracking logic</li>
              <li>Successful migration of existing and quick setup of new portals</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>Senior Frontend Development: STRABAG SE Career · <time>10/2021 - 05/2022</time></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech Stack: Fractal, Handlebars, HTML 5, SCSS, CSS, JavaScript, git</li>
              <li>technical management of a front-end team with 3 web developers</li>
              <li>development of a scalable component system using Fractal</li>
              <li>launched on schedule in multiple countries</li>
              <li>successfully online since 2022 at <a class="transparent" href="https://karriere.strabag.com" target="_blank" rel="noopener">https://karriere.strabag.com</a></li>
            </ul>
          </td>
        </tr>

        <tr class="subsection">
          <td>
            <h3 class="group">E-Commerce-Development with Shopware and WooCommerce</h3>
          </td>
        </tr>

        <tr>
          <th>
            Merchandise Shop: <a class="transparent" href="https://shop.open-mind-culture.org/" target="_blank" rel="noopener">shop.open-mind-culture.org</a>  · <time>04/2026 - 05/2026</time>
          </th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech Stack: Shopware 6, PHP 8, Twig, SCSS, JavaScript</li>
              <li>Project: developed a demo e-commerce platform showcasing custom plugins and themes</li>
              <li>deployed in a multilingual production environment with live payments and shipping</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>Shopware-Extension: Cost Transparency · <time>02/2024 - 06/2024</time></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech Stack: Shopware 6, PHP 7, Twig, SCSS, JavaScript</li>
              <li>Project: responsive data visualization for a possible migration to Shopware</li>
              <li>Result: tested by Shopware and published as an extension in the Shopware store:<br>
                <a
                  href="https://store.shopware.com/en/ingos57544164693f/cost-transparency.html"
                  class="transparent"
                  target="_blank"
                  rel="noopener">store.shopware.com/en/ingos57544164693f/cost-transparency.html</a>
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>
            Frontend and E-Commerce: <a class="transparent" href="https://www.foodtogether.de/" target="_blank" rel="noopener">FoodTogether.de</a>  · <time>07/2022 - 07/2024</time>
          </th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech Stack: WooCommerce, PHP, CSS, JavaScript, npm, git</li>
              <li>Project: online shop with subscription orders and price transparency information</li>
              <li>Result: PayPal subscription integration, increase in traffic and revenue</li>
            </ul>
          </td>
        </tr>

        <tr class="subsection">
          <td>
            <h3 class="group">Frontend and Web App Development with React</h3>
          </td>
        </tr>

        <tr>
          <th>Frontend Web Development: Feasibility Study · <time>07/2025 - 09/2025</time></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech Stack: Astro 5, React 19, TypeScript, Tailwind, Playwright</li>
              <li>Project: Conception and development of a working prototype for an IT technical book platform to evaluate the Astro Islands architecture using React 19</li>
              <li>Result: live system tested in a production-like environment at <a class="transparent" href="https://devux.ingo-steinke.de" target="_blank" rel="noopener">devux.ingo-steinke.de</a></li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>React Frontend Development: wao.io by Avenga · <time>07/2017 - 10/2020</time></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech Stack: React, JSX, JavaScript, Storybook, CSS in JS, GitLab</li>
              <li>Project: developed modular UI components with data visualization in React</li>
              <li>Result: SaaS B2B platform used in over 20 customer projects</li>
            </ul>
          </td>
        </tr>

        <tr class="subsection">
          <td>
            <h3 class="group">Individual Web Development</h3>
          </td>
        </tr>

        <tr>
          <th>Portfolio Web Development: Kleiderordnung Berlin · <time>2023 - 2024</time></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech Stack: HTML 5, CSS 3, JavaScript, PHP, WordPress</li>
              <li>Project: multilingual responsive portfolio website as a CMS</li>
              <li>Website: <a class="transparent" href="https://kleiderordnung.berlin" target="_blank" rel="noopener">kleiderordnung.berlin</a></li>
            </ul>
          </td>
        </tr>

        <tr>
          <th><h2>Professional Background (2000–2020)</h2></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Avenga Germany — Senior Software Developer / Technical Consultant · 2014 - 2020</li>
              <li>Lucom GmbH — Software Consultant · 2018</li>
              <li>Xsite GmbH— Web Developer / E-Commerce Engineer · 2010 - 2014</li>
              <li>Active-Websight GbR — Co-Founder / Web Developer · 2000 - 2010</li>
            </ul>
          </td>
        </tr>
      </table>

      <h2>About me: Web Developer with a Passion for UX Design</h2>
      <p>
        Beautiful, fast, and accessible websites for everyone – this vision shapes my work. Since 2020, I have supported agencies and companies as a freelance senior frontend web developer.
      </p>
      <ul>
        <li>
          Network and collaboration: well-connected with designers and developers,<br>
          external team member at defacto|ci and Berlingeschwister.</li>

        <li>Community Involvement: Former Co-organizer of the Cologne Web Performance Optimization Meetup (2019–2021) and long-serving chairman of Skate Association Germany e.V.</li>

        <li>Working style: team-oriented, strong communication skills, and flexible.</li>

        <li>Mobility: based in Berlin, flexible and willing to travel (full driving license and car).</li>

      </ul>
      <p>
        I am looking forward to working together with you!
      </p>
      <p>
        <b>Ingo Steinke</b><br>
        Creative Web Developer
      </p>
      <p>
        Berlin, May 2026
      </p>
    </div>
  </div>
</div>
</body>
<!-- generated from src/services/cv-tabular.liquid -->
</html>
