---
tags: addtositemap
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.com/img/preview-freelancer-berlin-en.png"
previewtitle: "Freelance Webentwickler in Berlin: Ingo Steinke"
previewdescription: "Ingo Steinke is a freelance webe developer in Berlin with more than 20 years of professional experience."
permalink: "services/freelance-webdeveloper-berlin.html"
canonicalhref: "https://www.ingo-steinke.com/services/freelance-webdeveloper-berlin.html"
canonicalhreflang: "en"
alternatelink: "https://www.ingo-steinke.de/leistungen/webentwickler-berlin-freelancer.html"
alternatehreflang: "de"
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Freelance Web Developer in Berlin - Ingo Steinke</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top">
  <div class="page-content">
    <header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
      {% include '../_includes/jumbotron-image.liquid' %}
      <h1>Freelance Web Developer in Berlin</h1>
      <ul class="aside-heading">
        <li>services and pricing</li>
        <li>sustainable concept from the beginning</li>
        <li>long-term collaboration</li>
        <li>long-time experience</li>
      </ul>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid' %}
    <main id="content-top" class="target-offset">
      <section class="text-content-layout text-content-color">
        <article class="text-width">
          <h2>Hi, I'm your web developer!</h2>
          <p>I'm glad to welcome you to my website! My name is Ingo Steinke, I'm a freelance web developer with many
            years of full-stack experience. Currently, I prefer to work on frontend projects with a focus on
            accessibility, mobile/responsive layout, optimizing loading speed, efficiency and ecological
            sustainability of websites.</p>

          <p>My portfolio, which can be downloaded as a PDF, contains detailed information about my expertise (skills matrix),
            my project list and my CV. It can also be found on <a href="https://www.ingo-steinke.com/about-me.html">my website</a></p>
          <ul>
            <li><a href="../Ingo-Steinke-CV-Projects-Skills-2025-sustainable-web-developer.pdf" target="_blank"
                   rel="noopener noreferrer nofollow">Ingo Steinke, web developer, Berlin: CV, skills, projects</a>
              (english, updated: April 2025)
            </li>
            <li><a href="../Ingo-Steinke-CV-Projekte-Skills-2025-nachhaltiger-Webentwickler.pdf" target="_blank"
                   rel="noopener noreferrer nofollow">Ingo Steinke, Webentwickler, Berlin: CV, Skills, Projekte</a>
              (German, updated: April 2025)
            </li>
          </ul>

          <h2>Work Samples, Projects, and Code Examples</h2>
          <p>This page also includes questions and answers about knowing <a href="#faq-team-fit-freelancer">whether I'm a good fit for your team as a freelancer</a>. You are also welcome to get your own impression of me in a personal conversation. If you'd like to know how I work, you can find work samples and code examples on <a
              href="https://github.com/openmindculture" target="_blank" rel="noopener">GitHub (@openmindculture)</a>.</p>

          <p>Professionally, I am willing and able to familiarise myself quickly with new technologies and topics.
            Thanks to my communication skills, life experience, and ability to think outside the box, I can quickly
            integrate into teams and take over technical management if necessary.</p>

          <p>I have worked in different companies as a freelancer employee, including technical project
            management roles and mostly working with customers directly. I speak German (native speaker) and English
            fluently. As a German citizen, I have a work permit for the entire EU, and bureaucratic obstacles won't stop
            me from finishing a task successfully.</p>

          <h2>Let's talk!</h2>
          <p>Interested? Please contact me or book an appointment for a non-binding and free conversation! If I
            can't answer the phone, please leave me a voice message! </p>
        </article>

        <div class="cta-container">
          <a href="../#contact" class="buttonlike">contact</a>
        </div>
      </section>

      <section class="text-content-color" id="faq">
        <article class="text-content-layout text-width mb0">
          <h2>Which technical knowledge and soft skills can you expect?</h2>
          <p>I have been working as a web developer for more than 20 years, so I have profound knowledge, especially
            in the front end:</p>
          <ul>
            <li>HTML / HTML 5</li>
            <li>CSS / CSS 3 / Sass / less / SCSS</li>
            <li>JavaScript / ECMAScript / TypeScript</li>
            <li>responsive web design</li>
            <li>libraries and frameworks (node.js, React, jQuery etc.)</li>
          </ul>

          <h2>Tools and tech stack(s)</h2>

          <p>I prefer the classic PHP back-end setup (LAMP stack), which WordPress, Symfony and Shopware also use. As an alternative to online content management systems (CMS), I like to create websites like this
            one using static site generators (SSG / JAMStack) based on JavaScript. I have used Fractal and Storybook to
            develop design systems. Working together with designers, Figma, Miro, and Zeplin have proved helpful.
            Trello, Jira, Asana, and GitHub Projects have served me well for project planning and status
            documentation.</p>
          <ul>
            <li>WordPress (<a href="wordpress-websites-sustainability.html">WordPress-websites, theme and plugin
                development</a>)
            </li>
            <li>Shopware (<a href="certified-shopware-developer-berlin.html">certified developer</a>)</li>
            <li>Symfony</li>
            <li>Vue.js</li>
            <li>Twig</li>
            <li>PHP / PHP 7 / PHP 8</li>
            <li>fractal.build</li>
            <li>eleventy (11ty)</li>
            <li>Storybook</li>
          </ul>

          <p>I regularly use PhpStorm and occasionally Visual Studio Code (VSCode) for programming. Vi is used on the
            command line (CLI). I currently have a Linux laptop with Ubuntu Budgie, but I have also been working with Windows and on a MacBook. I also have a wide range of experience with smartphones (Android, iPhone), a small
            "device lab" consisting of several test devices, and access to BrowserStack, where I can test
            websites on every relevant client device.</p>

          <h2>Documentation and communication</h2>

          <p>Apart from technology, I have a lot of experience and initiative, and thanks to my communication skills, I
            am also a team player. I am interested in design, usability and accessibility. Since I'm no stranger to
            copywriting, marketing, and search engine optimization, the details of the following sections and the
            placement of my website in search results should come as no surprise. Of course, all of this is possible in
            English or German.</p>

          <p>Documentation and quality assurance are important to me. I know about agile methodologies like Scrum and Kanban and prefer applying them pragmatically. I respect coding stands, but I don't think that methods like Clean Code and Test-Driven Development are an end in themselves. I prefer open-source tools, but if necessary, I also use Microsoft products, just like I generally have my opinion that I can contribute contructively, but that I can subordinate to the requirements of the respective project.</p>

        </article>

        <p>&nbsp;</p>
      </section>

      <p>&nbsp;</p>

      <section class="text-content-color" id="faq">
        <article class="text-content-layout text-width mb0">
          <h2>Web Development in Berlin: Questions and Answers</h2>
        </article>

        <article class="alternating-div-color text-content-layout-children">
          <div class="text-width-children mb0">
            <h3>Who creates websites in Berlin?</h3>
            <p>Berlin-based web developers like Ingo Steinke (that's me) create websites, apps, and web presences for customers in Berlin and everyone else. As a web developer from Berlin, I can quickly attend meetings in person or work in your office with your team.</p>
          </div>
          <div class="text-width-children mb0">
            <h3>How to find good web developers in Berlin?</h3>
            <p>Are you looking for a freelance web developer in Berlin? You can find many offers on the internet, but recommendations can help you find a good web developer who suits you well. On my portfolio website, you can find an <a
                href="https://www.ingo-steinke.com/#skills">overview of my skills</a> and a <a
                href="https://www.ingo-steinke.com/#projects">selection of my previous projects</a>, as well as <a
                href="https://www.ingo-steinke.com/#testimonials">positive ratings (testimonials)</a> that my customers have left at Google Business. You are also welcome to ask colleagues that I have been working with at Avenga, Sevenval, Nexum, and Impact Hub Berlin.</p>

            <p>Are you looking for multiple web developers in Berlin? Again, recommendations will be helpful. I have worked with many different colleagues in Berlin, Düsseldorf, Cologne, and remotely all around the world. So I have a network of skilled web developers and related partners and I can ask around if necessary.</p>
          </div>

          <div class="text-width-children mb0">
            <h2>How quickly can we start working together?</h2>
            <p>Before starting up my own business, I worked as an employee for ten years, so I know how important it is to understand the mission and corporate culture and integrate into a team. As a freelance web developer, I must be able to achieve this quickly and on short notice. For the technical onboarding as well as getting to know each other I can also come around and join your team on site if required.</p>
          </div>

          <div class="text-width-children mb0" id="faq-team-fit-freelancer">
            <h3>How do you know whether I'm a good fit for your team as a freelancer?</h3>
            <p>Contact me and we can schedule an informal phone call, a video conference or a meeting on-site in Berlin! This way, we can quickly find out if I can complement your team on a professional and personal level.</p>

            <p>I am communicative, flexible and adaptable. I can also think beyond a requirement's wording so I don't have to wait until after deployment to ask the necessary questions. If you want to know my professional preferences, take a look at my <a
                href="https://dev.to/ingosteinke" taregt="_blank" rel="noopener">blog posts on DEV.to</a> (The
              Practical DEV), my <a href="https://github.com/openmindculture" target="_blank" rel="noopener">open-source code
                on GitHub (@openmindculture)</a> and my discussions <a
                href="https://stackoverflow.com/users/5069530/ingo-steinke" target="_blank" rel="noopener">on
                StackOverflow</a> and in other experts' forums.</p>
          </div>

          <div class="text-width-children mb0">
            <h2>Can you also book me as an individual client?</h2>
            <p>As a freelance web developer, I can complement your team. I also offer services to small and medium-sized enterprises and startups. You can profit from my pragmatic approach and save on the costs of large agencies. Working with large as well as small projects and customers, I can gather experience and learn about various requirements. It also helps me grow my network and enables me to recommend people, services, and software that might be helpful to you as a customer.</p>
          </div>
          <div class="text-width-children mb0">
            <h3>What does it cost to hire me as a freelancer?</h3>
            <p>My current default hourly rate is in the <a href="https://www.ingo-steinke.de/#pricing">"pricing"</a> section of my homepage. Non-profit organisations and ethical start-ups can request discounts. Individual price agreements are also possible for long-term cooperation and invoicing according to daily rates.</p>
          </div>
          <div class="text-width-children mb0 no-alternating-color">
            <p>Our initial consultation is always free of charge. Leave me a message, and I will get back to!
            </p>
          </div>

        </article>
        <div class="cta-container">
          <a href="../#contact" class="buttonlike">contact me now!</a>
        </div>
      </section>

    </main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
  </div>
</div>
</body>
</html>
