---
tags: addtositemap
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.com/img/preview-freelancer-berlin-en.png"
previewtitle: "Freelance Webentwickler in Berlin: Ingo Steinke"
previewdescription: "Ingo Steinke is a freelance webe developer in Berlin with more than 25 years of professional experience."
permalink: "services/freelance-webdeveloper-berlin.html"
canonicalhref: "https://www.ingo-steinke.com/services/freelance-webdeveloper-berlin.html"
canonicalhreflang: "en"
alternatelink: "https://www.ingo-steinke.de/leistungen/webentwickler-berlin-freelancer.html"
alternatehreflang: "de"
---
<!doctype html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Freelance Web Developer in Berlin - Ingo Steinke</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top">
  <div class="page-content">
    <header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
      {% include '../_includes/jumbotron-image.liquid' %}
      <h1>Freelance Web Developer in Berlin</h1>
      <ul class="aside-heading">
        <li>long-time experience</li>
        <li>long-term collaboration</li>
        <li>sustainable concept from the beginning</li>
      </ul>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid' %}
    <main id="content-top" class="target-offset">
      <section class="text-content-layout text-content-color">
        {% include '../_includes/image-align-right-ingo-laptop.liquid' %}
        <article class="text-width">
          <h2>Hi, I'm a Frontend Web Developer in Berlin!</h2>
          <p>I'm glad you found me! I'm Ingo Steinke, a freelance web developer with more than 25 years of professional experience. Currently, I prefer to work on frontend projects with a focus on
            accessibility, mobile/responsive layout, optimizing loading speed, efficiency and ecological
            sustainability.</p>

          <p>As an experienced freelancer, I complement developer teams remotely or on premise and help to implement accessible and performant websites in a secure, maintainable and future-proof way. I am familiar with TypeScript, JavaScript, React, Astro and other frontend frameworks and libraries, Tailwind, CSS and testing tools.</p>
          <p>You can download my
            <a href="{{ content.targetHrConciseCvUrl }}" hreflang="de" target="_blank">CV with skills and projects as a PDF file here</a> and find out more about my <a href="/services/">skills and services</a>, <a href="/projects/">references and projects</a>.</p>

          <h2>Work Samples, Projects, and Code Examples</h2>
          <p>You are welcome to get your own impression of me in a personal conversation. If you'd like to know how I work, you can find work samples and code examples on <a
              href="https://github.com/openmindculture" target="_blank" rel="noopener">GitHub (@openmindculture)</a>.</p>

          <p>Professionally, I am willing and able to familiarise myself quickly with new technologies and topics.
            Thanks to my communication skills, life experience, and ability to think outside the box, I can quickly integrate into teams and take over technical management if necessary.</p>

          <p>I have worked for different companies and teams as a freelancer (and as an employee before), including technical project
            management roles and mostly working with customers directly. I speak German (native speaker) and English fluently. As a German citizen, I have a work permit for the entire EU, and bureaucratic obstacles won't stop me from finishing a task successfully.</p>

          <p>I supplement teams as a freelance web developer, but I also work for medium-sized companies and start-ups.</p>
          <p>Interested? Please contact me or book an appointment for a non-binding and free conversation!</p>
        </article>

        <div class="cta-container">
          <a href="../#contact" class="buttonlike contact-link">schedule a talk</a>
        </div>
      </section>

      <section class="text-content-layout text-content-color" id="faq">
        {% include '../_includes/image-align-right-device-lab.liquid' %}
        <article class="text-width mb0">

          <h2>How I test Websites Across Devices</h2>

          <p>I have developed websites, web apps and design systems with Fractal und Storybook, among others, and used Cypress, Codecept, Viteest und Playwright to test them.</p>

          <p>Ich have regularly worked with MacBooks, Linux and Windows computers. I also have extensive experience with iPhones and Android smartphones and run a small "device lab" with several test devices. I also have access to BrowserStack, where I can remotely check websites on numerous devices.</p>

          <h2>Skills as a Frontend Web Developer</h2>

          <p>I have been working as a web developer for more than 25 years, so I have profound knowledge, especially in the front end:</p>
          <ul>
            <li>HTML / HTML 5</li>
            <li>CSS / CSS 3 / SCSS / Tailwind</li>
            <li>JavaScript / ECMAScript / TypeScript</li>
            <li>accessible and responsive web design</li>
            <li>Astro, React and other frontend frameworks and libraries</li>
          </ul>

          <h2>Collaboration, Documentation and communication</h2>

          <p>Apart from technology, I have a lot of experience and initiative, and thanks to my communication skills, I am also a team player.</p>

          <p>Documentation and quality assurance are important to me. I know about agile methodologies like Scrum and Kanban and prefer applying them pragmatically. I use coding standars as a guide, but I don't see methods like Clean Code and Test-Driven Development as ends in themselves. I express my opinion in a constructive manner, but of course always act in accordance with the requirements and needs of my customers.</p>

          <p>Lass uns gerne miteinander über dein nächstes Projekt sprechen!</p>

          <p>Let's discuss your next project!</p>

        </article>

        <div class="cta-container">
          <a href="../#contact" class="buttonlike contact-link">get in touch</a>
        </div>

        <p>&nbsp;</p>

      </section>

      <section class="text-content-color" id="faq">
        <article class="text-content-layout text-width mb0">
          <h2>Web Development in Berlin: Questions and Answers</h2>
        </article>

        <article class="alternating-div-color text-content-layout-children">
          <div class="text-width-children mb0">
            <h3>Who creates websites in Berlin?</h3>
            <p>Berlin-based web developers like Ingo Steinke (that's me) create websites and web apps for customers in Berlin and everywhere else, no matter where you are. As a web developer from Berlin, I can quickly attend meetings in person or work in your office with your team. If requested early enough and subject to availability, I am also willing to travel outside Berlin.</p>
          </div>
          <div class="text-width-children mb0">
            <h3>How to find good web developers for your project team?</h3>

            <p>As a web developer, I have a strong network that extends beyond Berlin: designers, agencies, other web developers and specialised service providers are all part of my network. You can discover web developers in Berlin or in your area through my network, among other places./p>
          </div>

          <div class="text-width-children mb0">
            <h2>How quickly can we start working together?</h2>
            <p>As an experienced web developer, I know why it is important to understand the mission and corporate culture and integrate into a team. As a freelance web developer, I must be able to achieve this quickly and on short notice. For the technical onboarding as well as getting to know each other I can also come around and join your team on site (in or outside of Berlin) if required.</p>
          </div>

          <div class="text-width-children mb0" id="faq-team-fit-freelancer">
            <h3>How do you know whether I'm a good fit for your team as a freelancer?</h3>
            <p>In a non-binding talk, we can quickly find out if I can complement your team on a professional and personal level.</p>

            <p>I am communicative, flexible and adaptable. I can also think beyond a requirement's wording if desired and expedient, in order to ask important questions in good time.</p>
          </div>

          <div class="text-width-children mb0">
            <h2>Why I work in Berlin as a Web Developer</h2>
            <p>
              Why Berlin? In Berlin, there are startups, meetups, projects, partners and the diverse infrastructure of the city. Coworking and exchange at the Impact Hub, Ignite Future Talks at CoCreation Loft, JavaScript- and accessibility meetups, Creative Mornings Berlin, beta Breakfast, conferences for creatives, designers and developers like Beyond Tellerrand, Green Coding and other sustainable events and initiatives.</p>
            <p>Berlin also has excellent transport links, so I can quickly reach my business partners in Karlsruhe, Dresden, Hamburg or Düsseldorf by train when conferences or meetings are scheduled there.</p>
            <p>In Berlin, we have access to meeting rooms at Impact Hub Berlin when needed. Otherwise, I enjoy communicating online: tools such as video conferencing, email, Figma, GitHub, Slack and Jira enable us to work together efficiently and flexibly, while also being creative and personal.
            </p>
          </div>

          <div class="text-width-children mb0">
            <h2>Can you also book me as an individual client?</h2>
            <p>As a freelance web developer, I can complement your team. I also offer services to medium-sized enterprises and startups.</p>
            <p>Customers with large projects, on the other hand, appreciate the advantages of interdisciplinary teams from <a href="/about-me.html#network">agencies or networks</a>.</p>
          </div>

          <div class="text-width-children mb0 no-alternating-color">
            <h2>Informal Introduction</h2>
            <p>Our initial consultation is always free of charge. Leave me a message, and I will get back to!
            </p>
          </div>

        </article>
        <div class="cta-container">
          <a href="../#contact" class="buttonlike contact-link">enquire availability</a>
        </div>
      </section>

    </main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
  </div>
</div>
</body>
</html>
