---
tags: addtositemap
imgdirectory: "../img"
previewdescription: "Let's build your website quickly, successfully, sustainably, and accessibly. Experienced partners, long-term collaboration!"
permalink: "services/web-development.html"
canonicalhref: "https://www.ingo-steinke.de/services/web-development.html"
canonicalhreflang: "en"
alternatelink: "https://www.ingo-steinke.de/leistungen/webentwicklung.html"
alternatehreflang: "de"
---
<!DOCTYPE html><html lang="de"><head><meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Let's build your website! quick, successful, sustainable, and accessible</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top"><div class="page-content">
    <header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
      {% include '../_includes/jumbotron-image.liquid' %}
      <h1>Let's build your website!</h1>
      <ul class="aside-heading">
        <li>achieve initial success quickly</li>
        <li>sustainable concept from the beginning</li>
        <li>long-term collaboration</li>
        <li>cooperation with experienced partners</li>
      </ul>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid' %}
    <main id="content-top" class="target-offset">
      <section class="text-content-layout text-content-color pb3">
        <article class="text-width">
          <h2>Do you need a new website?</h2>
          <p>Let's build your website together! No matter how it should look like and how much you can and want to do yourself - I am hrer to support you, and my expertise can save you a lot of work! On this page, I'll tell you which questions and aspects we can consider. Are you specifically interested already? Just <a href="../#contact">contact me</a> to schedule a free initial consultation!
          </p>

          <h2>Do you need a website overhaul?</h2>
          <p>Do you already have a website? A non-committal free <a href="../{{ content.servicesVerifyMoreLinkPath }}">web check</a> can show you how quick, sustainable and accessible your website is and what we can do to <a href="../{{ content.servicesImproveMoreLinkPath }}">make it even better</a>!</p>
        </article>

        <div class="cta-container">
          <a href="../#contact" class="buttonlike">book a consultation</a>
        </div>
      </section>

      {% include '../_includes/section-services-on-subpages.liquid' %}

      <p>&nbsp;</p>

      <section class="text-content-color">
        <article class="alternating-div-color text-content-layout-children">
          <div class="text-width-children mb0">
            <h2>Creating and Maintaining a Website: Questions and Answers</h2>

            <p>It is important to me to explain technical terms in a way that you can understand easily.
              I will try to understand your wishes, think ahead, and implement them sustainably.</p>
          </div>
          <div class="text-width-children mb0">
            <h3>What are the benefits of a custom-made website?</h3>
            <p>There are digital construction kits and content management systems, and some people rely entirely on social media. This may work well at first, especially in the start-up phase. Still, the limits of such solutions are usually quickly reached: third-party vendor dependency, missing customization options, or rising costs as soon as your requirements exceed the minimum. Having your own website gives you control over how you want to
              present your business online and who you want to work with.</p>
            <p>When creating a custom website, we can still use standard elements and modular systems, but we will customize them to fit your needs. This allows us to save costs and enables you to do many things yourself. In this case, <a href="wordpress-websites-sustainability.html">WordPress</a> would be a popular option.</p>
          </div>

          <div class="text-width-children mb0">
            <h3>How can a long-lasting concept reduce your running costs?</h3>
            <p>If you have a vision or a clear idea of what you want to achieve with your website in the long term,
              we can prepare it right from the start. Choosing suitable technologies, setting up a
              structured software architecture, technical documentation and automated testing contribute to the goal of
              making websites and web apps last longer and become easier to extend. As a customer, you benefit from lower maintenance costs, optimized performance and successful customer communication.</p>
          </div>
          <div class="text-width-children mb0">
            <h3>How can we combine environmental protection, economic efficiency and social sustainability?</h3>
            <p>A digital sustainability strategy includes privacy protection, accessibility and eco-friendliness. Accessibility and device compatibility can open up new customer groups for you. Energy efficiency and short loading times can help increase turnover and reduce operating costs. Specifically, we pay attention to suitable technology from the start and review critical aspects like image file formats and their amount of data or the server's performance and availability. Ecologically and socially sensible decisions can often also save costs and help promote ecologically
              committed customers' loyalty to your brand.</p>
          </div>
          <div class="text-width-children mb0">
            <h3>What's the difference between websites and web pages?</h3>
            <p>The site hosts the foundation and framework of your internet presence. We can create websites that are easy to add new web pages and edit their content. You can also delegate this task to others and they don’t even have to be professional web developers. It might be your social media manager. So, you don't need to have any "pages programmed" when we have prepared a suitable foundation.</p>
          </div>

          <div class="text-width-children mb0">
            <h3>Do you need a web developer on-site?</h3>
            <p>That´s completely up to you! I have developed and reworked many websites without meeting their owners
              in real life. Thanks to video conferencing, email and digital data exchange, we can do
              everything online, no matter where you are!</p>
            <p>On the other hand, working together on-site can be helpful and pleasant, be it in your office, in a coworking space or with a coffee in the cafe. As a <a href="freelance-webdeveloper-berlin.html">web developer
                in Berlin</a> originally from the Rhine area (Cologne/Düsseldorf), I can also come to another
              city to participate in a meeting.</p>
          </div>

          <div class="text-width-children mb0">
            <h3>How does the creation of your new website work?</h3>
            <p>We will always start with a non-committal preliminary discussion to clarify your needs and expectations,
              if there is existing material we can use, and if we need to find professional partners to work with. If necessary, I can get you in touch with experts in graphic design, copywriting and search engine optimization.</p>
            <p>Once the requirements have been clarified well enough, I will try to estimate how long it will take me, what it will cost and when I will have time to do it. I will create an offer or cost estimate, usually with a range "from ... to" and the hourly or daily rate we agreed on.</p>
            <p>I often provide a preview version of the website under construction so that you can see intermediate results and we can be sure to pursue a common goal.</p>
          </div>

          <div class="text-width-children mb0">
            <h3>What does it cost to create a website?</h3>
            <p>
              The costs depend on the scope of the order and the nature and complexity of the requirements.
              My current default hourly rate is in the <a href="https://www.ingo-steinke.de/#pricing">"pricing"</a> section of my homepage. Non-profit organisations and ethical start-ups can request discounts. Individual price agreements are also possible for long-term cooperation and invoicing according to daily rates. I would be happy to create a precise offer or a cost estimate.</p>
          </div>

          <div class="text-width-children mb0 no-alternating-color">
            <h3>Take advantage of a free initial consultation</h3>
            <p>Our initial consultation is always free of charge. Schedule an appointment in my online calendar or contact me via your favourite channel (email, phone, messenger, contact form, LinkedIn, reflecta network, ...) and leave me a message. I will get back to you as soon as possible!
            </p>
          </div>
        </article>
        <div class="cta-container">
          <a href="../#contact" class="buttonlike">schedule a consultation now!</a>
        </div>
      </section>
    </main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
  </div>
</div>
</body>
</html>
