---
tags: addtositemap
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.com/img/preview-web-check-en.png"
previewtitle: "Web-Check: Let's verify your website!"
previewdescription: "Do you know your website's digital carbon footprint? Do you know if it's accessible and why you might lose potential customers?"
permalink: "services/website-check.html"
canonicalhref: "https://www.ingo-steinke.com/services/website-check.html"
canonicalhreflang: "en"
alternatelink: "https://www.ingo-steinke.de/leistungen/website-check.html"
alternatehreflang: "de"
---
<!DOCTYPE html><html lang="de"><head><meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Let's verify your website!</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top"><div class="page-content">
    <header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
      {% include '../_includes/jumbotron-image.liquid' %}
      <h1>Let's verify your website!</h1>
      <ul class="aside-heading">
        <li>free quick check and initial consultation</li>
        <li>find out your digital carbon footprint</li>
        <li>inspect loading time and accessibility</li>
        <li>identify critical errors and problems</li>
        <li>obtain certifications to boost your credibility</li>
      </ul>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid' %}
    <main id="content-top" class="target-offset">
      <section class="text-content-layout text-content-color pb3">
        <article class="text-width">
          <h2>Check CO<sub>2</sub> balance, loading speed, and accessibility!</h2>
          <p>Do you know your website's &quot;digital CO<sub>2</sub> footprint&quot;? Do you know if it's accessible and why you might lose potential customers?
            When, how and why should you have the quality of your website checked? Let's do a web check to see how the quality of your site or shop can affect your economic success and which aspects we can easily measure and optimize!</p>
          <p>Are you interested? Just <a href="../#contact">contact me</a> to schedule a free initial consultation!</p>
        </article>

        <div class="cta-container">
          <a href="../#contact" class="buttonlike">book a consultation</a>
        </div>
      </section>

      {% include '../_includes/section-services-on-subpages.liquid' %}

      <p>&nbsp;</p>

      <section class="text-content-color">
        <article class="alternating-div-color text-content-layout-children">
          <div class="text-width-children mb0">
            <h2>Questions and Answers about Website Testing</h2>
            <p>No matter how beautiful and successful your website looks, there is always room for improvement.</p>
            <p>But perhaps you also became aware of my offer because of a very specific problem.</p>
          </div>

          <div class="text-width-children mb0">
            <h3>Is your website not generating enough inquiries and sales?</h3>
            <p>There can be many different reasons for commercial success or failure on the Internet, which need to be analysed more closely.</p>
            <ul>
              <li>Are enough potential customers from the right target group visiting your website?</li>
              <li>Do they stay there and do they find relevant content?</li>
              <li>Is it easy to buy something from you or to get in touch?</li>
            </ul>
          </div>

          <div class="text-width-children mb0">
            <h3>Which success factors can we measure?</h3>
            <p>Time and money are very obvious and measurable values:</p>
            <ul>
              <li>How long does it take for my website to load?</li>
              <li>How long does it take for someone to buy something?</li>
              <li>Are my sales increasing or decreasing?</li>
              <li>What are my costs?</li>
            </ul>
            <p>We can also measure</p>
            <ul>
              <li>visitor numbers,</li>
              <li>data volumes,</li>
              <li>the number of errors</li>
              <li>compliance with criteria such as accessibility.</li>
            </ul>
          </div>

          <div class="text-width-children mb0">
            <h3>Which problems can hinder your online success?</h3>
            <p>Long loading times and lack of accessibility are often overlooked problems. These can make potential sales and conversions just as difficult as poor discoverability in search engine results, difficult-to-understand or unbelievable content, technical errors, poor accessibility, and availability failures.</p>
            <ul>
              <li>lack of accessibility</li>
              <li>not optimized for search engines</li>
              <li>content difficult to understand</li>
              <li>claims that aren't credible</li>
              <li>technical errors</li>
              <li>slow loading speed</li>
              <li>long time to wait</li>
              <li>unreachable content</li>
            </ul>
          </div>

          <div class="text-width-children mb0">
            <h3>How can you advertise sustainably and credibly?</h3>
            <p>It could be so simple: Do good and talk about it! However, it is not only transparency obligations such as the upcoming Green Claims Directive, but also suspicious and demanding customers and the fear of "shit storms" that make many companies hesitate to advertise their sustainability progress ("green hushing"). Facts can help here! Test results can be verified, and external measurements can be linked so that your promises of digital sustainability appear verifiable and credible.</p>
          </div>

          <div class="text-width-children mb0">
            <h3>Which requirements apply to data protection, accessibility and environmental friendliness?</h3>
            <p>Further regulations will be added to the existing ones like the General Data Protection Regulation (<a
                href="https://en.wikipedia.org/wiki/General_Data_Protection_Regulation" target="_blank">GDPR</a>), like the European Accessibility Act (<a
                href="https://en.wikipedia.org/wiki/European_Accessibility_Act"
                target="_blank">EAA</a>), mostly based on the existing Web Content Accessibility Guidelines (<a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">WCAG</a>) defining minimum accessibility standards for websites. The planned <a href="https://environment.ec.europa.eu/topics/circular-economy/green-claims_en" target="_blank">Green Claims Directive</a> is supposed to create clear and transparent standards for environmental statements about products and services. The existing German <a href="https://www.gesetze-im-internet.de/englisch_uwg/englisch_uwg.html" target="_blank">Act Against Unfair Competition (UWG)</a> already prohibits misleading statements also regarding the environmental friendliness of a website.</p>
          </div>

          <div class="text-width-children mb0">
            <h3>Which tests can I do myself?</h3>
            <p>You can use free online services to test ecological features.</p>
            <ul>
              <li><a href="https://www.websitecarbon.com/" target="_blank" rel="noopener">Website Carbon Calculator</a></li>
              <li><a href="https://ecograder.com/" target="_blank" rel="noopener">EcoGrader</a></li>
              <li><a href="https://www.thegreenwebfoundation.org/green-web-check/" target="_blank" rel="noopener">Green
                  Web Check</a></li>
            </ul>
            <p>Minimum accessibility requirements are checked by</p>
            <ul>
              <li><a href="https://www.deque.com/axe/devtools/" target="_blank" rel="noopener">axe</a></li>
              <li><a href="https://wave.webaim.org/" target="_blank" rel="noopener">WAVE</a></li>
            </ul>
            <p>Google's PageSpeedInsights is probably the best known general web test. It creates a comprehensive but often overly detailed performance report with recommendations for action, while WebPageTest is known for its level of technical detail that it doesn't explain in generally understandable terms. WebPageTest is free of charge only to a certain extent.</p>
            <ul>
              <li><a href="https://pagespeed.web.dev/" target="_blank" rel="noopener">PageSpeed Insights</a></li>
              <li><a href="https://www.webpagetest.org/" target="_blank" rel="noopener">WebPageTest</a></li>
            </ul>
          </div>

          <div class="text-width-children mb0">
            <div class="text-width-children mb0">
              <h3>What does it cost to test your website?</h3>
              <p>The costs depend on the scope of the order and the specificity and difficulty of the analysis. A quick test of your homepage can usually reveal important information about possible improvements, for example concerning loading times, accessibility, and the so-called CO<sub>2</sub> footprint. You can carry out some tests yourself to get a first impression which aspects might need improvement.</p>

              <p>I usually bill based on working hours. For larger tasks I prepare and individual quote based on the estimated effort. My current default hourly rate is in the <a href="https://www.ingo-steinke.de/#pricing">"pricing"</a> section of my homepage. Non-profit organisations and ethical start-ups can request discounts.</p>
            </div>

            <div class="text-width-children mb0 no-alternating-color">
              <h3>Take advantage of a free initial consultation</h3>
              <p>Our initial consultation is always free of charge. Schedule an appointment in my online calendar or contact me via your favourite channel (email, phone, messenger, contact form, LinkedIn, reflecta network, ...) and leave me a message. I will get back to you as soon as possible!
              </p>
            </div>
          </div>
        </article>
        <div class="cta-container">
          <a href="../#contact" class="buttonlike">schedule a consultation now!</a>
        </div>
      </section>
    </main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
  </div>
</div>
</body>
</html>
