---
tags: addtositemap
previewdescription: "Web developer Ingo Steinke from Berlin has been working with WordPress for almost 20 years. Ingo can advise you competently in a free initial consultation."
permalink: "services/wordpress-websites-sustainability.html"
canonicalhref: "https://www.ingo-steinke.com/services/wordpress-websites-sustainability.html"
canonicalhreflang: "en"
alternatelink: "https://www.ingo-steinke.de/wordpress-website-nachhaltig-optimieren-lassen/index.html"
alternatehreflang: "de"
---
<!doctype html><html lang="de"><head><meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Eco-friendly Wordpress and WooCommerce Theme Development</title>
{% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top"><div class="page-content">
<header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
  <h1>Eco-friendly Wordpress and WooCommerce Theme Development</h1>
  <p>Als a web developer I also work with Webflow, WordPress and WooCommerce. I focus on developing and optimizing sustainably efficient, accessible, responsive websites. Look at my <a href="/services/">technical skills</a>, <a href="/projects/">projects and testimonials</a>, or <a href="/#contact">contact me directly!</a></p>
</header>
{% include '../_includes/navigation-on-subpages.liquid' %}
<main id="content-top" class="target-offset">
  <section class="text-content-layout text-content-color">
      <h2>Individual Website Themes</h2>
      <p>For <a href="https://kleiderordnung.berlin/" target="_blank">Kleiderordnung.Berlin</a>, I programmed a hybrid theme using custom fields and custom post types with restricted block editor use. Like my blog,
 <a href="https://www.open-mind-culture.org/" target="_blank">open-mind-culture.org</a>, the website proves that we can use an open source CMS to develop modern websites that load quickly and are also economically sustainable thanks to low maintenance requirements.</p>

    <p>As a web developer, I develop modular components (themes and plugins) that can be easily adapted and expanded as needed. Individual programming can thus create a sustainable basis that is elegant, <a href="/services/accessible-climate-website-optimization/">efficient and accessible</a>.
    </p>
    <h3>WooCommerce as an E-Commerce Platform</h3>
    <p>Similar to <a href="/certified-shopware-developer-berlin/">Shopware</a>, this e-commerce software consists of a public-benefit software core that can be customized and extended with commercial components to run an individual online shop on your own web server compliant to privacy legislation.</p>

    <h3>Upgrading and Modernizing Outdated Web Applications</h3>
    <p>Does your website, web app or online shop scale and did it grow with your needs? Unmaintained projects can code becomes a legacy of technical debt, but there are ways to modernize them, using automated software testing to reduce the risks of refactoring and migration.</p>
    <p>Read my <a href="{{ content.caseStudyLegacyUrl }}">{{ content.caseStudyLegacy }}</a> for more details.</p>

    <h3>Questions and Answers</h3>
    <p>Have I got you interested?</p>
    <p>Let's talk about your requirements and wishes in a non-committal first consultation!</p>
    </article>
    <div class="cta-container">
      <a href="/#contact" class="buttonlike contact-link">get in touch</a>
    </div>
  </section>
</main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
</div>
</div>
</body>
</html>
