---
tags: addtositemap
---
<!DOCTYPE html><html lang="de"><head><meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Webseiten klimafreundlich und barrierefrei optimieren lassen</title>
{% include '../_includes/html-head-common.liquid' %}
</head>
<body>
<div class="page-container" id="top"><div class="page-content">
<header class="jumbotronHeader" id="jumbotronHeader">
  <h1>Webseiten klimafreundlich und barrierefrei optimieren lassen</h1>
<p>Rechtskonform und nutzerfreundlich sollen Webseiten sein. Zur bestehenden Datenschutz-Grundverordnung (<a href="https://de.wikipedia.org/wiki/Datenschutz-Grundverordnung" target="_blank">DSGVO</a>) kommen künftig Regelungen wie das Barrierefreiheitsstärkungsgesetz (<a href="https://www.bmas.de/DE/Service/Gesetze-und-Gesetzesvorhaben/barrierefreiheitsstaerkungsgesetz.html" target="_blank">BFSG</a>),
  das den European Accessibility Act (<a href="https://ec.europa.eu/social/main.jsp?catId=1202&langId=de" target="_blank">EAA</a>) umsetzt und gemäß der bereits bekannten Web Content Accessibility Guidelines (<a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">WCAG</a>) Mindestanforderung zur Barrierefreiheit von Webseiten vorgibt. Zudem achten Kund:innen verstärkt auf die Umweltfreundlichkeit von Produkten und Webseiten. Der Berliner Webentwickler Ingo Steinke befasst sich aktiv mit diesen Themen und optimiert Internetauftritte entsprechend.
  Schau dir Ingos <a href="https://www.ingo-steinke.de/#projects">Referenzen</a> und <a href="https://www.ingo-steinke.de/#skills">Fachkenntnisse</a> auf seiner Website an oder <a href="#contact">melde dich gleich persönlich!</a></p>
</header>
<main id="content-top" class="target-offset">

  <section class="text-content-layout text-content-color">
    <h2>Digitale Nachhaltigkeit als Wettbewerbsvorteil</h2>
    <article class="text-width">
      <ul>
        <li>Kennst du die CO2-Bilanz deiner Website?</li>
        <li>Wie kann ich den CO2-Fußabdruck meiner Website verringern?</li>
        <li>Wie kann ich glaubwürdig mit unabhängig zertifizierten Nachhaltigkeitsnachweisen werben?</li>
        <li>Wie kann eine digitale Nachhhaltigkeitsstrategie langfristig aussehen?</li>
      </ul>
      <h3>Synergie von Umweltschutz, Wirtschaftlichkeit und sozialer Nachhaltigkeit</h3>
      <p>Relevante Nachhaltigkeitsdimensionen sind Ökologie, Ökonomie und Soziales. Eine digitale Nachhaltigkeitsstrategie umfasst daher neben ökologischer Nachhaltigkeit auch Datenschatz, Inklusion und Barrierefreiheit. Die ökonomische (wirtschaftliche) Nachhaltigkeit wird oft im Widerspruch zu den anderen Aspekten gesehen, doch gerade im Rahmen der nachhaltigen Digitalisierung entstehen durch Datensparsamkeit, Effizienzsteigerung und Wartbarkeit/Wiederverwertbarkeit ergeben sich Synergien, von denen alle Beteiligten profitieren.</p>
      <h3>Wie kann ich den CO2-Fußabdruck meiner Website verringern?</h3>
      <p>Ökostrom, Energieeffizienz und Ladezeit, Barrierefreiheit, konsistenter Seitenaufbau, Verzicht auf irreführende Nutzerführung sind Aspekte, die bei Analysen und Audits berücksichtigt werden und sich auch auf die Platzierung in Suchergebnissen positiv auswirken können. Zudem kann die ökologische Effizienz kostenfrei bescheinigt und umweltorientierten Nutzer:innen als Beleg für die eigene Nachhaltigkeit dienen und beweisen, dass es sich bei deinen Green Claims nicht um Greenwashing handelt. Leicht zu schätzen und zu verstehen ist der sogenannte CO<sub>2</sub>-Fußabdruck eines Website-Frontends. Analyse-Dienste wie WebsiteCarbon, Ecograder, Green Web Check oder CleanerWeb vergeben digitale Nachweise, die auf den eigenen Webseiten als grafisches Banner oder Textlink eingebaut werden können. Green Hosting und effiziente Backend-Programmierung sind ebenfalls sinvoll und teilweise messbar.</p>
      <h3>Langfristig nachhaltige Digitalisierung</h3>
      <p>Nachhaltigkeit bedeutet aber auch Wartbarkeit: wie plegeleicht, langlebig und wiederverwendbar ist die Software? Hier kann es geschäftsinterne oder auch gemeinwohlorientierte Synergiefffekte geben, zum Beispiel durch Verwendung und Veröffentlichung von Open-Source-Software.</p>
      <p>Was nachhaltige (Web-)Entwickler:innen von anderen unterscheidet, ist vielleicht in erster Linie das Bewusstsein, die Bereitschaft und der Mut, über die von den Kund:innen geäußerten Anforderungen hinauszudenken, bezüglich der Umweltfreundlichkeit ebenso wie bei Barrierefreiheit, Datenschutz, und Qualitätssicherung.</p>
      <h3>Green Claims: glaubwürdig durch unabhängig zertifizierte Nachhaltigkeitsnachweise</h3>
      <p>Als Kund:in entsteht zumindest in dieser Hinsicht kein Mehraufwand. Andere Nachhaltigkeitsaspekte und Transparenzpflichten werden spätestens ab einer gewissen Unternehmensgröße ohnehin auf dein Unternehmen zukommen. Insgesamt ist es sinnvoll, möglichst schon von Anfang an eine geschäftliche Strategie zu verfolgen, die in jeder Hinsicht nachhaltig ist und mit gutem Recht als solche beworben werden darf.</p>
      <p>Habe ich dich überzeugt? Hast du noch Fragen? Melde dich gerne direkt oder buche einen Termin für eine unverbindliche und kostenlose Erstberatung!</p>
    </article>
  </section>

{% include '../_includes/section-imprint-contact.liquid' %}
</main>
{% include '../_includes/page-footer.liquid' %}
</div>
</div>
</body>
</html>
