---
tags: addtositemap
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.com/img/preview-sustainability-de.png"
previewtitle: "Webseiten klimafreundlich und barrierefrei optimieren lassen"
previewdescription: "Websites nachhaltig, barrierefrei und rechtskonform entwickeln: DSGVO, BFSG, EAA, UWG und Green Claims Directive beachten"
permalink: "webseiten-klimafreundlich-barrierefrei-optimieren/index.html"
canonicalhref: "https://www.ingo-steinke.de/webseiten-klimafreundlich-barrierefrei-optimieren/"
canonicalhreflang: "de"
alternatelink: "https://www.ingo-steinke.com/services/accessible-climate-website-optimization.html"
alternatehreflang: "en"
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Webseiten klimafreundlich und barrierefrei optimieren lassen</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top">
  <div class="page-content">
    <header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
      <h1>Webseiten klimafreundlich und barrierefrei optimieren lassen</h1>
      <p>Rechtskonform und nutzerfreundlich sollen Webseiten sein. Zur bestehenden Datenschutz-Grundverordnung (<a
          href="https://de.wikipedia.org/wiki/Datenschutz-Grundverordnung" target="_blank">DSGVO</a>) kommen künftig
        Regelungen wie das Barrierefreiheitsstärkungsgesetz (<a
          href="https://www.bmas.de/DE/Service/Gesetze-und-Gesetzesvorhaben/barrierefreiheitsstaerkungsgesetz.html"
          target="_blank">BFSG</a>),
        das den European Accessibility Act (<a href="https://ec.europa.eu/social/main.jsp?catId=1202&langId=de"
                                               target="_blank">EAA</a>) umsetzt und gemäß der bereits bekannten Web
        Content Accessibility Guidelines (<a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">WCAG</a>)
        Mindestanforderung zur Barrierefreiheit von Webseiten vorgibt. Zudem achten Kund:innen verstärkt auf die
        Umweltfreundlichkeit von Produkten und Webseiten. Der Berliner Webentwickler Ingo Steinke befasst sich aktiv mit
        diesen Themen und optimiert Internetauftritte entsprechend.
        Schau dir Ingos <a href="https://www.ingo-steinke.de/#projects">Referenzen</a> und <a
          href="https://www.ingo-steinke.de/#skills">Fachkenntnisse</a> auf seiner Website an oder <a href="#contact">melde
          dich gleich persönlich!</a></p>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid' %}
    <main id="content-top" class="target-offset">

      <section class="text-content-layout text-content-color">
        <article class="text-width">
          <ul class="aside-heading">
            <li>Kennst du die CO<sub>2</sub>-Bilanz deiner Website?</li>
            <li>Wie kannst du den CO<sub>2</sub>-Fußabdruck deiner Website verringern?</li>
            <li>Wie kannst du deine Nachhaltigkeitsversprechen glaubwürdig bewerben?</li>
            <li>Wie kann eine digitale Nachhhaltigkeitsstrategie langfristig aussehen?</li>
            <li>Wie lassen sich Umweltschutz, Wirtschaftlichkeit und soziale Nachhaltigkeit vereinbaren?</li>
          </ul>
          <p>Eine digitale Nachhaltigkeitsstrategie umfasst neben ökologischer Nachhaltigkeit auch Datenschutz,
            Inklusion und Barrierefreiheit. Die ökonomische (wirtschaftliche) Nachhaltigkeit wurde in der Vergangenheit
            oft im Widerspruch zu den ökologischen und sozialen Aspekten dargestellt, doch gerade im Rahmen der
            nachhaltigen Digitalisierung ergeben sich durch Datensparsamkeit, Effizienzsteigerung und
            Wartbarkeit/Wiederverwertbarkeit Synergien, von denen alle Beteiligten profitieren.</p>
          <h2>Wie kann ich den &quot;CO<sub>2</sub>-Fußabdruck&quot; meiner Website verringern?</h2>
          <p>Ökostrom, Energieeffizienz und Ladezeit, Barrierefreiheit, konsistenter Seitenaufbau und Verzicht auf
            irreführende Nutzerführung sind Aspekte, die bei Analysen und Audits berücksichtigt werden. Sie können sich außerdem positiv auf die Platzierung in Suchergebnissen auswirken.
            Die ökologische Effizienz kann kostenfrei bescheinigt werden und umweltorientierten Nutzer:innen als Beleg
            dafür dienen, dass es sich bei deinen Nachhaltigkeitsversprechen (Green Claims) nicht um
            Greenwashing handelt.</p>
          <p>Leicht zu schätzen und zu verstehen ist die CO<sub>2</sub>-Bilanz einer Website. Sie
            wird auch als &quot;CO<sub>2</sub>-Fußabdruck&quot; bezeichnet.
            Analyse-Dienste wie WebsiteCarbon, Ecograder, Green Web Check oder CleanerWeb vergeben digitale Nachweise,
            die auf den eigenen Webseiten als grafisches Banner oder Textlink eingebaut werden können. Anhand des geschätzten Energieverbrauchs wird ein CO<sub>2</sub>-Äquivalent
            (CO<sub>2</sub>e) ermittelt und ins Verhältnis zu Messungen anderer Internetauftritte gesetzt.</p>
          <p>Green Hosting ist ein weiterer wichtiger Faktor zur Dekarbonisierung umweltfreundlicher Internetseiten.
            Green Hosting steht für umweltfreundliche Servertechnologie in Rechenzentren, die möglichst nur mit
            erneuerbaren Energien betrieben werden, zum Beispiel Windkraft und Solarstrom. Auch hier können messbare
            Erfolge vertrauensbildend belegt werden.</p>
          <h3>Klimaschutz-Kundschaft: Digitale Nachhaltigkeit als Wettbewerbsvorteil</h3>
          <p>Nachhaltigkeit bedeutet aber auch Wartbarkeit: wie plegeleicht, langlebig und wiederverwendbar ist die
            Software? Hier kann es geschäftsinterne oder auch gemeinwohlorientierte Synergiefffekte geben, zum Beispiel
            durch Verwendung und Veröffentlichung von Open-Source-Software.</p>
          <p>Was uns als nachhaltige (Web-)Entwickler:innen von anderen unterscheidet, ist vielleicht in erster Linie das
            Bewusstsein, die Bereitschaft und der Mut, über die von den Kund:innen geäußerten Anforderungen
            hinauszudenken, auch bezüglich der Umweltfreundlichkeit ebenso wie bei Barrierefreiheit, Datenschutz, und
            Qualitätssicherung.</p>
          <h3>Green Claims: glaubwürdig durch unabhängig zertifizierte Nachhaltigkeitsnachweise</h3>
          <p>Andere Nachhaltigkeitsaspekte und Transparenzpflichten werden spätestens ab einer gewissen
            Unternehmensgröße ohnehin auf dein Unternehmen zukommen. Insgesamt ist es sinnvoll, möglichst schon von
            Anfang an eine geschäftliche Strategie zu verfolgen, die in jeder Hinsicht nachhaltig ist und mit gutem
            Recht als solche beworben werden darf.</p>
          <p>Es könnte so einfach sein: Gutes tun und darüber reden! Aber nicht nur Transparenzpflichten wie die
            kommende <a href="https://www.bnw-bundesverband.de/faq-green-claims-directive" target="_blank">Green Claims
              Directive</a>, sondern auch anspruchsvolle Kundschaft und die Furcht vor "Shitstorms"
            lassen viele zögern, ihre Erfolge im Bereich der Nachhaltigkeit zu bewerben ("Green Hushing"). Hier helfen
            Fakten! Testergebnisse lassen sich belegen und externe Messungen verlinken, so dass deine
            Nachhaltigkeitsversprechen auch im digitalen Bereich nachprüfbar und glaubwürdig wirken.</p>
          <h3>Individuelles Beratungsgespräch</h3>
          <p>Ist ein klimafreundlicher Internetauftritt für dich relevant? Hast du noch Fragen zur nachhaltigen
            Webentwicklung? Melde dich gerne direkt oder buche einen Termin für eine unverbindliche und kostenlose
            Erstberatung!</p>
        </article>
        <div class="cta-container">
          <a href="../#contact" class="buttonlike">Beratungsgespräch vereinbaren</a>
        </div>
      </section>

      {% include '../_includes/section-services-on-subpages.liquid' %}

      {% include '../_includes/section-imprint-contact.liquid' %}
    </main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
  </div>
</div>
</body>
</html>
