---
tags: addtositemap
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.com/img/preview-sustainability-de.png"
previewtitle: "Webseiten klimafreundlich und barrierefrei optimieren lassen"
previewdescription: "Websites nachhaltig, barrierefrei und rechtskonform entwickeln: DSGVO, BFSG, EAA, UWG und Green Claims Directive beachten"
permalink: "webseiten-klimafreundlich-barrierefrei-optimieren/index.html"
canonicalhref: "https://www.ingo-steinke.de/webseiten-klimafreundlich-barrierefrei-optimieren/"
canonicalhreflang: "de"
alternatelink: "https://www.ingo-steinke.com/services/accessible-climate-website-optimization.html"
alternatehreflang: "en"
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Webseiten klimafreundlich und barrierefrei optimieren lassen</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top">
  <div class="page-content">
    <header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
      <h1>Webseiten klimafreundlich und barrierefrei optimieren lassen</h1>
      <p>Rechtskonform und nutzerfreundlich sollen Webseiten sein. Zur bestehenden Datenschutz-Grundverordnung (<a
          href="https://de.wikipedia.org/wiki/Datenschutz-Grundverordnung" target="_blank">DSGVO</a>) kommen künftig
        Regelungen wie das Barrierefreiheitsstärkungsgesetz (<a
          href="https://www.bmas.de/DE/Service/Gesetze-und-Gesetzesvorhaben/barrierefreiheitsstaerkungsgesetz.html"
          target="_blank">BFSG</a>),
        das den European Accessibility Act (<a href="https://ec.europa.eu/social/main.jsp?catId=1202&langId=de"
                                               target="_blank">EAA</a>) umsetzt und gemäß der bereits bekannten Web
        Content Accessibility Guidelines (<a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">WCAG</a>)
        Mindestanforderung zur Barrierefreiheit von Webseiten vorgibt. Zudem achten Kundinnen und Kunden verstärkt auf die
        Umweltfreundlichkeit von Produkten und Webseiten. Der Berliner Webentwickler Ingo Steinke befasst sich aktiv mit
        diesen Themen und optimiert Internetauftritte entsprechend.</p>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid' %}
    <main id="content-top" class="target-offset">

      <section class="text-content-layout text-content-color">
        <article class="text-width">
          <h2>Wie lassen sich Umweltschutz, Wirtschaftlichkeit und soziale Nachhaltigkeit vereinbaren?</h2>
          <p>Eine digitale Nachhaltigkeitsstrategie umfasst neben ökologischer Nachhaltigkeit auch Datenschutz,
            Inklusion und Barrierefreiheit. Die ökonomische (wirtschaftliche) Nachhaltigkeit wurde in der Vergangenheit
            oft im Widerspruch zu den ökologischen und sozialen Aspekten dargestellt, doch gerade im Rahmen der
            nachhaltigen Digitalisierung ergeben sich durch Datensparsamkeit, Effizienzsteigerung und
            Wartbarkeit/Wiederverwertbarkeit Synergien, von denen alle Beteiligten profitieren.</p>

          <h2>Synergie: Barrierefreiheit, CO<sub>2</sub>-Reduktion und Suchmaschinenoptimierung</h2>

          <p>Energieeffizienz und Ladezeit, Lesbarkeit und Barrierefreiheit sind Aspekte, die bei Analysen und Audits berücksichtigt werden. Benutzerfreundliche, BFSG- und DSGVO-konforme Websites werden oft auch durch bessere Platzierung in Suchergebnissen belohnt.</p>

          <p>European Accessibility Act (<a href="https://ec.europa.eu/social/main.jsp?catId=1202&langId=de"
                                            target="_blank">EAA</a>) und das deutsche Barrierefreiheitsstärkungsgesetz (<a
              href="https://www.bmas.de/DE/Service/Gesetze-und-Gesetzesvorhaben/barrierefreiheitsstaerkungsgesetz.html"
              target="_blank">BFSG</a>) beruht auf den Web Content Accessibility Guidelines (<a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">WCAG</a>), die bereits von vielen Marktführern erfolgreich umgesetzt werden. Vorgaben wie ausreichender Farbkontrast lassen sich einfach überprüfen und korrigieren.</p>

          <p>Die CO<sub>2</sub>-Bilanz einer Webseite wird auch als „CO<sub>2</sub>-Fußabdruck“ bezeichnet. Anhand des geschätzten Energieverbrauchs wird ein CO<sub>2</sub>-Äquivalent
            (CO<sub>2</sub>e) ermittelt und ins Verhältnis zu Messungen anderer Internetauftritte gesetzt. Kostenlose
Analyse-Dienste vergeben digitale Nachweise,
            die auf den eigenen Webseiten als grafisches Banner oder Textlink eingebaut werden können.</p>

          <p>Green Hosting steht für umweltfreundliche Servertechnologie in Rechenzentren, die möglichst nur mit
            erneuerbaren Energien betrieben werden, zum Beispiel Windkraft und Solarstrom. Auch hier können messbare
            Erfolge vertrauensbildend belegt werden.</p>

          <h3>Nachhaltigkeit und Barrierefreiheit als Wettbewerbsvorteil</h3>
          <p>Nachhaltigkeit bedeutet aber auch Wartbarkeit: wie pflegeleicht, langlebig und wiederverwendbar ist die
            Software? Hier kann es geschäftsinterne oder auch gemeinwohlorientierte Synergiefffekte geben, zum Beispiel
            durch Verwendung und Veröffentlichung von Open-Source-Software.</p>
          <p>Was uns als nachhaltige (Web-)Entwickler:innen von anderen unterscheidet, ist vielleicht in erster Linie das
            Bewusstsein, die Bereitschaft und der Mut, über die von den Kund:innen geäußerten Anforderungen
            hinauszudenken, auch bezüglich der Umweltfreundlichkeit ebenso wie bei Barrierefreiheit, Datenschutz, und
            Qualitätssicherung.</p>
          <h3>Green Claims: glaubwürdig durch unabhängig zertifizierte Nachhaltigkeitsnachweise</h3>
          <p>Andere Nachhaltigkeitsaspekte und Transparenzpflichten werden spätestens ab einer gewissen
            Unternehmensgröße ohnehin auf dein Unternehmen zukommen. Insgesamt ist es sinnvoll, möglichst schon von
            Anfang an eine geschäftliche Strategie zu verfolgen, die in jeder Hinsicht nachhaltig ist und mit gutem
            Recht als solche beworben werden darf.</p>
          <p>Es könnte so einfach sein: Gutes tun und darüber reden! Aber nicht nur Transparenzpflichten wie die
            kommende <a href="https://www.bnw-bundesverband.de/faq-green-claims-directive" target="_blank">Green Claims
              Directive</a>, sondern auch anspruchsvolle Kundschaft und die Furcht vor "Shitstorms"
            lassen viele zögern, ihre Erfolge im Bereich der Nachhaltigkeit zu bewerben ("Green Hushing"). Hier helfen
            Fakten! Testergebnisse lassen sich belegen und externe Messungen verlinken, so dass deine
            Nachhaltigkeitsversprechen auch im digitalen Bereich nachprüfbar und glaubwürdig wirken.</p>
          <h3>Individuelles Beratungsgespräch</h3>
          <p>Ist ein klimafreundlicher Internetauftritt für dich relevant? Hast du noch Fragen zur nachhaltigen
            Webentwicklung? Melde dich gleich und vereinbare einen Termin für eine unverbindliche kostenlose
            Erstberatung!</p>
        </article>
        <div class="cta-container">
          <a href="../#contact" class="buttonlike contact-link">Beratungsgespräch vereinbaren</a>
        </div>
      </section>

      {% include '../_includes/section-services-on-subpages.liquid' %}

      {% include '../_includes/section-imprint-contact.liquid' %}
    </main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
  </div>
</div>
</body>
</html>
