---
tags: addtositemap
---
<!DOCTYPE html><html lang="de"><head><meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Webseiten klimafreundlich und barrierefrei optimieren lassen</title>
{% include '../_includes/html-head-common.liquid' %}
</head>
<body>
<div class="page-container" id="top"><div class="page-content">
<header class="jumbotronHeader" id="jumbotronHeader">
  <h1>Webseiten klimafreundlich und barrierefrei optimieren lassen</h1>
<p>Rechtskonform und nutzerfreundlich sollen Webseiten sein. Zur bestehenden Datenschutz-Grundverordnung (<a href="https://de.wikipedia.org/wiki/Datenschutz-Grundverordnung" target="_blank">DSGVO</a>) kommen künftig Regelungen wie das Barrierefreiheitsstärkungsgesetz (<a href="https://www.bmas.de/DE/Service/Gesetze-und-Gesetzesvorhaben/barrierefreiheitsstaerkungsgesetz.html" target="_blank">BFSG</a>),
  das den European Accessibility Act (<a href="https://ec.europa.eu/social/main.jsp?catId=1202&langId=de" target="_blank">EAA</a>) umsetzt und gemäß der bereits bekannten Web Content Accessibility Guidelines (<a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">WCAG</a>) Mindestanforderung zur Barrierefreiheit von Webseiten vorgibt. Zudem achten Kund:innen verstärkt auf die Umweltfreundlichkeit von Produkten und Webseiten. Der Berliner Webentwickler Ingo Steinke befasst sich aktiv mit diesen Themen und optimiert Internetauftritte entsprechend.
  Schau dir Ingos <a href="https://www.ingo-steinke.de/#projects">Referenzen</a> und <a href="https://www.ingo-steinke.de/#skills">Fachkenntnisse</a> auf seiner Website an oder <a href="#contact">melde dich gleich persönlich!</a></p>
</header>
<main id="content-top" class="target-offset">
{% include '../_includes/section-imprint-contact.liquid' %}
</main>
{% include '../_includes/page-footer.liquid' %}
</div>
</div>
</body>
</html>
