---
tags: addtositemap
isservices: true
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.com/img/preview-creative-web-developer.png"
previewtitle: "Angebot und Fachkenntnisse (Skills) als Webentwickler Ingo Steinke"
previewdescription: "Ingo Steinkes Leistungen und Angebote: Webentwicklung, Beratung und Optimierung"
permalink: "leistungen/index.html"
canonicalhref: "https://www.ingo-steinke.com/leistungen/"
canonicalhreflang: "de"
alternatelink: "https://www.ingo-steinke.de/services/"
alternatehreflang: "en"
---
<html lang="de">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Angebot und Fachkenntnisse (Skills) als Webentwickler Ingo Steinke</title>
    {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top">
    <div class="page-content">
        <header class="jumbotronHeader" id="jumbotronHeader">
            <br>
            {% include './_includes/jumbotron-image.liquid' %}
            <div class="overline center">Ingo Steinke</div>
            <h1 class="tagline center">Angebot und Fachkenntnisse als Webentwickler</h1>
        </header>
        {% include '../_includes/navigation-on-subpages.liquid', headerClassName: 'wide' %}
        <main id="content-top" class="target-offset">
            <section class="text-content-layout text-content-color semitransparent avoid-page-break">
                <div class="only-print timestamp top-timestamp">
                    Berlin,
                    {{ "now" | date: "%d" }}{{ content.dotIfGerman }}
                    {{ "now" | date: "%m" | customLocalizedMonthNameFilter }}
                    {{ "now" | date: "%Y" }}
                </div>
                <article class="text-width">
                    <h2>Senior Frontend-Web-Entwickler mit über 25 Jahren Berufserfahrung</h2>
                    <p>
                        Meine Arbeit als erfahrener Senior Frontend-Web-Entwickler konzentriert sich auf die Entwicklung barrierefreier, responsiver und ökologisch effizienter Websites und Web-Apps mit React, TypeScript, JavaScript, CSS und Astro.
                    </p>
                    <p>
                        Künstliche Intelligenz verwende ich da, wo es sinnvoll ist. Meinen Kunden biete ich menschliche Beratung und Expertise aufgrund meiner über 25-jährigen Berufserfahrung. Dazu gehören auch Kenntnisse im Bereich Backend und Full-Stack-Web-Entwicklung, Barrierefreiheit (BFSG, WCAG), Datenschutz (DSGVO, GDPR), Qualitätssicherung und agile Methoden.
                    </p>
                    <p>
                        Sprachkenntnisse: Englisch (C1, fließend), Deutsch (C2, Muttersprache)
                    </p>
                </article>
            </section>

            {% include './_includes/skills.liquid', showallskills: 'showallskills', skillsTitle: 'Fachkenntnisse (Skills)'  %}

            <section class="text-content-layout text-content-color semitransparent avoid-page-break">
                <h2 class="target-offset" id="frontend-webentwicklung">
                    Frontend-Web-Entwicklung: HTML, CSS, TypeScript, React
                </h2>
                <article class="text-width">
                    <p>
                        Barrierefreie Web-Entwicklung mit modernen Mitteln: HTML 5, CSS 3, TypeScript, JavaScript und React haben sich in der Frontend-Enwicklung bewährt. Das weiß ich als Senior Web-Entwickler aus langjähriger Erfahrung.
                    </p>
                    <p>
                        React habe ich in mehreren Projekten eingesetzt, zuletzt zusammen mit Astro und Tailwind in einem Proof of Concept auf Dev-UX-Lesezeichen.de. Den JavaScript- und TypeScript-Code zur Optimierung des responsiven Masonry-Layouts habe ich in als npm-Paket <a href="https://www.npmjs.com/package/hexagonal-masonry-placement" target="_blank" rel="noopener">hexagonal-masonry-placement</a> auf npmjs.com veröffentlicht.
                    </p>
                </article>

                <h2 class="target-offset">
                    E-Commerce und Full-Stack-Web-Entwicklung
                </h2>
                <article class="text-width">
                    <p>Als Shop-Software setze ich aktuell bevorzugt Shopware 6 oder WooCommerce ein. Seit 2024 bin ich <a href="/zertifizierter-shopware-6-frontend-webentwickler/">zertifizierter Shopware-Entwickler und Shopware Extension Partner</a>.</p>
                    <p>Statische Seitenerstellung (SSG) ist unter anderem mit React, Astro oder Eleventy möglich und verbessert die Effizienz und Ladezeit von Websites meist deutlich. In der Backend-Web-Entwicklung arbeite ich mit PHP, TypeScript oder JavaScript (Node.js), wobei mein Schwerpunkt die Frontend-Web-Entwicklung ist.</p>
                </article>

                <h2 class="target-offset">
                    Kommunikation, Qualitätssicherung und Barrierefreiheit
                </h2>
                <article class="text-width">
                    <p>
                        Kommunikation, Dokumentation und Qualitätssicherung spielen in Web-Projekten eine wichtige Rolle. Automatisierte Audit- und Testwerkzeuge wie Cypress, Playwright, Lighthouse, axe und WAVE erleichtern das Einhalten von Kundenwünschen und gesetzlichen Vorgaben (DSGVO, BFSG, WCAG etc.)
                    </p>
                    <p>
                        Eine Zusammenarbeit ist auf Vertragsbasis als Freelancer, per Wartungsvertrag oder nach Angebot mit Kostenvoranschlag möglich.
                        Gemeinsam mit <a href="/ueber-mich.html#netzwerk">meinen Netzwerkpartnern</a> kann ich auch größere Projekte umsetzen.
                    </p>
                    <p>
                        Interessiert? Melde dich gleich, um ein unverbindliches Gespräch zu vereinbaren! Ich bin telefonisch, per E-Mail, per Signal oder WhatsApp erreichbar. Falls ich einen Anruf nicht annehmen kann, hinterlasse mir bitte eine Sprachnachricht!
                    </p>
                </article>

                <div class="cta-container">
                    <a href="../#contact" class="buttonlike contact-link">Beratungstermin vereinbaren</a>
                </div>

            </section>
        </main>
        {% include '../_includes/page-footer-on-subpages.liquid' %}
    </div>
</div>
</body>
</html>
