---
tags: dontaddtositemap
isaboutme: false
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.de/img/preview-creative-web-developer.png"
previewtitle: "Frontend-Web-Entwickler Ingo Steinke: CV, Projekte, Skills"
previewdescription: "Ingo Steinke ist Frontend-Webentwickler mit 27 Jahren Berufserfahrung und den Schwerpunkten Barrierefreiheit, Ladegeschwindigkeit und Wartbarkeit."
permalink: "cv-tabellarisch.html"
---
<!doctype html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Frontend-Web-Entwickler Ingo Steinke</title>
  {% include '../_includes/html-head-common.liquid' %}
  <style>
    {% include '../_includes/cv-style.css' %}
  </style>
</head>
<body class="high-contrast font-cv">
<div class="page-container" id="top">
  <div class="page-content">
    <h1>Ingo Steinke, Creative Web Developer</h1>
    <div class="noflex full-width">
        <img src="img/Ingo-Steinke-flower-shirt-large.jpg"
               width="248" height="248" alt="Frontend-Web-Entwickler Ingo Steinke" class="avatar circled"
               >
        <div class="mb-min">
          barrierefreie, schnelle Websites und Onlineshops seit 1997<br>
          <br>
          <b>Tech</b>: React, TypeScript, Astro,<br>
          zertifizierter <b>Shopware 6 Experte.</b><br>
        </div>

    </div>
    <div class="noflex full-width clear">

      <div class="mb-min">
        Berlin &nbsp;·&nbsp;
        <span class="tel"><a class="transparent" href="tel:+491634684080">+491634684080</a></span> &nbsp;·&nbsp;
        <a class="transparent" href="mailto:kontakt@ingo-steinke.de">kontakt@ingo-steinke.de</a>
        <br>
      </div>

      <div>
        <a class="transparent" href="https://www.ingo-steinke.de/?utm_source=cv&utm_term=cv_2026" target="_blank" rel="noopener"><b>ingo-steinke.de</b></a> &nbsp;·&nbsp;
        <a class="transparent" href="https://github.com/openmindculture" target="_blank" rel="noopener">github.com/openmindculture</a> &nbsp;·&nbsp;
        <a class="transparent" href="https://linkedin.com/in/ingosteinke" target="_blank" rel="noopener">linkedin.com/in/ingosteinke</a><br>
      </div>

   </div>

    <div class="full-width">

      <table>
        <tr>
          <th><h2 class="heading--skills">Skills</h2></th>
        </tr>
        <tr>
          <td>
            <b>Technologien</b>:<br>
            <ul>
              <li>
                <b>Frontend</b>: React, TypeScript, ES6+, JavaScript, Tailwind, SCSS, CSS, HTML
              </li><li>
                <b>E-Commerce</b>: Shopware 6 (zertifiziert 2024), Symfony, WooCommerce
              </li><li>
                <b>Testing &amp; Tools</b>: Cypress, Vitest, Playwright, Git, npm, Docker
              </li><li>
                <b>Backend &amp; Datenbanken</b>: Node.js, mongoDB, PHP, mySQL
              </li><li>
                <b>Methoden</b>: Barrierefreiheit (WCAG), Datenschutz (DSGVO), Scrum, Agile
              </li>
            </ul>
            <b>Sprachkenntnisse</b>:
            <ul>
              <li><b>Englisch</b> (C1, fließend)</li>
              <li><b>Deutsch</b> (C2, Muttersprache)</li>
              <li><b>Französisch</b> (gutes Verständnis technischer Dokumentation und Fachsprache)</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th><h2 class="heading--has-subsections">Freelance- und Kundenprojekte (Auswahl)</h2></th>
        </tr>

        <tr class="subsection">
          <td>
            <h3 class="group group--corporate">Realisierung von Corporate Websites</h3>
          </td>
        </tr>

        <tr>
          <th>Frontend-Web-Entwicklung: namhafter Dienstleister (NDA)  · <time>01/2025 - 06/2025</time></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech Stack: PHP, JavaScript, CSS, Cypress, Docker, WordPress</li>
              <li>Projekt: Natives Theme mit dynamisch angepassten Designs und Tracking der Conversion-Rate-Optimierung zur Ablösung besehender Legacy Themes und Plugins</li>
              <li>Erfolgreiche Migration bestehender und schnellere Erstellung neuer Portale</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>Senior Frontend Entwicklung: STRABAG SE Karriere · <time>10/2021 - 05/2022</time></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech Stack: Fractal, Handlebars, HTML 5, SCSS, CSS, JavaScript, git</li>
              <li>Fachliche Leitung eines Frontend-Teams mit 3 Web-Entwicklern</li>
              <li>Aufbau eines skalierbaren Komponenten-Systems mit Fractal</li>
              <li>Livegang fristgerecht mit mehreren Länderversionen</li>
              <li>seit 2022 erfolgreich online auf <a class="transparent" href="https://karriere.strabag.com" target="_blank" rel="noopener">https://karriere.strabag.com</a></li>
            </ul>
          </td>
        </tr>

        <tr class="subsection">
          <td>
            <h3 class="group">E-Commerce-Entwicklung mit Shopware und WooCommerce</h3>
          </td>
        </tr>

        <tr>
          <th>
            Merchandise Shop: <a class="transparent" href="https://shop.open-mind-culture.org/" target="_blank" rel="noopener">shop.open-mind-culture.org</a>  · <time>04/2026 - 05/2026</time>
          </th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech-Stack: Shopware 6, PHP 8, Twig, SCSS, JavaScript</li>
              <li>Projekt: Aufbau einer E-Commerce-Plattform als Demo eigener Plugins und Themes</li>
              <li>Erfolg: Einsatz im mehrsprachigen Produktivbetrieb mit Payment und Lieferbarkeit</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>Shopware-Extension: Kostentransparenz  · <time>02/2024 - 06/2024</time></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech-Stack: Shopware 6, PHP 7, Twig, SCSS, JavaScript</li>
              <li>Projekt: responsive Datenvisualisierung für mögliche Shopware-Migration</li>
              <li>Erfolg: von Shopware geprüft und im Shopware-Store veröffentlicht:<br>
                <a
                  href="https://store.shopware.com/en/ingos57544164693f/cost-transparency.html"
                  class="transparent"
                  target="_blank"
                  rel="noopener">store.shopware.com/en/ingos57544164693f/cost-transparency.html</a>
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>
            Frontend und E-Commerce: <a class="transparent" href="https://www.foodtogether.de/" target="_blank" rel="noopener">FoodTogether.de</a>  · <time>07/2022 - 07/2024</time>
          </th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech-Stack: WooCommerce, PHP, CSS, JavaScript, npm, git</li>
              <li>Projekt: Online-Shop mit Abonnement-Bestellungen und Preistransparenz</li>
              <li>Erfolg: PayPal-Abo-Integration, Steigerung von Traffic und Umsatz</li>
            </ul>
          </td>
        </tr>

        <tr class="subsection">
          <td>
            <h3 class="group">Frontend- und Web-App-Entwicklung mit React</h3>
          </td>
        </tr>

        <tr>
          <th>Frontend-Web-Entwicklung: React-Astro-Demo · <time>07/2025 - 09/2025</time></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech-Stack: Astro 5, React 19, TypeScript, Tailwind, Playwright</li>
              <li>Projekt: Konzeption und Entwicklung eines lauffähigen Prototyps für eine IT-Fachbuch-Plattform zur Evaluierung der Astro-Inslands-Architektur mit React 19</li>
              <li>Erfolg: produktionsnah getestetes Live-System auf <a class="transparent" href="https://devux.ingo-steinke.de" target="_blank" rel="noopener">devux.ingo-steinke.de</a></li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>React-Frontend-Entwicklung: wao.io by Avenga  · <time>07/2017 - 10/2020</time></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech-Stack: React, JSX, JavaScript, Storybook, CSS in JS, GitLab</li>
              <li>Projekt: Entwicklung modularer UI-Komponenten mit Datenvisualisierung in React</li>
              <li>Erfolg: SaaS-B2B-Plattform wurde in über 20 Kundenprojekten eingesetzt</li>
            </ul>
          </td>
        </tr>

        <tr class="subsection">
          <td>
            <h3 class="group">Individuelle Web-Entwicklung</h3>
          </td>
        </tr>

        <tr>
          <th>Portfolio-Web-Entwicklung: Kleiderordnung Berlin · <time>2023 - 2024</time></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Tech Stack: HTML 5, CSS 3, JavaScript, PHP, WordPress</li>
              <li>Projekt: mehrsprachige, responsive Portfolio-Website als CMS</li>
              <li>Website: <a class="transparent" href="https://kleiderordnung.berlin" target="_blank" rel="noopener">kleiderordnung.berlin</a></li>
            </ul>
          </td>
        </tr>

        <tr>
          <th><h2>Beruflicher Werdegang (2000–2020)</h2></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Avenga Germany — Senior Software Developer / Technical Consultant · 2014 - 2020</li>
              <li>Lucom GmbH — Software Consultant · 2018</li>
              <li>Xsite GmbH— Web Developer / E-Commerce Engineer · 2010 - 2014</li>
              <li>Active-Websight GbR — Co-Founder / Web Developer · 2000 - 2010</li>
            </ul>
          </td>
        </tr>
      </table>

      <h2>Über mich: Webentwickler mit Begeisterung für UX-Design</h2>
      <p>
        Schöne, schnelle und barrierefreie Websites für alle – diese Vision prägt meine Arbeit. Seit Ende 2020 begleite ich Agenturen und Unternehmen als selbstständiger Senior Frontend-Webentwickler (Freelancer).
      </p>
      <ul>
        <li>
          Netzwerk und Kooperation: Bestens vernetzt mit Designern und Entwicklern,<br>
          freie Mitarbeit bei defacto|ci, Railslove und Berlingeschwister.</li>

        <li>Engagement: Ehemaliger Mitveranstalter des Kölner Web-Performance Meetups (2019–2021) sowie langjähriger Vorsitzender der Skate Association Germany e.V.</li>

        <li>Arbeitsweise: Teamfähig, kommunikationsstark und flexibel.</li>

        <li>Mobilität: Wohnhaft in Berlin, unkompliziert reisebereit (Führerschein und PKW vorhanden).</li>

      </ul>
      <p>
        Ich freue mich auf unsere Zusammenarbeit!
      </p>
      <p>
        <b>Ingo Steinke</b><br>
        Creative Web Developer
      </p>
      <p>
        Berlin, Mai 2026
      </p>
    </div>
  </div>
</div>
</body>
<!-- generated from src/leistungen/cv-tabellarisch.liquid -->
</html>
