---
tags: addtositemap
imgdirectory: "../img"
previewdescription: "Wir überarbeiten und optimieren deine Website barrierefrei, effizient und zertifiziert, einfach bei Ecosia und Google zu finden."
permalink: "leistungen/optimierung.html"
canonicalhref: "https://www.ingo-steinke.de/leistungen/optimierung.html"
canonicalhreflang: "de"
alternatelink: "https://www.ingo-steinke.com/services/optimization.html"
alternatehreflang: "en"
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Wir überarbeiten und optimieren deine Website barrierefrei!</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top">
  <div class="page-content">
    <header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
      {% include '../_includes/jumbotron-image.liquid' %}
      <h1>Wir überarbeiten deine Website!</h1>
      <ul class="aside-heading">
        <li>ökologisch effizient und zertifiziert</li>
        <li>optimiert für Computer und Smartphone</li>
        <li>einfach bei Ecosia und Google zu finden</li>
        <li>langfristige Wartungsverträge möglich</li>
      </ul>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid' %}
    <main id="content-top" class="target-offset">
      <section class="text-content-layout text-content-color pb3">
        <article class="text-width">
          <h2>Websites erweitern, überarbeiten und optimieren lassen</h2>
          <p>Zusammen verbessern wir deine Website! Ein <a
              href="../{{ content.servicesVerifyMoreLinkPath }}">Web-Check</a> verrät dir, wie schnell, nachhaltig und
            barrierefrei deine Website erscheint und an welchen Stellen wir sie noch optimieren können. Bei Interesse <a
              href="../#contact" class="contact-link">melde dich gerne</a> und buche ein kostenloses Erstgespräch!</p>
        </article>

        <div class="cta-container">
          <a href="../#contact" class="buttonlike contact-link">Beratungstermin vereinbaren</a>
        </div>
      </section>

      {% include '../_includes/section-services-on-subpages.liquid' %}

      <p>&nbsp;</p>

      <section class="text-content-color">
        <article class="alternating-div-color text-content-layout-children">
          <div class="text-width-children mb0">
            <h2>Fragen und Antworten zur Optimierung deiner Website</h2>
            <p>Zur Optimierung bestehender Internetseiten können wir je nach Seite ganz unterschiedliche Maßnahmen ergreifen, darunter bewährte Methoden, die fast immer einen Gewinn bringen. Dazu gehört das Aufräumen unnötiger Datenfresser und die Verschlankung von Dateigrößen bei gleicher Bildqualität. Was wir bei der Web-Optimierung ganz konkret beachten und was wir konkret tun können, erfährst du auf dieser Seite.</p>
          </div>
          <div class="text-width-children mb0">
            <h3>Wird deine Website beim Umbau zur Baustelle?</h3>
            <p>Nein, denn Veränderungen finden üblicherweise Schritt für Schritt statt und können jeweils auf einem Testsystem überprüft und freigegeben werden. Bei Sofortmaßnahmen (Hotfixes) gegen dringende Fehler oder aufgrund einer Abmahnung testen wir entsprechend gründlich, um unerwünschte Auswirkungen zu verhindern. Deine Website bleibt dabei idealerweise immer erreichbar und betriebsbereit.</p>
          </div>
          <div class="text-width-children mb0">
            <h3>Wie kannst du schnell erste Erfolge erzielen?</h3>
            <p>Wir beginnen mit den dringendsten Korrekturen: kritische Fehler finden und sofort beheben, weitere Maßnahmen planen und priorisieren. Die können dann in aller Ruhe schritt für Schritt umgesetzt und werden, wie es deiner Zeit und deinem Budget entspricht. Zwischenergebnisse können zeitnah veröffentlicht werden und deine Website unmittelbar veressern.</p>
          </div>

          <div class="text-width-children mb0">
            <h3>Woher wissen wir, was wir auf deiner Website verbessern sollen?</h3>
            <p>Mit meinem erfahrenen Blick und modernen Diagnosewerkzeugen finde ich nicht nur Fehler und Probleme,
              sondern auch ungenutzte Verbesserungsmöglichkeiten auf bestehende Webseiten. Oft können schon einfache
              Maßnahmen wie das optimierte Abspeichern sehr großer Bilder auf der Startseite oder das Entfernen
              ungenutzter Komponenten große Verbesserungen bei der Ladezeit und der energetischen Effizienz erzielen.
              Auch bei der Barrierefreiheit sind es oft einfache Lösungen, die Nutzbarkeit entscheidend verbessern,
              beispielsweise ein erhöhter Farbkontrast oder die Ergänzung fehlender Beschriftungen.</p>
          </div>

          <div class="text-width-children mb0">
            <h3>Was sind technische Schulden und wie werden wir sie los?</h3>
            <p>Im Geschäftsleben muss es oft schnell gehen: Startups wollen wachsen und mit wenig Aufwand sichtbar werden. Eine einfache Website ist am Anfang völlig ausreichend, aber auf Dauer nicht nachhaltig. Wenn schon bei der Erstellung klar ist, das später nachgearbeitet werden muss, sprechen wir von technischen Schulden. Veraltete Software wird auch als Legacy Code bezeichnet. Eine Sanierung bzw. Umprogrammierung (Refactoring) beginnt meist damit, sich einen Überblick über die Funktionsweise zu verschaffen, diese zu dokumentieren und durch automatische Tests sicherzustellen. Dann können Schritt für Schritt wichtige Aktualisierungen nachgeholt und neue Erweiterungen ergänzt werden.</p>
          </div>

          <div class="text-width-children mb0">
            <h3>Wie machen sich automatische Tests bezahlt?</h3>
            <p>Dank der modernen Technik können viele Testschritte automatisiert wiederholt werden. So lassen sich Screenshots vor und nach Veränderungen vergleichen und wichtige Grundfunktionen sicherstellen, beispielsweise Warenkorb und Bezahlvorgang eines Online-Shops. Automatisierte Audits können unter anderem defekte Verlinkungen und offensichtliche Verstöße gegen Anforderung der Barrierefreiheit erkennen und bei der Bewertung und Priorisierung der Reparaturen unterstützen. Die anfängliche Investition in die Testerstellung macht sich langfristig durch Verringerung von Fehlerquoten und Vereinfachung von Folgeaufträgen bezahlt.</p>
          </div>

          <div class="text-width-children mb0">
            <h3>Wann lohnt sich die Optimierung einer Website?</h3>
            <p>Egal wie schön und erfolgreich dein Internetaufritt aussieht, Verbesserungspotenzial gibt es immer!
              Nachhaltigkeit bedeutet auch Wartbarkeit: wie pflegeleicht, langlebig und wiederverwendbar ist die
              Software? Hier können Websitebetreiber:innen langfristig laufende Kosten sparen.</p>
          </div>

          <div class="text-width-children mb0">
            <h3>Was kostet die Optimierung deiner Website?</h3>
            <p>Die Kosten hängen vom Umfang und der Art der Arbeit ab. Einserseits können schon kleine und
              kostengünstige Veränderungen großen Nutzen bringen, andererseits sind manche Fehler schwer zu finden und aufwändig zu beheben.</p>
          </div>

          <div class="text-width-children mb0 no-alternating-color">
            <h3>Kostenloses Erstgespräch nutzen</h3>
            <p>Unser erstes Gespräch ist unverbindlich und kostenlos. Hinterlasse mir eine Nachricht, ich werde mich dann bei dir melden!
            </p>
          </div>

        </article>
        <div class="cta-container">
          <a href="../#contact" class="buttonlike contact-link">Beratungstermin jetzt vereinbaren!</a>
        </div>
      </section>

    </main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
  </div>
</div>
</body>
</html>
