---
tags: addtositemap
imgdirectory: "../img"
permalink: "leistungen/optimierung.html"
alternatelink: "https://www.ingo-steinke.de/services/optimization.html"
alternatehreflang: "en"
---
<!DOCTYPE html><html lang="de"><head><meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Wir bauen deine Website! schnell, erfolgreich, nachhaltig, barrierefrei</title>
  {% include '../_includes/html-head-common.liquid' %}
  <link
    rel="alternate"
    hreflang="{{ alternatehreflang }}"
    href="{{ alternatelink }}"
  >
</head>
<body>
<div class="page-container" id="top"><div class="page-content">
    <header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
      {% include '_includes/jumbotron-image.liquid' %}
      <h1>Wir erweitern und optimieren deine Website!</h1>
      <ul class="aside-heading">
        <li>deine Kund:innen werden sie lieben</li>
        <li>perfekt für Computer und Smartphone</li>
        <li>einfach bei Ecosia und Google zu finden</li>
        <li>ökologisch effizient und zertifiziert</li>
      </ul>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid' %}
    <main id="content-top" class="target-offset">
      <section class="text-content-layout text-content-color">
        <article class="text-width">
          <h2>Website erweitern, überarbeiten und optimieren</h2>
          <p>Zusammen verbessern wir deine Website! Welche Fragen und Aspekte wir dabei beachten können, verrate ich dir auf dieser Seite. Hast du konkretes Interesse? Dann <a href="../#kontakt">melde dich gerne</a> und buche ein kostenloses Erstgespräch!</p>

       </article>

        <div class="cta-container">
          <a href="../#kontakt" class="buttonlike">Beratungstermin vereinbaren</a>
        </div>
      </section>

      <section class="text-content-color">
        <article class="text-content-layout text-width mb0">
          <h2>Website überarbeiten lassen: Fragen und Antworten</h2>
          <p>Wenn wir mit einem Internetauftritt schnell und nachhaltig erfolgreich sein wollen, empfiehlt es sich, schon von Anfang an auch auf Barrierefreiheit, Datenschutz, Sicherheit und ökologische Effizienz zu achten. So können wir Synergien nutzen und langfristig Kosten sparen. So wird Nachhaltigkeit zum Wettbewerbsvorteil, der auch unsere Kund:innen überzeugen kann.</p>
        </article>

        <article class="alternating-div-color text-content-layout-children">
          <div class="text-width-children mb0">
            <h3>Wird meine Website beim Umbau zur Baustelle?</h3>
            <p>Nein! Veränderungen sollten Schritt für Schritt stattfinden und auf einem Testsystem überprüft und freigegeben werden. Deine eigentliche Website bleibt dabei jederzeit betriebsbereit.</p>
          </div>
          <div class="text-width-children mb0">
            <h2>Wie kann ich schnell erste Erfolge sehen?</h2>
            <p>Wir beginnen mit den dringendsten Dingen: kritische Fehler finden und sofort beheben, weitere Maßnahmen planen und priorisieren. Die können dann in aller Ruhe schritt für Schritt umgesetzt und werden, wie es deiner Zeit und deinem Budget entspricht.</p>
          </div>
          <div class="text-width-children mb0">
            <h2>Was ist bei dringenden Reparaturen zu beachten?</h2>
            <p>Sofortmaßnahmen können eine langfristige Sanierung und Modernisierung sinnvoll ergänzen. Auch bei schnellen Eingriffen zur Fehlerbehebung oder Aufgrund einer Abmahnung ist es wichtig, zeitnah und gründlich (genug) zu testen, um unerwünschte Auswirkungen an anderen Stellen zu verhindern und die Qualität der Website stetig zu verbessern.</p>
          </div>
          <div class="text-width-children mb0">
            <h2>Woher weiß ich, was ich auf meiner Website verbessern soll?</h2>
            <p>Mit meinem erfahrenen Blick und modernen Diagnosewerkzeugen finde ich nicht nur Fehler und Probleme, sondern auch ungenutzte Verbesserungsmöglichkeiten auf bestehende Webseiten. Oft können schon einfache Maßnahmen wie das optimierte Abspeichern sehr großer Bilder auf der Startseite oder das Entfernen ungenutzter Komponenten große Verbesserungen bei der Ladezeit und der energetischen Effizienz erzielen. Auch bei der Barrierefreiheit sind es oft einfache Lösungen, die Nutzbarkeit entscheidend verbessern, beispielsweise ein erhöhter Farbkontrast oder die Ergänzung fehlender Beschriftungen.</p>
          </div>
          <div class="text-width-children mb0">
            <h2>Wie können automatische Tests die Qualität der Optimierung verbessern?</h2>
            <p>Dank der modernen Technik können viele Testschritte automatisiert wiederholt werden. So lassen sich Screenshots vor und nach Veränderungen vergleichen und wichtige Grundfunktionen, wie beispielsweise Warenkorb und Bezahlvorgang eines Online-Shops, sicherstellen. Automatisierte Audits können unter anderem defekte Verlinkungen und offensichtliche Verstöße gegen Anforderung der Barrierefreiheit erkennen und bei der Bewertung und Priorisierung der Reparaturen unterstützen.</p>
          </div>
          <div class="text-width-children mb0">
            <h3>Noch eine Überschrift?</h3>
            <p>Eine digitale Nachhaltigkeitsstrategie usw. = TODO: aus den anderen Seiten und Notizen Textteile ergänzen!</p>
          </div>
          <div class="text-width-children mb0">
            <p>Ist ein klimafreundlicher Internetauftritt für dich relevant? Hast du noch Fragen zur nachhaltigen Webentwicklung? Melde dich gerne direkt oder buche einen Termin für eine unverbindliche und kostenlose Erstberatung!
            </p>
          </div>
          <div class="text-width-children mb0 no-alternating-color">
            P.S. der letzte Abschnitt sollte möglichst immer auf einer nicht-alternativen Farbe auskommen, was wir aber auch forcieren könnten durch last-child oder Klassennamen?
          </div>
        </article>
        <div class="cta-container">
          <a href="../#kontakt" class="buttonlike">Beratungstermin jetzt vereinbaren!</a>
        </div>
      </section>

    </main>
    {% include '../_includes/page-footer.liquid' %}
  </div>
</div>
</body>
</html>
