---
tags: addtositemap
imgdirectory: "../img"
permalink: "leistungen/optimierung.html"
alternatelink: "https://www.ingo-steinke.de/services/optimization.html"
alternatehreflang: "en"
---
<!DOCTYPE html><html lang="de"><head><meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Wir bauen deine Website! schnell, erfolgreich, nachhaltig, barrierefrei</title>
  {% include '../_includes/html-head-common.liquid' %}
  <link
    rel="alternate"
    hreflang="{{ alternatehreflang }}"
    href="{{ alternatelink }}"
  >
</head>
<body>
<div class="page-container" id="top"><div class="page-content">
    <header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
      {% include '_includes/jumbotron-image.liquid' %}
      <h1>Wir erweitern und optimieren deine Website!</h1>
      <ul class="aside-heading">
        <li>damit deine Kund:innen sie lieben</li>
        <li>perfekt für Computer und Smartphone</li>
        <li>einfach bei Ecosia und Google zu finden</li>
        <li>ökologisch effizient und zertifiziert</li>
      </ul>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid' %}
    <main id="content-top" class="target-offset">
      <section class="text-content-layout text-content-color">
        <article class="text-width">
          <h2>Websites erweitern, überarbeiten und optimieren lassen</h2>
          <p>Zusammen verbessern wir deine Website! Mit dem unverbindlichen <a href="../{{ content.servicesVerifyMoreLinkPath }}">Web-Check</a> erfährst du, wie schnell, nachhaltig und barrierefrei deine Website erscheint und an welchen Stellen wir sie noch optimieren können. Bei Interesse <a href="../#kontakt">melde dich gerne</a> und buche ein kostenloses Erstgespräch!</p>
       </article>

        <div class="cta-container">
          <a href="../#kontakt" class="buttonlike">Beratungstermin vereinbaren</a>
        </div>
      </section>

      <section class="text-content-color">
        <article class="text-content-layout text-width mb0">
          <h2>Fragen und Antworten zur Optimierung deiner Website</h2>
          <p>Die Optimierung bestehender Internetseiten kann von Fall zu Fall ganz unterschiedlich aussehen. Was wir dabei ganz konkret beachten und wie wir vorgehen können, erfährst du auf dieser Seite.</p>
        </article>

        <article class="alternating-div-color text-content-layout-children">
          <div class="text-width-children mb0">
            <h3>Wird deine Website beim Umbau zur Baustelle?</h3>
            <p>Nein, denn Veränderungen sollten Schritt für Schritt stattfinden und jeweils auf einem Testsystem überprüft und freigegeben werden. Bei Sofortmaßnahmen (Hotfixes) gegen dringende Fehler oder aufgrund einer Abmahnung testen wir entsprechend gründlich, um unerwünschte Auswirkungen zu verhindern. Deine Website bleibt dabei idealerweise immer erreichbar und betriebsbereit!</p>
          </div>
          <div class="text-width-children mb0">
            <h3>Wie kannst du schnell erste Erfolge sehen?</h3>
            <p>Wir beginnen mit den dringendsten Dingen: kritische Fehler finden und sofort beheben, weitere Maßnahmen planen und priorisieren. Die können dann in aller Ruhe schritt für Schritt umgesetzt und werden, wie es deiner Zeit und deinem Budget entspricht.</p>
          </div>

          <div class="text-width-children mb0">
            <h3>Woher wissen wir, was wir auf deiner Website verbessern sollen?</h3>
            <p>Mit meinem erfahrenen Blick und modernen Diagnosewerkzeugen finde ich nicht nur Fehler und Probleme, sondern auch ungenutzte Verbesserungsmöglichkeiten auf bestehende Webseiten. Oft können schon einfache Maßnahmen wie das optimierte Abspeichern sehr großer Bilder auf der Startseite oder das Entfernen ungenutzter Komponenten große Verbesserungen bei der Ladezeit und der energetischen Effizienz erzielen. Auch bei der Barrierefreiheit sind es oft einfache Lösungen, die Nutzbarkeit entscheidend verbessern, beispielsweise ein erhöhter Farbkontrast oder die Ergänzung fehlender Beschriftungen.</p>
          </div>

          <div class="text-width-children mb0">
            <h3>Was sind technische Schulden und wie werden wir sie wieder los?</h3>
            <p>Im Geschäftsleben muss es oft schnell gehen: Startups wollen wachsen und mit wenig Aufwand sichtbar werden. Eine einfache Website ist am Anfang völlig ausreichend, aber auf Dauer nicht nachhaltig. Wenn schon bei der Erstellung klar ist, das später nachgearbeitet werden muss, sprechen wir von sogenannten technischen Schulden, die wir in Form von Umprogrammierung (Refactoring) abbauen, um so die Qualität zu erhöhen und die Erweiterbarkeit sicherzustellen.</p>
            <p>Legacy Code ist ein ähnliches Phänomen, das ensteht, wenn Software veraltet, weil sie nicht regelmäßig gepflegt wurde, oder wenn die ursprünglichen Entwickler:innen die Programmierung aufgegeben haben. Wenn Webentwickler solche Projekte übernehmen, müssen sie zunächst die Funktionsweise verstehen, um fehlende Dokumentation und Absicherung (Testabdeckung) zu ergänzen und Schritt für Schritt wichtige Aktualisierungen nachholen und gewünschte Erweiterung hinzufügen.</p>
          </div>

          <div class="text-width-children mb0">
            <h3>Wie können automatische Tests die Qualität der Optimierung verbessern?</h3>
            <p>Dank der modernen Technik können viele Testschritte automatisiert wiederholt werden. So lassen sich Screenshots vor und nach Veränderungen vergleichen und wichtige Grundfunktionen, wie beispielsweise Warenkorb und Bezahlvorgang eines Online-Shops, sicherstellen. Automatisierte Audits können unter anderem defekte Verlinkungen und offensichtliche Verstöße gegen Anforderung der Barrierefreiheit erkennen und bei der Bewertung und Priorisierung der Reparaturen unterstützen.</p>
          </div>

          <div class="text-width-children mb0 no-alternating-color">
            <h3>Was kostet die Optimierung einer Website?</h3>
            <p>Die Kosten hängen vom Umfang und der Art der Arbeit ab. Einserseits können schon kleine und kostengünstige Veränderungen großen Nutzen bringen, andererseits sind manche Fehler schwer zu finden und aufwändig zu beheben. Meinen aktuellen Standard-Stundensatz findest du auf meiner Homepage im <a href="https://www.ingo-steinke.de/#pricing">Abschnitt "Preise"</a>. Gemeinnützige Organisationen und ethische Startups können auf Anfrage Vergünstigungen erhalten.</p>
          </div>

          <div class="text-width-children mb0 no-alternating-color">
            <h3>Kostenloses Erstgespräch</h3>
            <p>Meine Erstberatung ist grundsätzlich kostenlos. Du kannst gleich einen Termin in meinem Online-Kalender buchen oder du meldest dich auf einem Kanal deiner Wahl (E-Mail, Telefon, Messenger, Kontaktformular, LinkedIn, reflecta Network ...) und hinterlässt mir eine Nachricht. Ich werde mich dann zeitnah bei dir melden!
            </p>
          </div>

        </article>
        <div class="cta-container">
          <a href="../#kontakt" class="buttonlike">Beratungstermin jetzt vereinbaren!</a>
        </div>
      </section>

    </main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
  </div>
</div>
</body>
</html>
