---
tags: addtositemap
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.com/img/preview-freelancer-berlin-de.png"
previewtitle: "Freelance Webentwickler in Berlin: Ingo Steinke"
previewdescription: "Ingo Steinke ist ein Freelance Webentwickler aus Berlin mit über 25-jähriger Berufserfahrung."
permalink: "leistungen/webentwickler-berlin-freelancer.html"
canonicalhref: "https://www.ingo-steinke.de/leistungen/webentwickler-berlin-freelancer.html"
canonicalhreflang: "de"
alternatelink: "https://www.ingo-steinke.com/services/freelance-webdeveloper-berlin.html"
alternatehreflang: "en"
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Freelance Webentwickler in Berlin: Ingo Steinke</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top">
  <div class="page-content">
    <header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
      {% include '../_includes/jumbotron-image.liquid' %}
      <h1>Freelance Webentwickler in Berlin</h1>
      <ul class="aside-heading">
        <li>langjährige Erfahrung</li>
        <li>langfristige Zusammenarbeit</li>
        <li>nachhaltiges Konzept von Anfang an</li>
      </ul>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid' %}
    <main id="content-top" class="target-offset">
      <section class="text-content-layout text-content-color">
        {% include '../_includes/image-align-right-ingo-laptop.liquid' %}
        <article class="text-width">
          <h2>Hallo, ich bin Frontend-Webentwickler in Berlin!</h2>
          <p>Schön, dass du mich entdeckt hast! Ich bin Ingo Steinke, Freelance Webentwickler mit
            Frontend-Fokus und über 25 Jahren Berufserfahrung. Aktuell arbeite ich bevorzugt an Frontend-Projekten mit den Schwerpunkten Barrierefreiheit, mobile/responsive Darstellung, Optimierung der Ladegeschwindigkeit, Effizienz und ökologische Nachhaltigkeit.</p>

          <p>Als erfahrener Freelancer ergänze ich Entwickler-Teams remote oder vor Ort und helfe dabei, barrierefreie und performante Websites so umzusetzen, dass sie sicher, wartbar und zukunftsfähig sind. Mit TypeScript, JavaScript, React, Astro und anderen Frontend-Frameworks und Libraries, Tailwind, CSS und Testwerkzeugen kenne ich mich aus.
          </p>
          <p>Hier kannst du meinen
            <a href="{{ content.targetHrConciseCvUrl }}" hreflang="de" target="_blank">Lebenslauf (CV) mit Skills und Projekten als PDF</a> herunterladen und mehr über meine <a href="/leistungen/">Skills</a>, <a href="/projekte/">Referenzen und Projekten</a> erfahren.</p>

          <h2>Arbeitsproben, Projekte und Code-Beispiele</h2>
          <p>In einem persönlichen Gespräch kannst du dir einen eigenen Eindruck von mir verschaffen. Arbeitsproben und Codebeispiele findest du unter anderem auf <a
              href="https://github.com/openmindculture" target="_blank" rel="noopener">GitHub (@openmindculture)</a>.</p>

          <p>Fachlich bin ich bereit und in der Lage, mich schnell in neuen Technologien und Themen einzuarbeiten.
            Menschlich kann ich mich dank meiner kommunikativen Fähigkeiten, meiner Berufserfahrung schnell in Teams integrieren und bei Bedarf auch die technische Leitung übernehmen.</p>

          <p>Ich habe als Freelancer (und davor als Angestellter) in verschiedenen Firmen und Teams gearbeitet, teilweise als
            technischer Projektleiter, und meist mit direktem Kundenkontakt. Ich spreche fließend Deutsch (Muttersprachler) und Englisch, habe als Deutscher Staatsbürger eine Arbeitserlaubnis für die gesamte EU und lasse mich weder von technischen noch von bürokratischen Hürden daran hindern, meine Aufgaben erfolgreich abzuschließen.</p>

          <p>Ich ergänze Teams als Freelance-Webentwickler, arbeite aber auch für Mittelständler und Startups.</p>
          <p>Habe ich dein Interesse geweckt? Dann lass uns einander gerne in einem unverbindlichen Gespräch persönlich kennenlernen! </p>
        </article>

        <div class="cta-container">
          <a href="../#contact" class="buttonlike contact-link">Gespräch vereinbaren</a>
        </div>

        <p>&nbsp;</p>
      </section>

      <section class="text-content-layout text-content-color" id="faq">
        {% include '../_includes/image-align-right-device-lab.liquid' %}
        <article class="text-width mb0">

          <h2>Wie ich Websites geräteübergreifend teste</h2>

          <p>Websites, Web-Apps und Designsysteme (Design Systems) habe ich unter anderem mit Fractal und Storybook entwickelt und mit Cypress, Codecept, Viteest und Playwright getestet.</p>

          <p>Ich habe regelmäßig mit MacBooks, Linux- und Windows-PCs gearbeitet. Auch mit iPhone und Android-Smartphones habe ich vielfältige
            Erfahrungen und betreibe ein kleines  "Device Lab" mit mehreren Testgeräten. Außerdem habe ich Zugang zu BrowserStack, wo ich Websites auf zahlreichen Geräten ferngesteuert überprüfen kann.</p>

          <h2>Fachkenntnisse als Frontend-Webentwickler</h2>

          <p>Ich bin seit über 25 Jahren als Webentwickler tätig und habe entsprechend solides Wissen, speziell im Frontend-Bereich:</p>
          <ul>
            <li>HTML / HTML 5</li>
            <li>CSS / CSS 3 / SCSS / Tailwind</li>
            <li>JavaScript / ECMAScript / TypeScript</li>
            <li>barrierefreies und responsive Web Design</li>
            <li>Astro, React und weitere Frontend-Frameworks bzw. Libraries</li>
          </ul>

          <h2>Zusammenarbeit, Dokumentation und Kommunikation</h2>

          <p>Von Technologie und Technik abgesehen habe ich viel Erfahrung und Eigeninitiative, bin dank meiner kommunikativen Fähigkeiten aber auch ein Teamplayer.</p>

          <p>Dokumentation und Qualitätssicherung sind mir wichtig. Agile Methoden wie Scrum und Kanban sind mir vertraut. Am liebsten setze ich sie pragmatisch ein. Ich orientiere mich an Coding Standards, sehe Methoden wie Clean Code und Test-Driven Development aber nicht als Selbstzweck. Ich vertrete meine Meinung auf konstruktive Weise, richte mich aber selbstverständlich immer nach den Anforderungen und Bedürfnissen meiner Kunden.</p>

          <p>Lass uns gerne miteinander über dein nächstes Projekt sprechen!</p>

        </article>

        <div class="cta-container">
          <a href="../#contact" class="buttonlike contact-link">Kontakt aufnehmen</a>
        </div>

        <p>&nbsp;</p>

      </section>

      <section class="text-content-color" id="faq">
        <article class="text-content-layout text-width mb0">
          <h2>Webentwicklung in Berlin: Fragen und Antworten</h2>
        </article>

        <article class="alternating-div-color text-content-layout-children">
          <div class="text-width-children mb0">
            <h3>Wer erstellt Websites in Berlin?</h3>
            <p>Berliner Webentwickler wie Ingo Steinke (das bin ich) erstellen Websites und Web-Apps, nicht nur für Kundinnen und Kunden in Berlin, sondern überall, egal wo ihr gerade seid. Als Berliner Webentwickler kann ich bei Bedarf kurzfristig zu Besprechungen vor Ort erscheinen oder im Büro von Kunden oder Agenturen mitarbeiten. Bei frühzeitiger Anfrage und Verfügbarkeit bin ich grundsätzlich auch außerhalb von Berlin reisebereit.</p>
          </div>
          <div class="text-width-children mb0">
            <h3>Wo findest du gute Webentwickler für dein Projektteam?</h3>
            <p>Als Webentwickler bin ich nicht nur in Berlin gut vernetzt: Designer, Agenturen, andere Web-Entwickler und spezialisierte Dienstleister gehören zu meinem Netzwerk. Webentwickler in Berlin oder in deiner Nähe kannst du also unter anderem auch in meinem Netzwerk entdecken.</p>
          </div>

          <div class="text-width-children mb0">
            <h2>Wie schnell kannst du mich als Freelance-Webentwickler in dein Team integrieren?</h2>
            <p>Als erfahrener Webentwickler weiß ich, warum es wichtig ist, die Mission und Firmenkultur zu verstehen und mich als Teamplayer zu integrieren. Als Freelance-Webentwickler ist es entscheidend, dass ich dies auch schnell und kurzfristig leiste. Sowohl das fachliche Onboarding als auch Kennenlernen und Kommunikation als Teil eines Teams kann bei Bedarf sehr schnell gehen und ist nicht nur in Berlin grundsätzlich auch vor Ort möglich.</p>

            <p>In einem unverbindlichen Gespräch, finden wir heraus, ob ich dein Team nicht nur fachlich, sondern auch menschlich ergänzen kann.</p>

            <p>Ich bin kommunikativ, flexibel und anpassungsfähig, denke aber auch über aktuelle
              Anforderung hinaus, sofern das gewünscht und zielführend ist, um rechtzeitig wichtige Rückfragen zu stellen.</p>
          </div>

          <div class="text-width-children mb0">
            <h2>Warum ich als Webentwickler in Berlin arbeite</h2>
            <p>
              Warum Berlin? In Berlin gibt es Startups, Meetups, Projekte, Partner und die vielfältige Infrastruktur der Stadt. Coworking und Austausch im Impact Hub, bei Ignite Future Talks im CoCreation Loft, JavaScript- und Accessibility-Meetups, Creative Mornings Berlin, beta Breakfast, Konferenzen für Kreative, Designer und Entwickler wie die Beyond Tellerrand, Green Coding und andere nachhaltige Veranstaltungen und Initiativen.</p>
            <p>Berlin ist zudem gut angebunden, so dass ich meine Geschäftspartner auch in Karlsruhe, Dresden, Hamburg oder Düsseldorf schnell mit der Bahn erreichen kann, wenn Konferenzen oder Besprechungen vor Ort anstehen.</p>
            <p>In Berlin stehen uns bei Bedarf Besprechungsräume im Impact Hub Berlin zur Verfügung. Ansonsten kommuniziere ich gerne online: Tools wie Videokonferenzen, E-Mail, Figma, GitHub, Slack und Jira ermöglichen uns, effizient, flexibel und gleichzeitig kreativ und persönlich zusammenzuarbeiten.
            </p>
          </div>

          <div class="text-width-children mb0">
            <h2>Kannst du mich dich auch als Einzelunternehmer buchen?</h2>
            <p>Ich ergänze Teams als Freelance-Webentwickler, arbeite aber auch als Einzelunternehmer. Das ist vor allem für Mittelständler und Startups interessant.</p>
            <p>Kunden mit großen Projekten schätzen wiederum die Vorteile interdisziplinärer Teams von <a href="/ueber-mich.html#netzwerk">Agenturen oder Netzwerken</a>.</p>
          </div>
          <div class="text-width-children mb0 no-alternating-color">
            <h2>Unverbindliches Kennenlernen</h2>
            <p>Meine Erstberatung ist grundsätzlich unverbindlich, sowohl für individuelle Auftraggeber, als auch für Agenturen und Vermittler.<br>
              Hinterlasse mir eine Nachricht, ich werde mich dann bei dir melden!
            </p>
          </div>

        </article>
        <div class="cta-container">
          <a href="../#contact" class="buttonlike contact-link">Verfügbarkeit anfragen</a>
        </div>
      </section>

    </main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
  </div>
</div>
</body>
</html>
