---
tags: addtositemap
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.com/img/preview-freelancer-berlin-de.png"
previewtitle: "Freelance Webentwickler in Berlin: Ingo Steinke"
previewdescription: "Ingo Steinke ist ein Freelance Webentwickler aus Berlin mit über 20-jähriger Berufserfahrung."
permalink: "leistungen/webentwickler-berlin-freelancer.html"
alternatelink: "https://www.ingo-steinke.com/services/freelance-webdeveloper-berlin.html"
alternatehreflang: "en"
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Freelance Webentwickler in Berlin: Ingo Steinke</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top">
  <div class="page-content">
    <header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
      {% include '_includes/jumbotron-image.liquid' %}
      <h1>Freelance Webentwickler in Berlin</h1>
      <ul class="aside-heading">
        <li>Leistungen und Preise</li>
        <li>nachhaltiges Konzept von Anfang an</li>
        <li>langfristige Zusammenarbeit</li>
        <li>langjährige Erfahrung</li>
      </ul>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid' %}
    <main id="content-top" class="target-offset">
      <section class="text-content-layout text-content-color">
        <article class="text-width">
          <h2>Hallo, ich bin dein Webentwickler!</h2>
          <p>Ich freue mich, dass du mich im Internet entdeckt hast! Ich bin Ingo Steinke, Freelance Webentwickler mit
            langjähriger Fullstack-Erfahrung. Aktuell arbeite ich bevorzugt an Frontend-Projekten mit den Schwerpunkten
            Barrierefreiheit, mobile/responsive Darstellung, Optimierung der Ladegeschwindigkeit, Effizienz und
            ökologische Nachhaltigkeit von Webseiten.</p>

          <p>Ausführliche Informationen zu meinen Fachkenntnissen (Skillmatrix), meine Projektliste und meinen Werdegang
            findest du in meinem <a href="https://www.ingo-steinke.de/">Portfolio auf der Homepage</a>. Meinen
            Lebenslauf (CV) mit allen relevanten Informationen kannst du auch als PDF herunterladen.</p>
          <ul>
            <li><a href="../Ingo-Steinke-CV-Projekte-Skills-2024-nachhaltiger-Webentwickler.pdf" target="_blank"
                   rel="noopener noreferrer nofollow">Ingo Steinke, Webentwickler, Berlin: CV, Skills, Projekte</a>
              (deutsch, Stand: Februar 2024)
            </li>
            <li><a href="../Ingo-Steinke-CV-Projects-Skills-2024-sustainable-web-developer.pdf" target="_blank"
                   rel="noopener noreferrer nofollow">Ingo Steinke, web developer, Berlin: CV, skills, projects</a>
              (englisch, Stand: Februar 2024)
            </li>
          </ul>

          <h2>Arbeitsproben, Projekte und Codebeispiele</h2>
          <p>In einem persönlichen Gespräch kannst du dir einen eigenen Eindruck von mir verschaffen. <a
              href="#faq-woher-weiss-ich">Wie wir herausfinden können, ob ich als Freelancer in dein Team passe</a> und weitere <a
              href="#faq">Fragen und Antworten</a> findest du auf dieser Seite. Wenn du wissen willst, wie ich arbeite, findest du Arbeitsproben und Codebeispiele unter anderem auf <a
              href="https://github.com/openmindculture" target="_blank" rel="noopener">GitHub (@openmindculture)</a>.</p>

          <p>Fachlich bin ich bereit und in der Lage, mich schnell in neuen Technologien und Themen einzuarbeiten.
            Menschlich kann ich mich dank meiner kommunikativen Fähigkeiten, meiner Lebenserfahrung und meinem "Blick
            über den Tellerrand" schnell in Teams integrieren und bei Bedarf auch gerne die technische Leitung
            übernehmen.</p>

          <p>Ich habe als Angestellter und Freelancer in verschiedenen Firmen und Teams gearbeitet, teilweise als
            technischer Projektleiter, und meist mit direktem Kund:innenkontakt. Ich spreche fließend Deutsch
            (Muttersprachler) und Englisch, habe als Deutscher Staatsbürger eine Arbeitserlaubnis für die gesamte EU und
            lasse mich auch von bürokratischen Hürden daran hindern, eine Aufgabe erfolgreich abzuschließen.</p>

          <h2>Lass uns reden!</h2>
          <p>Interessiert? Nimm gerne Kontakt zu mir auf oder buche gleich einen Termin für ein unverbindliches und
            kostenloses Gespräch! Falls ich gerade nicht ans Telefon gehen kann, hinterlasse gerne eine Sprachnachricht
            auf meiner Mailbox! </p>

        </article>

        <div class="cta-container">
          <a href="../#contact" class="buttonlike">Kontaktmöglichkeiten</a>
        </div>
      </section>

      <section class="text-content-color" id="faq">
        <article class="text-content-layout text-width mb0">
          <h2>Welche Fachkenntnisse und Soft Skills kannst du erwarten?</h2>
          <p>Ich bin seit über 20 Jahren als Webentwickler tätig und habe entsprechend solides Wissen besonders im
            Frontend-Bereich:</p>
          <ul>
            <li>HTML / HTML 5</li>
            <li>CSS / CSS 3 / Sass / less / SCSS</li>
            <li>JavaScript / ECMAScript / TypeScript</li>
            <li>responsive Web Design</li>
            <li>Libraries und Frameworks (node.js, React, jQuery u.a.)</li>
          </ul>

          <h2>Tools und Tech Stack(s)</h2>

          <p>Im Backend programmiere ich bevorzugt mit dem klassischen PHP-Setup (LAMP-Stack), das auch bei WordPress,
            Symfony und Shopware zum Einsatz kommt. Alternativ zu Online-Content-Management-Systemen (CMS) erstelle ich
            Webseiten wie diese gerne mit JavaScript-basierten Tools zur statischen Seitengenerierung (SSG / JAMStack).
            Designsysteme (Design Systems) habe ich unter anderem mit Fractal und Storybook entwickelt und getestet. Bei
            der Zusammenarbeit mit Designer:innen haben sich Figma, Miro und Zeplin als hilfreich erwiesen. Bei der
            Projektplanung und Status-Dokumentation leisten Trello, Jira, Asana und GitHub Projects gute Dienste.</p>
          <ul>
            <li>WordPress (<a href="../wordpress-website-nachhaltig-optimieren-lassen/">WordPress-Website-Entwicklung,
                Theme- und Plugin-Programmierung</a>)
            </li>
            <li>Shopware (<a href="../zertifizierter-shopware-6-frontend-webentwickler">zertifizierter Entwickler</a>)
            </li>
            <li>Symfony</li>
            <li>Vue.js</li>
            <li>Twig</li>
            <li>PHP / PHP 7 / PHP 8</li>
            <li>fractal.build</li>
            <li>eleventy (11ty)</li>
            <li>Storybook</li>
          </ul>

          <p>Zur Programmierung nutze ich regelmäßig PhpStorm und gelegentlich Visual Studio Code (VSCode). Auf der
            Kommandozeile (CLI) kommt vi zum Einsatz. Ich habe aktuell ein Linux-Laptop mit Ubuntu Budgie, habe aber
            auch schon mit Windows und auf einem MacBook gearbeitet. Auch bei Smartphones habe ich vielfältige
            Erfahrungen (Android, iPhone), ein kleines eigenes "Device Lab" mit mehreren Testgeräten, und einen Zugang
            zu BrowserStack, wo ich Websites auf allen relevanten Endgeräten überprüfen kann.</p>

          <h2>Dokumentation und Kommunikation</h2>

          <p>Von der Technik abgesehen habe ich viel Erfahrung und Eigeninitiative, bin dank meiner kommunikativen
            Fähigkeiten aber auch ein Teamplayer. Ich habe Interesse an Design, Nutzerfreundlichkeit und
            Barrierefreiheit. Da mir auch Textarbeit, Marketing und Suchmaschinenarbeit nicht fremd sind, dürfte die
            Ausführlichkeit der folgenden Abschnitte und die Platzierung meiner Website in den Suchergebnissen nicht
            weiter überraschen. All das ist selbstverständlich auf Deutsch oder auf Englisch möglich.</p>

          <p>Dokumentation und Qualitätssicherung sind mir wichtig. Agile Methoden wie Scrum und Kanban sind mir vertraut.
            Am liebsten setze ich sie pragmatisch ein. Ich halte mich an Coding Standards, sehe Methoden wie Clean Code
            und Test-Driven Development aber nicht als Selbstzweck. Ich bevorzuge Open-Source-Tools, aber wenn nötig,
            arbeite ich auch mit Microsoft-Produkten, so wie ich grundsätzlich meine eigene Meinung habe und gerne
            konstruktiv einbringe, sie aber auch den Anforderungen des jeweiligen Projekts unterordnen kann.</p>
        </article>

        <p>&nbsp;</p>
      </section>

      <p>&nbsp;</p>

      <section class="text-content-color" id="faq">
        <article class="text-content-layout text-width mb0">
          <h2>Webentwicklung in Berlin: Fragen und Antworten</h2>
        </article>

        <article class="alternating-div-color text-content-layout-children">
          <div class="text-width-children mb0">
            <h3>Wer erstellt Webseiten in Berlin?</h3>
            <p>Berliner Webentwickler wie Ingo Steinke (das bin ich) erstellen Webseiten, Apps und Internetauftritte,
              und zwar nicht nur für Kund:innen in Berlin, sondern überall, egal wo ihr gerade seid. Als Berliner
              Webentwickler kann ich aber kurzfristig zu Besprechungen vor Ort erscheinen oder auf Wunsch auch direkt im
              Büro von Kund:innen oder Agenturen mitarbeiten. </p>
          </div>
          <div class="text-width-children mb0">
            <h3>Wo findest du gute Webentwickler:innen in Berlin?</h3>
            <p>Suchst du einen freiberuflichen Webentwickler (Freelance Web Developer) in Berlin? Im Internet wirst du
              viele entsprechende Angebote finden, aber Empfehlungen und Erfahrungen helfen dabei, dass es ein:e gute:r
              und passende:r Webentwickler ist. Auf meiner Homepage findest du nicht nur einen <a
                href="https://www.ingo-steinke.de/#skills">Überblick über meine Fähigkeiten</a> und eine <a
                href="https://www.ingo-steinke.de/#projects">Auswahl meiner bisherigen Projekte</a>, sondern auch <a
                href="https://www.ingo-steinke.de/#testimonials">positive Bewertungen (Testimonials)</a>, die meine
              Kund:innen bei Google Business hinterlassen haben. Gerne kannst du auch Kolleg:innen fragen, mit denen ich
              schon zusammengearbeitet habe, unter anderem bei Avenga, Sevenval, nexum, und im Impact Hub Berlin.</p>

            <p>Suchst du mehrere gute Webentwickler(:innen) in Berlin, helfen dir ebenfalls Empfehlungen. Ich habe
              selbst schon mit vielen verschiedenen Kolleg:innen zusammengearbeitet, vor meiner Berliner Zeit auch in
              Düsseldorf und Köln sowie remote mit Entwickler:innen und Designer:innen auf der ganzen Welt. Daher habe
              ich ein Netzwerk, in dem ich mich bei Bedarf nach Unterstützung durch weitere gute Webentwickler:innen und
              andere passende Netzwerk-Partner:innen umhören kann.</p>
          </div>

          <div class="text-width-children mb0">
            <h2>Wie schnell kannst du mich als Freelance-Webentwickler in dein Team integrieren?</h2>
            <p>Da ich vor meiner aktuellen Selbstständigkeit zehn Jahre lang als Angestellter tätig war, weiß ich, wie
              wichtig es ist, die Mission und Firmenkultur zu verstehen und mich als Teamplayer zu integrieren. Als
              Freelance-Webentwickler ist es entscheidend, dass ich dies auch schnell und kurzfristig leiste. Sowohl das
              fachliche Onboarding als auch Kennenlernen und Kommunikation als Teil eines Teams kann bei Bedarf sehr
              schnell gehen und ist bei Bedarf auch vor Ort möglich.</p>
          </div>

          <div class="text-width-children mb0" id="faq-woher-weiss-ich">
            <h3>Woher weißt du, ob ich als Freelancer in dein Team passe?</h3>
            <p>Sprich mich an und lass uns gerne ein unverbindliches Gespräch, eine Videokonferenz oder ein Meeting vor
              Ort in Berlin vereinbaren! Dann finden wir schnell heraus, ob ich euer Team nicht nur fachlich, sondern
              auch menschlich ergänzen kann.</p>

            <p>Ich bin kommunikativ, flexibel und anpassungsfähig, denke aber auch gerne mit und über den Wortlaut einer
              Anforderung hinaus, um nötige Rückfragen nicht erst nach dem Deployment zu stellen. Wenn dich meine
              fachlichen Vorlieben und Erkenntnisse interessieren, wirf gerne auch einen Blick in <a
                href="https://dev.to/ingosteinke" taregt="_blank" rel="noopener">meine Blogbeiträge bei DEV.to</a> (The
              Practical DEV), meinen <a href="https://github.com/openmindculture" target="_blank" rel="noopener">Open-Source-Code
                auf GitHub (@openmindculture)</a>, meine Beiträge in Fachforen und <a
                href="https://stackoverflow.com/users/5069530/ingo-steinke" target="_blank" rel="noopener">bei
                StackOverflow</a>.</p>
          </div>

          <div class="text-width-children mb0">
            <h2>Kannst du mich dich auch als Einzelunternehmer:in buchen?</h2>
            <p>Ich ergänze Teams als Freelance-Webentwickler, arbeite aber auch als Einzelunternehmer, was insbesondere
              für mittlere und klein(st)e Unternehmen und Startups interessant ist. Du profitierst von meinem
              Pragmatismus und sparst die Kosten einer großen Agentur. Die Arbeit mit großen und kleinen Projekten hat
              für mich selbst den Vorteil der Diversität. So lerne ich unterschiedliche Anforderungen kennen und kann
              mein Netzwerk erweitern, wovon du als Kund:in wiederum profitierst, weil ich entsprechend viel
              Flexibilität, Erfahrung und fachliche Empfehlungen mitbringe.</p>
          </div>
          <div class="text-width-children mb0">
            <h3>Was kostet meine Arbeit als Webentwickler?</h3>
            <p>Meinen aktuellen Standard-Stundensatz findest du auf meiner Homepage im <a
                href="https://www.ingo-steinke.de/#pricing">Abschnitt "Preise"</a>. Gemeinnützige Organisationen und
              ethische Startups können auf Anfrage Vergünstigungen erhalten. Bei einer langfristigen Zusammenarbeit und
              Abrechnung nach Tagessätzen sind ebenfalls individuelle Preisabsprachen möglich. Gerne erstelle ich ein
              konkretes Angebot bzw. eine Kostenschätzung.</p>
          </div>
          <div class="text-width-children mb0 no-alternating-color">
            <p>Meine Erstberatung ist grundsätzlich kostenlos, sowohl für individuelle Auftraggeber:innen, als auch für
              Agenturen und Vermittler:innen. Du kannst gleich einen Termin in meinem Online-Kalender buchen oder du
              meldest dich auf einem Kanal deiner Wahl (E-Mail, Telefon, Messenger, Kontaktformular, LinkedIn, reflecta
              Network ...) und hinterlässt mir eine Nachricht. Ich werde mich dann zeitnah bei dir melden!
            </p>
          </div>

        </article>
        <div class="cta-container">
          <a href="../#contact" class="buttonlike">jetzt Kontakt aufnehmen!</a>
        </div>
      </section>

    </main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
  </div>
</div>
</body>
</html>
