---
tags: addtositemap
imgdirectory: "../img"
permalink: "leistungen/webentwicklung.html"
---
<!DOCTYPE html><html lang="de"><head><meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Wir bauen deine Website! schnell, erfolgreich, nachhaltig, barrierefrei</title>
{% include '../_includes/html-head-common.liquid' %}
  <link
    rel="alternate"
    hreflang="en"
    href="https://www.ingo-steinke.de/services/web-development.html"
  >
</head>
<body>
<div class="page-container" id="top"><div class="page-content">
<header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
  {% include '_includes/jumbotron-image.liquid' %}
  <h1>Wir bauen deine Website!</h1>
  <ul class="aside-heading">
    <li>schnell erste Erfolge erreichen</li>
    <li>nachhaltiges Konzept von Anfang an</li>
    <li>langfristige Zusammenarbeit</li>
    <li>langjährige Erfahrung</li>
  </ul>
</header>
<main id="content-top" class="target-offset">
  <section class="text-content-layout text-content-color">
    <article class="text-width">
      <h2>Website erstellen: was gilt es zu beachten?</h2>
      <p>Zusammen bauen wir deine Website! Welche Fragen und Aspekte wir dabei beachten können, verrate ich dir auf dieser Seite. Hast du konkretes Interesse? Dann <a href="#kontakt">melde dich gerne</a> und buche ein kostenloses Erstgespräch!</p>

      <h2>Bestehende Website überprüfen, optimieren und zertifizieren</h2>
      <p>Du hast schon eine Website? Mit dem unverbindlichen <a href="">Web-Check</a> erfährst du, wie schnell, nachhaltig und barrierefrei deine Website erscheint und an welchen Stellen wir sie noch <a href="">optimieren</a> könnten.</p>
    </article>

    <div class="cta-container">
      <a href="/#kontakt" class="buttonlike">Beratungstermin vereinbaren</a>
    </div>
  </section>

  <section class="text-content-color">
    <article class="text-content-layout text-width mb0">
      <h2>Erstellung und Pflege einer Website: Fragen und Antworten</h2>
      <p>Wenn wir mit einem Internetauftritt schnell und nachhaltig erfolgreich sein wollen, empfiehlt es sich, schon von Anfang an auch auf Barrierefreiheit, Datenschutz, Sicherheit und ökologische Effizienz zu achten. So können wir Synergien nutzen und langfristig Kosten sparen. So wird Nachhaltigkeit zum Wettbewerbsvorteil, der auch unsere Kund:innen überzeugen kann.</p>
    </article>

    <article class="alternating-div-color text-content-layout-children">
      <div class="text-width-children mb0">
        <h3>Wie präsentiere ich mein Angebot nachhaltig und glaubwürdig im Internet?</h3>
        <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>
      </div>
      <div class="text-width-children mb0">
        <h2>Wie lassen sich Umweltschutz, Wirtschaftlichkeit und soziale Nachhaltigkeit vereinbaren?</h2>
        <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>
      </div>
      <div class="text-width-children mb0">
        <h2>Welche Vorgaben gelten für Datenschutz, Barrierefreiheit und Umweltfreundlichkeit?</h2>
        <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>
      </div>
      <div class="text-width-children mb0">
        <h2>Wie kann ein langlebiges Konzept meine laufenden Kosten verringern?</h2>
        <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>
      </div>
      <div class="text-width-children mb0">
        <h2>Welche:r Webentwickler:in versteht, was für mich wichtig ist?</h2>
        <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>
      </div>
      <div class="text-width-children mb0">
        <h3>Noch eine Überschrift?</h3>
        <p>Eine digitale Nachhaltigkeitsstrategie usw. = TODO: aus den anderen Seiten und Notizen Textteile ergänzen!</p>
      </div>
      <div class="text-width-children mb0">
        <p>Ist ein klimafreundlicher Internetauftritt für dich relevant? Hast du noch Fragen zur nachhaltigen Webentwicklung? Melde dich gerne direkt oder buche einen Termin für eine unverbindliche und kostenlose Erstberatung!
        </p>
      </div>
      <div class="text-width-children mb0 no-alternating-color">
        P.S. der letzte Abschnitt sollte möglichst immer auf einer nicht-alternativen Farbe auskommen, was wir aber auch forcieren könnten durch last-child oder Klassennamen?
      </div>
    </article>
    <div class="cta-container">
      <a href="/#kontakt" class="buttonlike">Beratungstermin vereinbaren</a>
    </div>
  </section>

</main>
{% include '../_includes/page-footer.liquid' %}
</div>
</div>
</body>
</html>
