---
tags: addtositemap
imgdirectory: "../img"
permalink: "leistungen/webentwicklung.html"
alternatelink: "https://www.ingo-steinke.com/services/web-development.html"
alternatehreflang: "en"
---
<!DOCTYPE html><html lang="de"><head><meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Wir bauen deine Website! schnell, erfolgreich, nachhaltig, barrierefrei</title>
{% include '../_includes/html-head-common.liquid' %}
  <link
    rel="alternate"
    hreflang="{{ alternatehreflang }}"
    href="{{ alternatelink }}"
  >
</head>
<body>
<div class="page-container" id="top"><div class="page-content">
<header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
  {% include '_includes/jumbotron-image.liquid' %}
  <h1>Wir bauen deine Website!</h1>
  <ul class="aside-heading">
    <li>schnell erste Erfolge erreichen</li>
    <li>nachhaltiges Konzept von Anfang an</li>
    <li>langfristige Zusammenarbeit</li>
    <li>langjährige Erfahrung</li>
  </ul>
</header>
{% include '../_includes/navigation-on-subpages.liquid' %}
<main id="content-top" class="target-offset">
  <section class="text-content-layout text-content-color">
    <article class="text-width">
      <h2>Website bauen oder erstellen (lassen): was gilt es zu beachten?</h2>
      <p>Zusammen bauen wir deine Website! Wie man es auch nennt, und wie viel du dabei selbst machen und entscheiden willst, und wie es am Ende aussehen soll – ich kann dich dabei unterstützen und dir mit meiner Expertise viel Arbeit ersparen. Welche Fragen und Aspekte wir dabei beachten können, verrate ich dir auf dieser Seite. Hast du bereits konkretes Interesse? Dann <a href="../#kontakt">melde dich gerne</a> und buche ein kostenloses Erstgespräch!</p>

      <h2>Bestehende Website überprüfen und überarbeiten</h2>
      <p>Du hast schon eine Website? Mit dem unverbindlichen <a href="../{{ content.servicesVerifyMoreLinkPath }}">Web-Check</a> erfährst du, wie schnell, nachhaltig und barrierefrei deine Website erscheint und an welchen Stellen wir sie noch <a href="../{{ content.servicesImproveMoreLinkPath }}">optimieren</a> könnten.</p>
    </article>

    <div class="cta-container">
      <a href="../#kontakt" class="buttonlike">Beratungstermin vereinbaren</a>
    </div>
  </section>

  <section class="text-content-color">
    <article class="text-content-layout text-width mb0">
      <h2>Erstellung und Pflege einer Website: Fragen und Antworten</h2>
      <p>Wenn wir mit deinem Internetauftritt schnell und nachhaltig erfolgreich sein wollen, sollten wir am besten schon von Anfang an auch auf Barrierefreiheit, Datenschutz, Sicherheit und ökologische Effizienz zu achten. So können wir Synergien nutzen und langfristig Kosten sparen. So wird Nachhaltigkeit zum Wettbewerbsvorteil, der auch unsere Kund:innen überzeugen kann.</p>
    </article>

    <article class="alternating-div-color text-content-layout-children">
      <div class="text-width-children mb0">
        <h3>Wie kann ein langlebiges Konzept deine laufenden Kosten verringern?</h3>
        <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>
      </div>
      <div class="text-width-children mb0">
        <h33>Wie lassen sich Umweltschutz, Wirtschaftlichkeit und soziale Nachhaltigkeit vereinbaren?</h33>
        <p>Eine digitale Nachhaltigkeitsstrategie ... Wie präsentieren wir dein Angebot nachhaltig und glaubwürdig im Internet? Welche Vorgaben gelten für Datenschutz, Barrierefreiheit und Umweltfreundlichkeit? ...</p>
      </div>
      <div class="text-width-children mb0">
        <h3>Wer erstellt Webseiten? Wie unterscheiden sich "Sites" von "Seiten"?</h3>
        <p>Das Grundgerüst eines Internetauftritts, die sogenannte Website (von english "site" = Ort), wird sinnvollerweise so programmiert, dass du sie selbst um neue Inhalte und (Web-) Seiten erweitern kannst. Diese Aufgabe kannst du auch an andere Menschen auslagern, zum Beispiel an eine Social Media Managerin. Jedenfalls brauchst du nicht zwangsläufig eine:n Programmierer:in zu beauftragen, wenn du etwas an deiner Website ändern willst.</p>
      </div>

      <div class="text-width-children mb0">
        <h3>Brauchst du einen Webentwickler vor Ort?</h3>
        <p>Das liegt ganz an dir! Ich habe schon viele Websites programmiert und überarbeitet, ohne mich auch nur ein einziges Mal mit meinen Auftraggeber:innen zu treffen. Dank Videokonferenzen, E-Mail und digitalem Austausch von Daten ist grundsätzlich alles online möglich, ganz egal wo du gerade bist! Andererseits kann es hilfreich und angenehm sein, vor Ort zusammenzuarbeiten, sei es in deinem Büro, im Coworking-Space, oder bei eine Kaffee im Café. Als <a href="webentwickler-berlin-freelancer.html">Webentwickler in Berlin</a> mit Wurzeln im Rheinland kann ich bei Bedarf auch in andere Städte reisen, um an Ortsterminen teilzunehmen.</p>
      </div>

      <div class="text-width-children mb0">
        <h3>Wie läuft die Erstellung deiner neuen Website ab?</h3>
        <p>Am Anfang steht immer ein unverbindliches Vorgespräch, in dem wir klären, welche Erwartungen und Bedürfnisse du hast, welches Material vorhanden ist und mit wem wir möglicherweise zusammenarbeiten wollen. Bei Bedarf kann ich Kontakte zu Expert:innen für Grafik-Design, Texterstellung und Suchmaschinenoptimierung herstellen.</p>
        <p>Wenn die Anforderungen gut genug geklärt sind, versuche ich zu schätzen, wie lange ich in etwa dafür brauche, was es kosten wird und wann ich Zeit dafür habe. Ich erstelle ein entsprechendes Angebot, meist mit Angaben "von ... bis" und dem vereinbarten Stunden- oder Tagessatz.</p>
        <p>Meist richten wir eine Vorschau-Version der entstehenden Website ein, wo du Zwischenergebnisse ansehen kannst, damit wir sicher sein können, ein gemeinsames Ziel zu verfolgen.</p>
      </div>

      <div class="text-width-children mb0">
        <h3>Was kostet die Erstellung einer Website?</h3>
        <p>Die Kosten hängen nicht nur vom Umfang des Auftrags ab, sondern auch von der Besonderheit und Schwierigkeit der Anforderungen. Meinen aktuellen Standard-Stundensatz findest du auf meiner Homepage im <a href="https://www.ingo-steinke.de/#pricing">Abschnitt "Preise"</a>. Gemeinnützige Organisationen und ethische Startups können auf Anfrage Vergünstigungen erhalten.</p>
      </div>

      <div class="text-width-children mb0 no-alternating-color">
        <h3>Kostenloses Erstgespräch</h3>
        <p>Meine Erstberatung ist grundsätzlich kostenlos. Du kannst gleich einen Termin in meinem Online-Kalender buchen oder du meldest dich auf einem Kanal deiner Wahl (E-Mail, Telefon, Messenger, Kontaktformular, LinkedIn, reflecta Network ...) und hinterlässt mir eine Nachricht. Ich werde mich dann zeitnah bei dir melden!
        </p>
      </div>
    </article>
    <div class="cta-container">
      <a href="../#kontakt" class="buttonlike">Beratungstermin jetzt vereinbaren!</a>
    </div>
  </section>

</main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
</div>
</div>
</body>
</html>
