---
tags: addtositemap
permalink: "leistungen/webentwicklung.html"
---
<!DOCTYPE html><html lang="de"><head><meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Wir bauen deine Website! schnell, erfolgreich, nachhaltig, barrierefrei</title>
{% include '../_includes/html-head-common.liquid' %}
  <link
    rel="alternate"
    hreflang="en"
    href="https://www.ingo-steinke.de/services/web-development.html"
  >
</head>
<body>
<div class="page-container" id="top"><div class="page-content">
<header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
  <h1>Wir bauen deine Website!</h1>
</header>
<main id="content-top" class="target-offset">
  <section class="text-content-layout text-content-color">
    <article class="text-width">
      <p>Schnell, erfolgreich, nachhaltig und barrierefrei zum professionellen Internetauftritt:</p>
      <ul class="aside-heading">
        <li>schnell erste Erfolge erreichen</li>
        <li>nachhaltiges Konzept von Anfang an</li>
        <li>langfristige Zusammenarbeit</li>
        <li>Kooperation mit erfahrenen Partner:innen</li>
      </ul>
      <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>

      <h2>Wie präsentiere ich mein Angebot nachhaltig und glaubwürdig im Internet?</h2>
      <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>

      <h2>Wie lassen sich Umweltschutz, Wirtschaftlichkeit und soziale Nachhaltigkeit vereinbaren?</h2>
      <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>

      <h2>Welche Vorgaben gelten für Datenschutz, Barrierefreiheit und Umweltfreundlichkeit?</h2>
      <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>

      <h2>Wie kann ein langlebiges Konzept meine laufenden Kosten verringern?</h2>
      <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>

      <h2>Welche:r Webentwickler:in versteht, was für mich wichtig ist?</h2>
      <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>

      <h3>Noch eine Überschrift?</h3>


      <p>Eine digitale Nachhaltigkeitsstrategie umfasst neben ökologischer Nachhaltigkeit auch Datenschatz, Inklusion und Barrierefreiheit. Die ökonomische (wirtschaftliche) Nachhaltigkeit wurde in der Vergangenheit oft im Widerspruch zu den ökologischen und sozialen Aspekten dargestellt, doch gerade im Rahmen der nachhaltigen Digitalisierung entstehen durch Datensparsamkeit, Effizienzsteigerung und Wartbarkeit/Wiederverwertbarkeit ergeben sich Synergien, von denen alle Beteiligten profitieren.</p>
      <h3>Wie kann ich den CO<sub>2</sub>-Fußabdruck meiner Website verringern?</h3>
      <p>Ökostrom, Energieeffizienz und Ladezeit, Barrierefreiheit, konsistenter Seitenaufbau, Verzicht auf irreführende Nutzerführung sind Aspekte, die bei Analysen und Audits berücksichtigt werden und sich auch auf die Platzierung in Suchergebnissen positiv auswirken können.
        Zudem kann die ökologische Effizienz kostenfrei bescheinigt und umweltorientierten Nutzer:innen als Beleg für die eigene Nachhaltigkeit dienen und beweisen, dass es sich bei deinen Green Claims nicht um Greenwashing handelt. Leicht zu schätzen und zu verstehen ist der sogenannte CO<sub>2</sub>-Fußabdruck eines Website-Frontends.
        Analyse-Dienste wie WebsiteCarbon, Ecograder, Green Web Check oder CleanerWeb vergeben digitale Nachweise, die auf den eigenen Webseiten als grafisches Banner oder Textlink eingebaut werden können.
        Sie berechnen aus dem geschätzten Energieverbrauch ein Schadstoff-Äquivalent (CO<sub>2</sub>e) und setzen dies ins Verhältnis zu Messungen anderer Internetauftritte.
        Green Hosting ist ein weiterer wichtiger Faktor umweltfreundlicher Internetseiten. Auch hier können messbare Erfolge vertrauensbildend belegt werden.</p>
      <h3>Digitale Nachhaltigkeit als Wettbewerbsvorteil</h3>
      <p>Nachhaltigkeit bedeutet aber auch Wartbarkeit: wie plegeleicht, langlebig und wiederverwendbar ist die Software? Hier kann es geschäftsinterne oder auch gemeinwohlorientierte Synergiefffekte geben, zum Beispiel durch Verwendung und Veröffentlichung von Open-Source-Software.</p>
      <p>Was nachhaltige (Web-)Entwickler:innen von anderen unterscheidet, ist vielleicht in erster Linie das Bewusstsein, die Bereitschaft und der Mut, über die von den Kund:innen geäußerten Anforderungen hinauszudenken, bezüglich der Umweltfreundlichkeit ebenso wie bei Barrierefreiheit, Datenschutz, und Qualitätssicherung.</p>
      <h3>Green Claims: glaubwürdig durch unabhängig zertifizierte Nachhaltigkeitsnachweise</h3>
      <p>Als Kund:in entsteht zumindest in dieser Hinsicht kein Mehraufwand. Andere Nachhaltigkeitsaspekte und Transparenzpflichten werden spätestens ab einer gewissen Unternehmensgröße ohnehin auf dein Unternehmen zukommen. Insgesamt ist es sinnvoll, möglichst schon von Anfang an eine geschäftliche Strategie zu verfolgen, die in jeder Hinsicht nachhaltig ist und mit gutem Recht als solche beworben werden darf.</p>
      <p>Ist ein klimafreundlicher Internetauftritt für dich relevant? Hast du noch Fragen zur nachhaltigen Webentwicklung? Melde dich gerne direkt oder buche einen Termin für eine unverbindliche und kostenlose Erstberatung!</p>
    </article>
  </section>

{% include '../_includes/section-imprint-contact.liquid' %}
</main>
{% include '../_includes/page-footer.liquid' %}
</div>
</div>
</body>
</html>
