---
tags: addtositemap
imgdirectory: "../img"
permalink: "leistungen/website-check.html"
alternatelink: "https://www.ingo-steinke.com/services/website-check.html"
alternatehreflang: "en"
---
<!DOCTYPE html><html lang="de"><head><meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Wir überprüfen deine Website! schnell, erfolgreich, nachhaltig, barrierefrei</title>
{% include '../_includes/html-head-common.liquid' %}
  <link
    rel="alternate"
    hreflang="{{ alternatehreflang }}"
    href="{{ alternatelink }}"
  >
</head>
<body>
<div class="page-container" id="top"><div class="page-content">
<header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
  {% include '_includes/jumbotron-image.liquid' %}
  <h1>Lass deine Website überprüfen!</h1>
  <ul class="aside-heading">
    <li>kritische Fehler und Probleme erkennen und beheben</li>
    <li>dein digitaler CO<sub>2</sub>-Fußabdruck</li>
    <li>deine Ladezeit und Barrierefreiheit</li>
    <li>mit zertifierten Ergebnisse werben</li>
  </ul>
</header>
{% include '../_includes/navigation-on-subpages.liquid' %}
<main id="content-top" class="target-offset">
  <section class="text-content-layout text-content-color">
    <article class="text-width">
      <h2>Willst du deine Website überprüfen lassen?</h2>
      <p>Lass uns die Qualität deiner Website überprüfen! Welche Aspekte wir dabei beachten können, und wie sich Fehler und Probleme auch auf deinen wirtschaftlichen Erfolg auswirken können, verrate ich dir auf dieser Seite. Hast du konkretes Interesse? Dann <a href="../#kontakt">melde dich gerne</a> und buche ein kostenloses Erstgespräch!</p>
    </article>

    <div class="cta-container">
      <a href="../#kontakt" class="buttonlike">Beratungstermin vereinbaren</a>
    </div>
  </section>

  <section class="text-content-color">
    <article class="text-content-layout text-width mb0">
      <h2>Erstellung und Pflege einer Website: Fragen und Antworten</h2>
      <p>Wenn wir mit einem Internetauftritt schnell und nachhaltig erfolgreich sein wollen, empfiehlt es sich, schon von Anfang an auch auf Barrierefreiheit, Datenschutz, Sicherheit und ökologische Effizienz zu achten. So können wir Synergien nutzen und langfristig Kosten sparen. So wird Nachhaltigkeit zum Wettbewerbsvorteil, der auch unsere Kund:innen überzeugen kann.</p>
    </article>

    <article class="alternating-div-color text-content-layout-children">
      <div class="text-width-children mb0">
        <h3>Welche Probleme können meinem Erfolg im Internet behindern?</h3>
        <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>
      </div>
      <div class="text-width-children mb0">
        <h2>Wie lassen sich Umweltschutz, Wirtschaftlichkeit und soziale Nachhaltigkeit vereinbaren?</h2>
        <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>
      </div>
      <div class="text-width-children mb0">
        <h2>Welche Vorgaben gelten für Datenschutz, Barrierefreiheit und Umweltfreundlichkeit?</h2>
        <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>
      </div>
      <div class="text-width-children mb0">
        <h2>Wie stelle ich sicher, dass meine Website allen Anforderungen genügt?</h2>
        <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>
      </div>
      <div class="text-width-children mb0">
        <h2>Wie kann ich meine Erfolge glaubwürdig bewerben?</h2>
        <p>Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. Lorem ipsum und so weiter. </p>
      </div>
      <div class="text-width-children mb0">
        <h3>Welche Erfolgsfaktoren kann ich messen?</h3>
        <p>Eine digitale Nachhaltigkeitsstrategie usw. = TODO: aus den anderen Seiten und Notizen Textteile ergänzen!</p>
      </div>
      <div class="text-width-children mb0">
        <p>Ist ein klimafreundlicher Internetauftritt für dich relevant? Hast du noch Fragen zur nachhaltigen Webentwicklung? Melde dich gerne direkt oder buche einen Termin für eine unverbindliche und kostenlose Erstberatung!
        </p>
      </div>
      <div class="text-width-children mb0 no-alternating-color">
        P.S. der letzte Abschnitt sollte möglichst immer auf einer nicht-alternativen Farbe auskommen, was wir aber auch forcieren könnten durch last-child oder Klassennamen?
      </div>
    </article>
    <div class="cta-container">
      <a href="../#kontakt" class="buttonlike">Beratungstermin jetzt vereinbaren!</a>
    </div>
  </section>

</main>
{% include '../_includes/page-footer.liquid' %}
</div>
</div>
</body>
</html>
