{%- assign projectHeadline = 'Online-Shop' -%}
{%- assign projectHashtags = 'WordPress WooCommerce PHP CSS' -%}
{%- assign projectImgAlt = 'Screenshot der Website' -%}
{%- assign projectLinkUrl = 'https://foodtogether.de/' -%}
{%- assign projectTimestamp = '2022 - 2025' -%}
{% capture projectDescription -%}
Den ökologischen Lebensmittelversand Food Together unterstütze ich bei der Wartung und Weiterentwicklung
  des Online-Shops mit Abonnement-Bestellungen, saisonalen Bundles und Preistransparenzangaben.
  <br><br>
{% endcapture %}

Material- und Linksammlung

Hintergrund: FT ist ... und , wie ich, aktives Mitglied  im Impact Hub Berlin. Kontakt über reflecta Netzwerk, seitdem Geschäftsfreundschaft.

SEND alle incoming outlinks auch verlinken

Seit 2024 ist FoodTogether Mitglied im Sozialunternehmer:innennetzwerk SEND e.V. mit Hauptsitz im Impact Hub Berlin.

Aufgabe:

FT

Im Onlineshop auf foodtogether.de kaufen nicht nur die, denen der Weg zu unseren Marktständen zu weit ist — FoodTogether liefert deutschlandweit direkt nach Hause — sondern auch regelmäßige Marktbesucher:innen schätzen die Vorteile der beiden Alternativen.

Herausforderungen:

Legacy Shop kurz vor der Fertigstellung übernehmen, erweitern und optimieren. Aus zeitlichen und finanziellen Gründen entschieden wir uns zunächst gegen einen technischen Neustart, sondern blieben beim bestehenden WooCommerce-Shop-Theme und den dazu nötigen WordPress-Plugins.


Sichtbarkeit und sichtbare Erfolge:

<p>Im Rahmen des Programms <a href="https://berlin.impacthub.net/program/feeding-the-city/">Feeding the City</a> präsentierte der Impact Hub Berlin FoodTogether auf der <a href="https://berlin.impacthub.net/sustainable-food-stakeholder-map-2023/">Sustainable Food Stakeholder Map Berlin/Brandenburg 2023</a> unter "Innovations &amp; Corporates".<br> </p>

Das Event- und Coworking-Café The Loop verwendet Produkte von FoodTogether im Rahmen der ganzheitlichen Küche beim Impact Hub Community Lunch.

farm und sexy«, »Nachhaltisch« oder »Freiheit, Gleichheit, Mahlzeit«: Mit mehr als 40 knackigen Sprüchen der Agentur glow werben zehn nachhaltige Food-Marken auf Plaketen, Flyern und auf Social Media für eine zukunftsweisende Ernährung. Als eine von "10 Brands für Leute mit Geschmack" wird auch FoodTogether vorgestellt: Mehr zur Kampagne: www.berlin-isst-anders.de/
