{%- assign projectHeadline = 'Entwickler-Portfolio' -%}
{%- assign projectHashtags = 'HTML CSS JavaScript Liquid Eleventy' -%}
{%- assign projectImgAlt = 'Screenshot der Website' -%}
{%- assign projectImgWidth = '1109' -%}
{%- assign projectImgHeight = '990' -%}
{%- assign sourceLinkUrl = 'https://github.com/openmindculture/ingo-steinke.de' -%}
{%- assign projectTimestamp = '2012 - 2025' -%}
{% capture projectDescription -%}
<a href="https://www.ingo-steinke.de/">Ingo-Steinke.de</a> zeigt meine Arbeit als Webentwickler.
  Minimalistisches Design, moderne Typographie und aktuelle Technologie zeichnen mein berufliches Portfolio aus.
{% endcapture %}
