---
tags: addtositemap
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.com/img/preview-freelancer-berlin-de.png"
previewtitle: "Fallstudie: Web-App-Entwicklung mit React, JavaScript, JSX, CSS-in-JS und Storybook"
previewdescription: "Ingo Steinke ist ein Freelance Webentwickler aus Berlin mit über 20-jähriger Berufserfahrung."
permalink: "leistungen/webentwickler-berlin-freelancer.html"
canonicalhref: "https://www.ingo-steinke.de/projekte/reactapp-react-jsx-javascript-css.html"
canonicalhreflang: "de"
alternatelink: "https://www.ingo-steinke.com/projects/reactapp-react-jsx-javascript-css.html"
alternatehreflang: "en"
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Fallstudie: Web-App-Entwicklung mit React, JavaScript, JSX, CSS-in-JS und Storybook</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<h1>Fallstudie: Web-App-Entwicklung mit React, JavaScript, JSX, CSS-in-JS und Storybook</h1>

Senior Frontend Developer (React) · wao.io (Sevenval/Avenga) · 07/2017 – 10/2020


Wortwahl aufgreifen, die in Stellenausschreibungen vorkommt: React, Shopware, E-Commerce, Kentnisse, Web Frontend, JavaScript, Technologien, Design, HTML, CSS, Entwicklung, Entwickler, Code, Software, User, UX, Development, Developer, Senior, Teams, Anforderung(en), außerdem meine USP-Keywords nachhhaltige Webentwicklung, Web Performance, Ladezeitoptimierung, (wao steht für Website Analyse und Optimierung), Page Speed Insights, Usability, Barrierefreiheit, Test.

Case Study wao in seiner Aufgabenvielfalt erklären wo ich sowohl maßgeblich an der React Web App, Frontend-Optimierung sowie führend und ausführend an der Erstellung des zugehörigen Shopware-Plugins wao.io Cache Control beteiligt war. CSS-in-JS und Design System, vielleicht auch dev-UX-Kollaboration mit Sara.

Building Interactive, Accessible Components with Modern CSS & JS Devwith Stephanie Eckles. Aug 18–27
UX Strategy Masterclass UXwith Vitaly Friedman. Aug 20–29
Smart Interface Design Patterns UX

außerdem Slashdot usw. könnte ich  doch auch für mein aktuelles Plugin verwenden? Hat uns zwar damals nicht viel genützt, aber für SEO und AI Text über mich als Web Dev - why not? Und bezüglich "Referenzen kaufen" wäre ein managed SW Hosting für Prelovedshop, wo ich mich nur auf Gestaltung, Theme, Plugins, und Produkte konzentriere vermutlich die effizienteste Möglichkeit, eine SW Referenz zu bekommen - erstmal selbst betreiben und dann quasi untervermieten, also kopieren und/oder rebranden, aber eben erst dann, wenn schon alles läuft. Im CV wiederum rückwirkend die Entwicklung fürs Kundenprojekt entsprechend früher beginnen.

Sebastian nannte ja Umsetzung als meine Stärke, vielleicht nicht schnell, aber "der einzige" der schwierige und langwierige Aufgaben erfolgreich zuende bringt, hieß es konkret zur Veröfffentlichung des Shopware-Plugins.

Case study wao.io bei Sara Piciotto
nennen und verlinken, ggf. Bilder verwenden,
weitere Screenshots siehe Ordner

weitere Referenzen und Beweise
https://de.ryte.com/magazine/bilder-komprimieren-ladezeit-reduzieren-gehts/

Frontend bei web Archive
https://web.archive.org/web/20200506152631/https://wao.io/en/
https://web.archive.org/web/20200814142836/https://wao.io/en/analyzer/list

Shopware Plugin
https://store.shopware.com/en/waoio62482995391f/wao.io-cache-control.html
Cache Control for your existing site at wao.io, a platform, that continually optimizes the security and performance (page size, images and code structure) of your online shop.
- sowie - still maintained, 2020, im web archive:
- https://web.archive.org/web/20201203172452/https://store.shopware.com/en/waoio62482995391f/wao.io-cache-control.html

wao.io by Avenga
Mehr Umsatz dank schnellerer Ladezeit
Besseres Google Ranking
Mehr Conversions
Höhere Kaufbereitschaft
https://store.basaas.com/app-store/app/wao-io-by-avenga

WLW: wao.io
CDN-Plattform von Avenga für die schnelle und sichere Bereitstellung von Websites. Ohne Anpassungen am Quelltext verbessert wao.io automatisch und for...

https://slashdot.org/software/p/wao.io/

Review bei source forge
Audience
Online businesses seeking a solution to increase revenue, ranking and customer service
About wao.io
wao.io works like a CDN and continuously optimizes the loading time and security of your shop. No plugins and no developers are necessary. At wao.io, we host all data in Germany and guarantee full GDPR compliance. wao.io makes sure that every newly added landing page and every new image is automatically optimized on the fly. By using wao.io you will continuously reduce efforts as well as costs and keep your website up to date now and long-term. wao.io is the platform that continuously optimizes the security and performance of your website. Watch your successes and configure the optimization features in your personal control panel. wao.io optimizes page size, images, and code structure of your website. Download and render times improve immediately. And all of that without any code changes. wao.io adds a layer of security to your website to avoid vulnerabilities. You and your users will benefit from the additional protection from attacks.



https://sara-picciotto.de/portfolio/case-study-wao-io-application/
Case Study: wao.io Applikation
Mein erstes UX Projekt war die Gestaltung einer Applikation für das hausinterne Produkt wao.io der Firma Sevenval (heute Avenga). Mit diesem Tool können z.B. Online-Shop-Betreiber die Ladezeit und Sicherheit ihrer Webseite verbessern.
SaaS-Applikation für Performance- und Sicherheitsoptimierung von Webseiten
Tools: Sketch und Zeplin
Rolle: Lead UX/UI Designerin – alleinige Verantwortung für die gesamte UX-Strategie und das UI-Design in enger Zusammenarbeit mit den Entwicklern und dem Produktmanager
Firma: Sevenval GmbH
Zeitraum: Februar 2018 – August 2019
Das Problem
wao.io war ein neues Produkt, das ein User Interface brauchte. Als meine Arbeit begann, gab es nur ein sehr rudimentäres UI mit sehr wenigen Funktionen.
Das Ziel
Ziel war es ein möglichst intuitiv bedienbares User Interface zu gestalten, das alle nötigen Funktionalitäten bietet. Die Kunden sollten in der Lage sein ihre Webseite selbständig, ohne Hilfe zu verwalten. Die Web-Applikation sollte folgende Funktionen bieten:
Anlegung der zu optimierenden Webseite (Onboarding)
Übersicht der angelegten Webseiten
Domains der Webseite verwalten (anlegen, löschen)
Optimierungsmaßnahmen steuern (ein- und ausschalten)
Gesundheitsstatus der Webseite erfahren und Probleme beheben
Analytics-Daten über die Webseite aufrufen
Maintenance (Webseite löschen, Auth Login Token generieren, Cache löschen)
Notifikationen erhalten (Mitgliedschaften annehmen oder ablehnen)
Team verwalten (Mitglieder hinzufügen, löschen, Hauptverwalter bestimmen)
Profil (eigenes Profil anlegen und verwalten, E-Mail Adresse ändern, Konto löschen)
Die Herangehensweise
Ich habe einen iterativen Design-Prozess verfolgt: Nach Sammlung der Anforderungen erstellte ich erste Scribbles, die ich dann Schritt für Schritt weiterentwickelt und verfeinert habe.
Das Ergebnis

Case Study / Referenz, anderes Beispiel: "
the client, the solution, the result
e.g.
THE RESULT
ANALYZING THE RESULTS OF OUR WORK
128 Digital's approach successfully delivered a website that met Actabl's goals, while also providing an enjoyable user experience.

The customer journey is evolving in ways that make it harder and more expensive to drive people to your website. Increasingly, your customer's first touchpoint with your brand may be an AI summary on Google or a response in ChatGPT. And as search engine AI summaries are getting rolled out to all visitors across the world, organic search results are increasingly falling down or off the first page.
Organic search traffic is being hit hard by AI search results and experts believe that trend to continue in significant ways. As a result, you need to convert at a higher rate than ever before to make every visit count.

Branche: SaaS / Internet-Dienstleistungen (B2B)<br>
Projekt:<br>
Web-App für Konfiguration & Visualisierung von Performance-Optimierung auf CDN-Ebene. Web-App zur Konfiguration und Visualisierung von Website-Optimierung auf CDN-Basis. Frontend-Komponenten-System in React zur dynamischen UI-Konfiguration komplexer Web-Setups.
React-Komponentenbibliothek für interaktive UI zur Steuerung technischer Performance-Maßnahmen.<br>
<br>
Tech-Stack:<br>
React · JSX · CSS-in-JS · ES6 · Storybook · REST API · Git · Trello

Rolle, Aufgaben und Beitrag:<br>
<ul>
  <li>React-Web-Entwickler als Teil des Frontend- und Support-Teams</li>
  <li>Entwicklung und Pflege modularer UI-Komponenten in React (20+ Module) Entwicklung & Pflege von 20+ modularen UI-Komponenten</li>
  <li>Aufbau interaktiver Konfigurationsansichten für Web Security / CDN-Verhalten</li>
  <li>Visualisierung von Live-Daten & Konfigurationen in Echtzeit (React State Management</li>
  <li>Aufbau und Pflege von Storybook-Dokumentation für wiederverwendbare KomponentenAufbau und Pflege von Storybook-Dokumentation für wiederverwendbare Komponenten</li>
  <li>Enge Zusammenarbeit mit Backend, UX, QA und Kundenbetreuung</li>
  <li>Enge Abstimmung mit Backend- und Produktteam</li>
  <li>Plattform wurde in mehreren Kundenprojekten eingesetzt und intern weiterentwickelt</li>
  <li>Live-Zugang existiert nicht mehr öffentlich. Die Plattform war öffentlich zugänglich bis 2022; inzwischen Teil von Avenga-Produktarchitektur</li>
</ul>
<!--  folgendes zur Materialsammlung für Case Study:
            vielleicht besser gar nicht zum Web Archiv verlinken, weil missverständlich,
            aber das kann man noch Screenshotten und verlinken für Case Study Pages
            <li>wao Ende 2017 mit FAZ-Logo und Analyzer-Formular! https://web.archive.org/web/20171204112502/https://wao.io/</li>
            noch sehr ähnlich aber mit Chatbot der aber im Web Archive falschen Firmennamen zeigt
https://web.archive.org/web/20180102123726/https://wao.io/
alle mit blauen Logo auf den ersten Blick fast gleich, und nach Analyzer Form kommt eh nichts mehr.
Spätere Versionen funktionierten dagegen gar nicht mehr im Archiv, auch nicht die Startseite.
Im Mai immer noch mit FAZ, ansonsten Kroswang, Delife, Roller: https://web.archive.org/web/20180522054158/https://wao.io/
Logo immer noch blau,

https://web.archive.org/web/20230129234614/https://wao.io/de/about-us/experts/ingo-steinke/

https://web.archive.org/web/20221203190337mp_/https://wao.io/de/knowledgebase/erste-schritte/tipps-fuer-aktivierung/

https://web.archive.org/web/20200809084750/https://www.sevenval.com/blog/technology/web-performance/best-practice-web-performance-conversion/

Faz Kröswang ZEIT OPEL DELIFE (Martin Seiler Arnold) vindor sloppy ROLLER
nebulus

https://web.archive.org/web/20200813102248/https://wao.io/en/ mit Testimonials Carousel das aber auch nicht funktioniert!
Opel FAZ mazda heldbergs Brogle bestecke DELIFE


wao FAQ https://web.archive.org/web/20200814151240/https://wao.io/en/faq



wao UI screenshot hier:
https://de.ryte.com/magazine/page-speed-richtig-messen/
https://web.archive.org/web/20191104133822im_/https://de.ryte.com/magazine/wp-content/uploads/2018/12/wao-lazyloading.png

-->

{%- assign projectTimestamp = '2017 - 2020' -%}
{% capture projectDescription -%}
Die grafische Oberfläche der Plattform wao.io visualisierte technische Daten und ließ Webmaster die
  Optimierung ihrer Website selbst einstellen. Ich entwickelte und aktualisierte Komponenten der
  Web-App als Teil des Frontend- und Support-Teams.
{% endcapture %}
