---
tags: addtositemap
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.com/img/preview-freelancer-berlin-de.png"
previewtitle: "Fallstudie: Web-App-Entwicklung mit React, JavaScript, JSX, CSS-in-JS und Storybook"
previewdescription: "Ingo Steinke ist ein Freelance Webentwickler aus Berlin mit über 20-jähriger Berufserfahrung."
permalink: "leistungen/webentwickler-berlin-freelancer.html"
canonicalhref: "https://www.ingo-steinke.de/projekte/reactapp-react-jsx-javascript-css.html"
canonicalhreflang: "de"
alternatelink: "https://www.ingo-steinke.com/projects/reactapp-react-jsx-javascript-css.html"
alternatehreflang: "en"
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Fallstudie: Web-App-Entwicklung mit React, JavaScript, JSX, CSS-in-JS und Storybook</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<h1>Fallstudie: Web-App-Entwicklung mit React, JavaScript, JSX, CSS-in-JS und Storybook</h1>




{%- assign projectTimestamp = '2017 - 2020' -%}
{% capture projectDescription -%}
Die grafische Oberfläche der Plattform wao.io visualisierte technische Daten und ließ Webmaster die
  Optimierung ihrer Website selbst einstellen. Ich entwickelte und aktualisierte Komponenten der
  Web-App als Teil des Frontend- und Support-Teams.
{% endcapture %}
