{%- assign projectHeadline = 'Wartung und Weiterentwicklung' -%}
{%- assign projectHashtags = 'PHP Symfony WordPress JavaScript CSS' -%}
{%- assign projectTimestamp = '' -%}
{%- assign projectIconSlug = 'coursebooking' -%}
{% capture projectDescription -%}
  Neben langjähriger Begleitung meiner Stammkunden habe ich unter anderem für das Schulungs- und Tagungshotel <a rel="noopener" target="_blank" href="https://www.linuxhotel.de/">Linuxhotel</a> die Wartung bestehender Projekte übernommen.
  <br><br>
  Dazu zählen nicht nur Verbesserungen von Ladezeit und SEO, sondern auch die Erweiterung und Optimierung eines komplexen mehrsprachigen Kurstermin-Systems.
{% endcapture %}
