{%- assign projectHeadline = 'Wartung und Weiterentwicklung' -%}
{%- assign projectHashtags = 'PHP Symfony WordPress JavaScript CSS' -%}
{%- assign projectTimestamp = '' -%}
{%- assign projectIconSlug = 'wordpress' -%}
{% capture projectDescription -%}
  Neben langjähriger Begleitung meiner Stammkunden habe ich auch für neue Kunden, etwa das Schulungs- und Tagungshotel <a rel="noopener" target="_blank" href="https://www.linuxhotel.de/">Linuxhotel</a>, die Wartung bestehender Projekte übernommen.
  <br><br>
  Ich verbesserte die Ladezeit und SEO und erweiterte und optimierte ein komplexes mehrsprachiges Kurstermin-System.
{% endcapture %}
