{%- assign header = 'Klimapsychologie-Kampagne' -%}
{%- assign hashtags = 'WordPress Elementor CSS' | split: ' ' -%}
Als Teamarbeit von
    <a
      href="https://creativesforfuture.de/"
      target="_blank"
      rel="noopener">Creatives for Future</a> und
    <a href="https://www.psy4f.org/" target="_blank" rel="noopener">Psychologists for Future</a> entstand die Website "Das kannst du tun" mit weiterführenden Informationen zur gleichnamigen gemeinnützigen Werbekampagne. Ich optimierte die responsive Darstellung. <a
      href="https://daskannstdutun.de/" target="_blank" rel="noopener" class="print-display-block">daskannstdutun.de</a>

