{%- assign projectHeadline = 'Astro + React Web App' -%}
{%- assign projectHashtags = 'React TypeScript Tailwind Astro Playwright' -%}
{%- assign projectLinkUrl = 'https://dev-UX-Lesezeichen.de/' -%}
{%- assign projectTimestamp = '2025 -' -%}
{%- assign projectIconSlug = 'reactapp' -%}
{% capture projectDescription -%}
  Proof of Concept einer performanten, modularen Web-App zur interaktiven Präsentation von IT-Fachbüchern. Qualitätssicherung mit Storybook, Vitest und Playwright. Das eigens entwickelte Frontend-Modul <a href="https://www.npmjs.com/package/hexagonal-masonry-placement" target="_blank" rel="noopener">Hexagonal-Masonry-Placement</a> habe ich als Open Source Software auf GitHub und npm veröffentlicht.
{% endcapture %}
