{%- assign projectHeadline = 'Online-Shop' -%}
{%- assign projectHashtags = 'WordPress WooCommerce PHP CSS' -%}
{%- assign projectImgAlt = 'Screenshot der Website' -%}
{%- assign projectLinkUrl = 'https://foodtogether.de/' -%}
{% capture projectDescription -%}
Den nachhaltigen Lebensmittelversand <a href="https://foodtogether.de/" target="_blank" rel="noopener">Food Together</a> unterstütze ich bei der Weiterentwicklung des Full Site Editing Block Themes für ihren WooCommerce-Shop.<br><a href="https://foodtogether.de/wer-wir-sind/" target="_blank" rel="noopener">foodtogether.de/wer-wir-sind</a>
{% endcapture %}
