<header>
  <h3>WooCommerce-Shop</h3>
</header>
<p>
  {{ 'foodtogether' | svgIcon }}
  <span class="text-line">Den nachhaltigen Lebensmittelversand <a href="https://foodtogether.de/" target="_blank" rel="noopener">Food Together</a> unterstütze ich bei der Weiterentwicklung des Full Site Editing Block Themes für ihren WooCommerce-Shop.<br><a href="https://foodtogether.de/wer-wir-sind/" target="_blank" rel="noopener">foodtogether.de/wer-wir-sind</a></span>
</p>
{%- assign hashtags = 'WordPress WooCommerce PHP CSS' | split: ' ' -%}
