<header>
  <h3>Atomic Design System</h3>
</header>
<p>
  {{ 'fractal' | svgIcon }}
  <span class="text-line">
    Als Senior Lead Developer entwickelte ich mit einem Team von Frontend-Webentwicklern ein modulares Design System für den Relaunch mehrerer Websites eines international tätigen Kunden. Als technische Basis diente das Framework <a
       href="https://fractal.build/"
       target="_blank"
       rel="noopener"
     >Fractal</a>.</span>
</p>
{%- assign hashtags = "HTML CSS Fractal Handlebars Webpack" | split: " " -%}
