{%- assign header = 'Fashion Consultant Portfolio' -%}
{%- assign hashtags = 'HTML CSS JavaScript PHP WordPress' | split: ' ' -%}
<a
       href="https://kleiderordnung.berlin/"
       title="www.kleiderordnung.berlin"
       target="_blank"
       rel="noopener"
     >Kleiderordnung.Berlin</a>
     ist die Portfolio-Website der nachhaltigen Modeberaterin Tina Steinke.<br></span>
  <span class="only-print code-link">github.com/openmindculture/kleiderordnung-berlin<br></span>
  <span class="text-line">Quellcode:<br></span>
  <span class="text-line"><a
    class="code-link"
    href="https://github.com/openmindculture/kleiderordnung-berlin"
    target="_blank"
    rel="noopener"
  >github.com/openmindculture/kleiderordnung-berlin</a>
