{%- assign header = 'Frontend-Erweiterung' -%}
{%- assign hashtags = 'Webflow JavaScript HTML CSS' | split: ' ' -%}
Nach einem gemeinsamen Projekt beim <a href="https://www.climatefounders.com/climate-hack" target="_blank" rel="noopener">ClimateHack</a> 2021 unterstützte ich das Kölner Startup <a href="https://planted.green" target="_blank" rel="noopener">Planted</a> unter anderem bei der Integration von Zahlungsdienstleistern in Webflow und bei der Einarbeitung einer neuen Mitarbeiterin. <span class="only-print code-link">https://planted.green</span>
