{%- assign projectHeadline = 'Entwickler-Portfolio' -%}
{%- assign projectHashtags = 'Eleventy HTML CSS JavaScript Liquid' -%}
{%- assign projectImgAlt = 'Screenshot der Website' -%}
{%- assign projectImgWidth = '1109' -%}
{%- assign projectImgHeight = '990' -%}
{%- assign sourceLinkUrl = 'https://github.com/openmindculture/ingo-steinke.de' -%}
{%- assign projectTimestamp = '2021 - 2025' -%}
{%- assign projectIconSlug = 'portfolio' -%}
{% capture projectDescription -%}
<a href="https://www.ingo-steinke.de/">Ingo-Steinke.de</a> zeigt meine Arbeit als Webentwickler.
  Minimalistisches Design, moderne Typographie, schnelle Ladezeit (97/100 Page Speed Performance Score) und umweltfreundliche Web-Technologie zeichnen mein berufliches Portfolio aus.
{% endcapture %}
