{%- assign projectHeadline = 'Portfolio Relaunch' -%}
{%- assign projectHashtags = 'HTML CSS JavaScript Liquid Eleventy' -%}
{%- assign projectImgAlt = 'Screenshot der Website' -%}
{%- assign projectImgWidth = '1109' -%}
{%- assign projectImgHeight = '990' -%}
{%- assign projectLinkUrl = 'https://www.ingo-steinke.de/' -%}
{% capture projectDescription -%}
<a href="https://www.ingo-steinke.de/">Ingo-Steinke.de</a> zeigt meine Arbeit als Webentwickler. Minimalistisches Design, moderne Typographie, aktuelle Technologie und umfangreiche textliche Überarbeitung prägen den Relaunch meines beruflichen Portfolios. Code:<br><a class="code-link" href="https://github.com/openmindculture/ingo-steinke.de" target="_blank" rel="noopener">github.com/openmindculture/ingo-steinke.de</a>
{% endcapture %}
