<header>
  <h3>React-Web-App</h3>
</header>
<p>
  {{ 'reactapp' | svgIcon }}
  <span class="text-line">Die grafische Oberfläche der Plattform wao.io visualisierte technische Daten und ließ Webmaster die Optimierung ihrer Website selbst einstellen. Ich entwickelte und aktualisierte Komponenten der Web-App <a href="http://web.archive.org/web/20230129234614/https://wao.io/de/about-us/experts/ingo-steinke/" title="wao.io/de/about-us/experts/ingo-steinke" target="_blank" rel="noopener">als Teil des Frontend- und Support-Teams</a>. </span>
</p>
{%- assign hashtags = 'React JSX ES6 CSS-in-JS Storybook' | split: ' ' -%}
