{%- assign headline = 'React-Web-App' -%}
{%- assign hashtags = 'React JSX ES6 CSS-in-JS Storybook' -%}
{%- assign imgalt = 'Screenshot der Website' -%}
Die grafische Oberfläche der Plattform wao.io visualisierte technische Daten und ließ Webmaster die Optimierung ihrer Website selbst einstellen. Ich entwickelte und aktualisierte Komponenten der Web-App <a href="http://web.archive.org/web/20230129234614/https://wao.io/de/about-us/experts/ingo-steinke/" title="wao.io/de/about-us/experts/ingo-steinke" target="_blank" rel="noopener">als Teil des Frontend- und Support-Teams</a>.
