<header>
  <h3>Shopware-Plugin</h3>
</header>
<p>
  {{ 'shopwareplugin' | svgIcon }}
  <span class="text-line">Zur Nachhaltigkeit gehört im E-Commerce auch Preistransparenz. Mein kostenloses Plugin <a href="https://store.shopware.com/ingos57544164693f/kostentransparenz.html" target="_blank" rel="noopener">"Kostentransparenz"</a> erweitert die Produktdetails in Shopware 6 um eine interaktive Grafik, die verschiedene Anteile am Gesamtpreis veranschaulicht. <span class="only-print code-link">store.shopware.com/en/detail/index/sArticle/11634729/number/IngoS57544164693</span></span>
</p>
{%- assign hashtags = 'Shopware 6 PHP Twig CSS JavaScript' | split: ' ' -%}
