<header>
  <h3>WordPress-Optimierung</h3>
</header>
<p>
  {{ 'wordpress' | svgIcon }}
  <span class="text-line">Diverse bestehende WordPress-Websites erweiterte ich um neue Inhalte und optimierte die Ladegeschwindigkeit, Barrierefreiheit und mobile Darstellung, unter anderem die reich bebilderte Portfolio-Website des nachhaltigen Fotografen <a href="https://www.malte-reiter.de/" target="_blank" rel="noopener">Malte-Reiter.de</a>.</span>
</p>
{%- assign hashtags = 'WordPress BrowserStack PageSpeed CSS' | split: ' ' -%}
