{%- assign projectHeadline = 'WordPress-Optimierung' -%}
{%- assign projectHashtags = 'WordPress PageSpeed CSS PHP' -%}
{%- assign projectImgAlt = 'Screenshot der Website' -%}
{%- assign projectLinkUrl = 'https://www.ingo-steinke.de/wordpress-website-nachhaltig-optimieren-lassen/' -%}
{% capture projectDescription -%}
Diverse bestehende WordPress-Websites erweiterte ich um neue Inhalte und optimierte die Ladegeschwindigkeit, Barrierefreiheit und mobile Darstellung, unter anderem die reich bebilderte Portfolio-Website des nachhaltigen Fotografen <a href="https://www.malte-reiter.de/" target="_blank" rel="noopener">Malte-Reiter.de</a>.
{% endcapture %}
