---
tags: addtositemap
imgdirectory: "../img"
permalink: "wordpress-website-nachhaltig-optimieren-lassen/index.html"
alternatelink: "https://www.ingo-steinke.com/services/wordpress-websites-sustainability.html"
alternatehreflang: "en"
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Wordpress-Website nachhaltig optimieren lassen</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body>
<div class="page-container" id="top">
  <div class="page-content">
    <header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
      <h1>Wordpress-Website nachhaltig optimieren lassen</h1>
      <p>Der Berliner Webentwickler Ingo Steinke arbeitet seit fast 20 Jahren mit WordPress. Ingo hat Erfahrung mit der
        Entwicklung und Optimierung responsiver, barrierefreier und performanter Websites. Bei einem unverbindlichen und
        kostenlosen Erstgespräch kann Ingo dich kompetent und verständlich beraten. Schau dir Ingos <a
          href="https://www.ingo-steinke.de/#projects">Referenzen</a> und <a href="https://www.ingo-steinke.de/#skills">Fachkenntnisse</a>
        auf seiner Website an oder <a href="#contact">melde dich gleich persönlich!</a></p>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid' %}
    <main id="content-top" class="target-offset">
      <section class="text-content-layout text-content-color">
        <h2>Fragen und Antworten zu nachhaltiger WordPress-Entwicklung</h2>
        <article class="text-width">
          <ul class="aside-heading">
            <li>Wie kann ich WordPress nachhaltig einsetzen?</li>
            <li>Ist WordPress umweltfreundlich und nachhaltig?</li>
            <li>Wer kann mein WordPress individuell einrichten?</li>
            <li>Kann ich meine Webseiten einfach selbst erweitern?</li>
          </ul>
          <h3>Individuell optimierte WordPress-Themes</h3>
          <p>Für <a href="https://kleiderordnung.berlin/" target="_blank">Kleiderordnung.Berlin</a> programmierte Ingo
            Steinke ein hybrides WordPress-Theme mit Custom Fields und Custom Post Types, das den Gutenberg-Editor nur
            auf bestimmten Seiten verwendet. Ebenso wie sein Blog <a href="https://www.open-mind-culture.org/"
                                                                          target="_blank">Open-Mind-Culture.org</a> ist
            die WordPress-Website ein Beweis dafür, dass sich auch mit WordPress umweltfreundliche Webseiten mit
            schnellen Ladezeiten entwickeln lassen.</p>
          <h3>Nachhaltige WordPress-Webentwicklung</h3>
          <p>Ein:e nachhaltig orientierte:r (WordPress-)Webentwickler:in kann dazu beitragen, die Digitalisierung
            ökologischer zu gestalten und schöne und schnellen Webseiten zu programmieren, die mit wenig
            Wartungsaufwand und langlebiger Open-Source-Technologie auch wirtschaftlich nachhaltig sind.</p>
          <p>WordPress feierte 2023 seinen 20. Geburtstag und bildet die technische Basis für Millionen von
            Internetseiten. Dank der zahlreichen kostenlosen Schulungsmöglichkeiten lassen sich leicht Mitarbeiter:innen
            finden, die die Inhalte einer Website pflegen und erweitern können, ohne dass du das selbst lernen oder
            professionelle Programmierung beauftragen musst.</p>
          <h3>Wesentlichkeit, Wartbarkeit und lange Lebensdauer</h3>
          <p>Die Webentwicklung (Programmierung) sollte sich darauf beschränken, modulare Komponenten (Themes und
            Plugins) zu programmieren, die eine lange Lebensdauer haben und die leicht angepasst und erweitert werden
            können. Individuelle Programmierung kann, Gegensatz zu der beliebten bunten Sammlung frei verfügbarer
            Plugins, eine nachhaltige Basis schaffen, die von Anfang an elegant, effizient und barrierefrei ist.
            Webentwickler können auch bei der Auswahl (Architektur) möglicher Komponenten beraten und bestehende
            WordPress-Webseiten nachträglich optimieren.</p>
          <h3 class="target-offset" id="plugin-programmierung">Open Source / Plugin-Programmierung</h3>
          <p>Aktuell arbeitet Ingo an WordPress-Plugins zur <a
              href="https://de.wordpress.org/plugins/incompatibility-status/" target="_blank" rel="noopener">vorzeitigen
              Erkennung von Plugin-Konflikten</a> und <a
              href="https://github.com/openmindculture/wp-contact-form-inbox-report-mailer-plugin" target="_blank"
              rel="noopener">zum Spam-Bericht für WordPress-Kontaktformulare</a>. Zudem entwickelte Ingo Erweiterungen
            und Themes für Shopware, WebStorm und IntelliJ IDEA, unter anderem das kostenlos erhätliche <a
              href="https://plugins.jetbrains.com/plugin/16721-cute-pink-light-theme" target="_blank" rel="noopener">Cute
              Pink Light Theme </a>.</p>
          <h3>Fragen und Antworten</h3>
          <p>Suchst du nach einer nachhaltigen WordPress-Website? Hast du noch Fragen? Melde dich gerne direkt oder
            buche einen Termin für eine unverbindliche und kostenlose Erstberatung!</p>
        </article>
        <div class="cta-container">
          <a href="../#contact" class="buttonlike">Kontakt aufnehmen</a>
        </div>
      </section>

      {% include '../_includes/section-services-on-subpages.liquid' %}

      {% include '../_includes/section-imprint-contact.liquid' %}
    </main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
  </div>
</div>
</body>
</html>
