---
tags: addtositemap
imgdirectory: "../img"
previewdescription: "Der Berliner Webentwickler Ingo Steinke arbeitet seit etwa 20 Jahren mit WordPress. Sein Schwerpunkt ist nachhaltig effiziente und barrierefreie Webentwicklung"
permalink: "wordpress-website-nachhaltig-optimieren-lassen/index.html"
canonicalhref: "https://www.ingo-steinke.de/wordpress-website-nachhaltig-optimieren-lassen/"
canonicalhreflang: "de"
alternatelink: "https://www.ingo-steinke.com/services/wordpress-websites-sustainability.html"
alternatehreflang: "en"
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Klimafreundliche Wordpress- und WooCommerce-Theme-Entwicklung</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top">
  <div class="page-content">
    <header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
      <h1>Klimafreundliche Wordpress- und WooCommerce-Theme-Entwicklung</h1>
      <p>Als Webentwickler arbeite ich unter anderem auch mit Webflow, WordPress und WooCommerce. Dabei liegt mein Schwerpunkt auf der Entwicklung und Optimierung nachhaltig effizienter, barrierefreier und responsiver Websites. Sieh dir meine <a href="/leistungen/">Fachkenntnisse (Skills)</a> und <a
          href="/projekte/">Projekte (Referenzen)</a> an oder <a href="/#contact">melde dich gleich persönlich!</a></p>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid' %}
    <main id="content-top" class="target-offset">
      <section class="text-content-layout text-content-color">
        <article class="text-width">
          <h2>Individuelle Webiste-Themes</h2>
          <p>Für <a href="https://kleiderordnung.berlin/" target="_blank">Kleiderordnung.Berlin</a> programmierte ich ein hybrides Theme mit Custom Fields und Custom Post Types, das den Block-Editor nur eingeschränkt verwendet. Ebenso wie mein Blog <a href="https://www.open-mind-culture.org/" target="_blank">Open-Mind-Culture.org</a> beweist die Website, dass sich auch mit einem Open-Source-CMS moderne Websites mit schnellen Ladezeiten entwickeln lassen, die mit geringem Wartungsaufwand auch in wirtschaftlicher Hinsicht nachhaltig sind.</p>
          <p>Als Webentwickler programmiere ich für solche Projekte modulare Komponenten (Themes und Plugins), die bei Bedarf leicht angepasst und erweitert werden
            können. Individuelle Programmierung kann somit eine nachhaltige Basis schaffen, die von Anfang an elegant, <a href="/webseiten-klimafreundlich-barrierefrei-optimieren/">effizient und barrierefrei</a> ist.
          </p>
          <h3>WooCommerce als E-Commerce-Plattform</h3>
          <p>Die E-Commerce-Software WooCommerce besteht, ähnlich wie <a href="/zertifizierter-shopware-6-frontend-webentwickler/">Shopware</a>, aus einer gemeinwohlorientierten Software-Basis, die je nach Bedarf gestaltet und um kommerzielle Komponenten erweitert werden kann, um einen individuell angepassten Online-Shop DSGVO-konform auf einem eigenen Webserver zu betreiben.</p>

          <h3>Fragen und Antworten</h3>
          <p>Habe ich dein Interesse geweckt?</p>
          <p>Lass uns deine Anforderungen und Wünsche einer unverbindlichen Erstberatung besprechen!</p>
        </article>
        <div class="cta-container">
          <a href="/#contact" class="buttonlike contact-link">Kontakt aufnehmen</a>
        </div>
      </section>
    </main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
  </div>
</div>
</body>
</html>
