<!DOCTYPE html><html lang="de"><head><meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Wordpress-Website nachhaltig optimieren lassen</title>
{% include '../_includes/html-head-common.liquid' %}
</head>
<body>
<div class="page-container" id="top"><div class="page-content">
<header class="jumbotronHeader" id="jumbotronHeader">
  <h1>Wordpress-Website nachhaltig optimieren lassen</h1>
<p>Der Berliner Webentwickler Ingo Steinke arbeitet seit fast 20 Jahren mit WordPress. Ingo hat Erfahrung mit der Entwicklung und Optimierung responsiver, barrierefreier und performanter Websites.
  Für <a href="https://kleiderordnung.berlin/" target="_blank">Kleiderordnung.Berlin</a> programmierte Ingo ein hybrides WordPress-Theme mit Custom Fields und Custom Post Types, das den Gutenberg-Editor nur auf bestimmten Seitentypen verwendet. Ebenso wie sein Blog <a href="https://www.open-mind-culture.org/" target="_blank">Open-Mind-Culture.org</a> ist die WordPress-Website ein Beweis dafür, dass sich auch mit WordPress umweltfreundliche Webseiten mit schnellen Ladezeiten entwickeln lassen.</p><p>Bei einem unverbindlichen und kostenlosen Erstgespräch kann Ingo dich kompetent und verständlich beraten.
Schau dir Ingos <a href="https://www.ingo-steinke.de/#projects">Referenzen</a> und <a href="https://www.ingo-steinke.de/#skills">Fachkenntnisse</a> auf seiner Website an oder <a href="#contact">melde dich gleich persönlich!</a></p>
</header>
<main id="content-top" class="target-offset">
  {% include '../_includes/section-imprint-contact.liquid' %}
</main>
{% include '../_includes/page-footer.liquid' %}
</div>
</div>
</body>
</html>
