# Apache server settings
# rewrite to canonical https://www.ingo-steinke.de
# optimize caching and compression

<IfModule mod_expires.c>
ExpiresActive on
ExpiresDefault "access plus 5 minutes"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/svg "access plus 1 month"
ExpiresByType text/html "access plus 4 hours"
ExpiresByType text/htm "access plus 4 hours"
ExpiresByType text/javascript "access plus 2 days"
ExpiresByType text/css "access plus 2 days"
ExpiresByType text/xml "access plus 2 days"
ExpiresByType application/xml "access plus 0 seconds"
ExpiresByType application/json "access plus 0 seconds"
ExpiresByType text/cache-manifest "access plus 0 seconds"
</IfModule>

<IfModule mod_filter.c>
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/plain text/html text/xml text/css text/javascript
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript application/x-javascript
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE\s7 !no-gzip !gzip-only-text/html
</IfModule>
</IfModule>

# add security headers
Header set X-Frame-Options "SAMEORIGIN"
Header set X-Content-Type-Options  "nosniff"
Header set X-Xss-Protection "1; mode=block"
Header set Referrer-Policy "no-referrer-when-downgrade"
Header set Content-Security-Policy  "default-src 'self' *.unpkg.com api.websitecarbon.com *.websitecarbon.com *.ingo-steinke.de *.ingo-steinke.com; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' https://unpkg.com https://api.websitecarbon.com *.websitecarbon.com *.ingo-steinke.de *.ingo-steinke.com; img-src 'self' data: *.ingo-steinke.de *.ingo-steinke.com"

RewriteEngine On
RewriteCond %{HTTPS} off
# First rewrite to HTTPS:
# Don't put www. here. If it is already there it will be included, if not
# the subsequent rule will catch it.
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# Now, rewrite any request to the wrong domain to use www.
# [NC] is a case-insensitive match
RewriteCond %{HTTP_HOST} !^www\.ingo-steinke [NC]
RewriteRule .* https://www.ingo-steinke.de%{REQUEST_URI} [L,R=301]
# Map legacy urls to current location
RewriteRule ^/ingo-steinke.jpg$ https://www.ingo-steinke.de/img/ingo-steinke.jpg [L,R=301]
RewriteRule ^/Foto-Ingo-Steinke-Woodhack.jpg$ https://www.ingo-steinke.de/img/Foto-Ingo-Steinke-Woodhack.jpg [L,R=301]
RewriteRule ^/ingo-steinke-face-bw.jpg$ https://www.ingo-steinke.de/img/ingo-steinke-face-bw.jpg [L,R=301]
RewriteRule ^/ingo-steinke-avenga-grayscale.jpg$ https://www.ingo-steinke.de/img/ingo-steinke-face-bw.jpg [L,R=301]
RewriteRule ^/ingo-steinke-schwarzweissportrait-profilbild.jpg$ https://www.ingo-steinke.de/img/ingo-steinke-schwarzweissportrait-profilbild.jpg [L,R=301]
