<!doctype html>
<html lang=de>
  <head>
    <meta
      http-equiv="content-type"
      content="text/html; charset=utf-8"
    >
    <title>
      Ingo Steinke - Web-Entwickler, Berater und Vertreter von Frischekosmetik und Supplements
    </title>
    <meta name=author content="Ingo Steinke">
    <meta name=language content=de>
    <meta name=description content="Ingo Steinke">
    <meta name=keywords content="Ingo,Steinke,Web-Entwickler,Berater,Medienkompetenz,Events,Frischekosmetik,Nahrungseränzung,Düsseldorf">
    <meta name="p:domain_verify" content="4c4296e5835f4a47eb2c2e5488a99d71"/>
    <meta name=robots content="index,follow">
    <meta name=viewport content="width=device-width,initial-scale=1.0">
    <style>
      {%- postcss -%}
        {% include _includes/critical.css %}
      {%- endpostcss -%}
    </style>
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <meta
      property="og:title"
      content="Ingo Steinke - Web-Entwickler, Berater und Vertreter von Frischekosmetik und Supplements"
    >
    <meta
      property="og:description"
      content="Ingo Steinke ist Web-Entwickler, Berater und Vertreter von Frischekosmetik und Supplements."
    >
    <meta
      property="og:image"
      content="https://www.ingo-steinke.de/ingo-steinke-face-bw.jpg"
    >
    <meta
      name="twitter:card"
      content="Ingo Steinke ist Web-Entwickler, Berater und Vertreter von Frischekosmetik und Supplements."
    >
    <meta
      name="twitter:site"
      content="@fraktalisman"
    >
    <meta
      name="twitter:creator"
      content="@fraktalisman"
    >
    <meta
      property="og:url"
      content="https://www.ingo-steinke.de/"
    >
    <link
      rel=canonical
      href="https://www.ingo-steinke.de/"
    >
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class=outercontainer>

      <main class=innercontainer>
        <section>
          <div class="flr posrel">
            <h1 role=banner>Ingo Steinke</h1>
            <!-- fixed width image with retina srcset -->
            <!-- use sizes for responsive images -->
            <!-- loading=lazy issues: images not printing -->
            <!-- lazysizes / vanilla-lazyload only use data- attributes, so no native html fallback? -->
            <img
              src="img/Foto-Ingo-Steinke-Woodhack-150.jpg"
              srcset="img/Foto-Ingo-Steinke-Woodhack-300.jpg 2x,
                      img/Foto-Ingo-Steinke-Woodhack.jpg 2.5x"
              width=150
              height=150
              alt="Foto von Ingo Steinke"
              class=photo
            >
            <div class="menu-circle m1">
              <a href="#nav" title="Navigation...">
                &hellip;
              </a>
            </div>
            <div class="menu-circle m2">
              <a href="#contact" title="Kontakt">
                &#x2709;
              </a>
            </div>
            <div class="menu-circle m3">
              <a href="#imprint" title="Impressum">
                §
              </a>
            </div>
          </div>
        </section>
        <section>
          <p>
            Herzlich Willkommen auf meiner Homepage! Ich bin Webentwickler, technologischer
            Berater und Vertriebspartner für Frischekosmetik und natürliche Nahrungsergänzung.
          </p>
          <p>
            Ich lebe mit meiner Familie im Rheinland und arbeite in Düsseldorf und Köln.
          </p>
          <h2>Web-Entwicklung</h2>
          <p class=work>
            Ich erstelle, pflege und optimiere Internetseiten und Web-Anwendungen mit den Schwerpunkten
            Web-Performance, Geschwindigkeit und Benutzerfreundlichkeit.
            Ich arbeite mit HTML 5, CSS 3, JavaScript, node.js, ReactJS, MySQL, MongoDB und WordPress.
          </p>
        </section>
        <section>
          <h3>Events und Medienkompetenz</h3>
          <p>
            Ich beriet den Arbeitskreis Kommunikation des Marie-Curie-Gymnasiums in Düsseldorf und
            organisierte mit der Skate Association Germany e.V. die EU-geförderte internationale
            Jugendbegegnung &quot;Skaters for Europe&quot;.
          </p>
        </section>
        <section class=alternate>
          <h3>Arbeiten</h3>
          <ul>
            <li>
              <h4>Shopware Plugin</h4>
              <p>Cache Control for your existing site at wao.io, a platform, that continually optimizes
                the security and performance (page size, images and code structure) of your online shop.
                This free plugin for Shopware 6 was developed for wao.io by Ingo Steinke, Senior Software
                Developer at Avenga Germany at the time of writing.</p>
              <span class="hashtag php">PHP</span>
              <span class="hashtag js">JavaScript</span>
              <span class="hashtag vuejs">Vue.js</span>
              <span class="hashtag symfony">Symfony</span>
              <span class="hashtag shopware">Shopware</span>
              <span class="hashtag docker">Docker-compose</span>
            </li>
            <li>
              <h4>WordPress Plugin</h4>
              <span class="hashtag php">PHP</span>
              <span class="hashtag js">JavaScript</span>
              <span class="hashtag html">HTML</span>
              <span class="hashtag css">CSS</span>
              <span class="hashtag wp">WordPress</span>
            </li>
            <li><h4>WordPress Theme</h4></li>
            <li>
              <h4>Portfolio Website Relaunch</h4>
              <span class="hashtag jamstack">JAMStack</span>
              <span class="hashtag 11ty" title=eleventy>11ty</span>
              <span class="hashtag netlify">netlify</span>
              <span class="hashtag css">CSS</span>
              <span class="hashtag html">HTML</span>
              <span class="hashtag js">JavaScript</span>
            </li>
            <li>
              <h4>React Frontend</h4>
              <span class="hashtag reactjs">ReactJS</span>
              <span class="hashtag reactjs">React-Router</span>
              <span class="hashtag js">JavaScript</span>
              <span class="hashtag css">CSS-in-JSS</span>
              <span class="hashtag css">CSS</span>
              <span class="hashtag css">Styled Components</span>
              <span class="hashtag couper">couper.io</span>
              <span class="hashtag couper">wao.io</span>
            </li>
            <li><h4>Meetup with Pat</h4></li>
          </ul>
        </section>
        <section>
          <h3>Skills / Tools</h3>
          <ul>
            <li>HTML: 25+</li>
            <li>CSS: 20+</li>
            <li>JavaScript: 25+</li>
            <li>PHP: 25+</li>
            <li>mySQL</li>
            <li>foo</li>
            <li>foo</li>
            <li>foo</li>
            <li>foo</li>
            <li>foo</li>
            <li>foo</li>
            <li>foo</li>
            <li>foo</li>
            <li>foo</li>
            <li>foo</li>
            <li>foo</li>
          </ul>
        </section>
        <div>
          <h2>Kontakt, Impressum, Netzwerkprofile von Ingo Steinke</h2>
          <ul>
            <li>
              <a rel="noopener" href="http://www.ingo-steinke.de">
                www.ingo-steinke.de
              </a>
            </li>
            <li>
              <a rel="noopener" href="https://www.linkedin.com/in/ingosteinke" target="_blank">
                LinkedIn-Profil von Ingo Steinke
              </a>
            </li>
            <li>
              <a rel="noopener" href="https://stackoverflow.com/users/5069530/ingo-steinke" target="_blank">
                Ingo Steinke bei Stack Overflow
              </a>
            </li>
            <li>
              <a rel="noopener" href="https://twitter.com/fraktalisman" target="_blank">
                Ingo Steinke bei Twitter (@fraktalisman)
              </a>
            </li>
            <li>
              <a rel="noopener" href="https://github.com/openmindculture" target="_blank">
                GitHub-Profil (openmindculture)
              </a>
            </li>
          </ul>
          <section class=right>
            <a class="social-btn gh-btn" href="https://github.com/openmindculture" target="_blank" rel="noopener">
              <svg height=14 viewBox="0 0 16 15" width=14>
                <title>GitHub</title>
                <path
                  fill="#fff"
                  fill-rule=evenodd
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
              </svg><span>openmindculture</span>
            </a>
          </section>
          <section class=right>
            <a class="social-btn tw-btn" href="https://twitter.com/fraktalisman" target="_blank" rel="noopener">
              <svg viewBox="0 0 61 61" height=14 width=14>
                <title>Twitter</title>
                <path fill=none d="M0 0h72v72H0z"/>
                <path
                  class=icon
                  fill="#fff"
                  d="M68.812 15.14c-2.348 1.04-4.87 1.744-7.52 2.06 2.704-1.62 4.78-4.186 5.757-7.243-2.53 1.5-5.33 2.592-8.314 3.176C56.35 10.59 52.948 9 49.182 9c-7.23 0-13.092 5.86-13.092 13.093 0 1.026.118 2.02.338 2.98C25.543 24.527 15.9 19.318 9.44 11.396c-1.125 1.936-1.77 4.184-1.77 6.58 0 4.543 2.312 8.552 5.824 10.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163 0 6.345 4.513 11.638 10.504 12.84-1.1.298-2.256.457-3.45.457-.845 0-1.666-.078-2.464-.23 1.667 5.2 6.5 8.985 12.23 9.09-4.482 3.51-10.13 5.605-16.26 5.605-1.055 0-2.096-.06-3.122-.184 5.794 3.717 12.676 5.882 20.067 5.882 24.083 0 37.25-19.95 37.25-37.25 0-.565-.013-1.133-.038-1.693 2.558-1.847 4.778-4.15 6.532-6.774z"
                />
              </svg><span>@fraktalisman</span>
            </a>
          </section>
          <div class=clr></div>
          <p>
            &copy; Ingo Steinke
          </p>
          <aside>
            Made with
            <a href="https://www.11ty.dev/" target="_blank" rel="noopener">Eleventy</a> and
            <a href="https://postcss.org" target="_blank" rel="noopener">PostCSS</a>
            deployed on <a href="https://www.netlify.com/" target="_blank" rel="noopener">Netlify</a>.
          </aside>
        </div>
      </main>
    </div>
  </body>
</html>
