<!doctype html>
<html lang=de>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!-- TODO use variables instead of repeating meta values -->
    <title>
      Ingo Steinke, Ihr kreativer Web-Entwickler in Düsseldorf
    </title>
    <meta name=language content=de>
    <meta name=viewport content="width=device-width,initial-scale=1.0">
    <style>
      {%- postcss -%}
        {% include _includes/critical.css %}
      {%- endpostcss -%}
    </style>
    <link rel="stylesheet" media="screen" href="styles.css" type="text/css" />
    <link rel="stylesheet" media="print" href="print.css">
    <meta name=author content="Ingo Steinke">
    <meta
      property="og:title"
      content="Ingo Steinke, Ihr kreativer Web-Entwickler in Düsseldorf"
    >
    <meta
      property="og:description"
      content="Ingo Steinke ist ein kreativer Web-Entwickler in Düsseldorf mit über 20 Jahren Beruferfahrung."
    >
    <meta name=description content="Ingo Steinke ist ein kreativer Web-Entwickler in Düsseldorf mit über 20 Jahren Beruferfahrung.">
    <meta name=keywords content="Ingo,Steinke,Web-Entwickler,Berater,Düsseldorf">
    <meta name="p:domain_verify" content="4c4296e5835f4a47eb2c2e5488a99d71"/>
    <meta name=robots content="index,follow">
    <meta
      property="og:image"
      content="https://www.ingo-steinke.de/ingo-steinke-face-bw.jpg"
    >
    <meta
      name="twitter:card"
      content="Ingo Steinke is a creative frontend web developer and does green ethical business."
    >
    <meta name="twitter:site" content="@fraktalisman">
    <meta name="twitter:creator" content="@fraktalisman">
    <meta
      property="og:url"
      content="https://www.ingo-steinke.de/"
    >
    <link
      rel=canonical
      href="https://www.ingo-steinke.de/"
    >
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="page-container">
      <nav id="nav" class="page-navigation">
        <a href="#nav" class="nav-btn initially-hidden">
          <span>Inhalt</span>
          <svg viewBox="0 0 100 80" width="40" height="40">
            <rect width="100" height="20"></rect>
            <rect y="30" width="100" height="20"></rect>
            <rect y="60" width="100" height="20"></rect>
          </svg>
        </a>
        <ul class="nav-list initially-hidden">
          <li>
            <a href="#nav" title="Navigation...">
              &hellip;
            </a>
          </li>
          <li>
            <a href="#contact" title="Kontakt">
              &#x2709;
            </a>
          </li>
          <li>
            <a href="#imprint" title="Impressum">
              §
            </a>
          </li>
        </ul>
      </nav>

      <div class="page-content">
        <header class="page-header">
          <!-- fixed width image with retina srcset -->
          <!-- use sizes for responsive images -->
          <!-- loading=lazy issues: images not printing -->
          <!-- lazysizes / vanilla-lazyload only use data- attributes, so no native html fallback? -->
          <!-- img/Ingo-Steinke-portrait.jpg -->
          <!--             /*
            src="img/Foto-Ingo-Steinke-Woodhack-150.jpg"
            srcset="img/Foto-Ingo-Steinke-Woodhack-300.jpg 2x,
                    img/Foto-Ingo-Steinke-Woodhack.jpg 2.5x"
                    */
          -->
          <img
            src="img/Ingo-Steinke-portrait-2020.jpg"
            srcset="img/Ingo-Steinke-portrait-2020-496.jpg 2x,
                    img/Ingo-Steinke-portrait-2020-992.jpg 4x"
            width=248
            height=248
            alt="Foto von Ingo Steinke"
            class=photo
          >
          <h1>
            Ingo Steinke
          </h1>
          <p class="tagline">Creative Web Developer</p>
        </header>

        <main>
          <section class="text-content">
            <!-- can we omit h2 ? -->
            <article class="text-width">
              <!-- can we omit the header? -->
              <p><!-- overcapitalize first letter -->
                Sie suchen unterstützung bei ihren Web-Projekten?<br>
                Begeistern Sie Ihre Kunden im Internet! Schön, schnell und barrierefrei präsentiere ich Ihre Dienstleistungen und Produkte.
              </p>
              <p>
                Ich bin Ingo Steinke, begeisterter kreativer <strong>Webentwickler aus Düsseldorf</strong> mit <strong>über 20 Jahren Berufserfahrung</strong>. Von meiner Arbeit profitierten unter anderem die Frankfurter Allgemeine Zeitung, die ZEIT, HDI, Avenga und zahlreiche Online-Shops und Versandapotheken.
              </p>



              <h3>Mit mir können Sie arbeiten!</h3>

              <p>
                Benötigen Sie Verstärkung für Ihr Projektteam, oder möchten Sie Ihre Webseite überarbeiten? <a href="#contact">Rufen Sie mich an oder hinterlassen Sie mir eine Nachricht!</a> Gerne können wir uns auch in Düsseldorf oder Köln bei einer Tasse Kaffee unverbindlich über Ihr Projekt unterhalten.
              </p>

              <p>
                Projekte, kleinere Änderungswünsche oder Unterstützung als Freelancer,
                mein Angebot orientiert sich an Ihren Wünschen und Ihrem Budget.
              </p>

              <p>Überzeugen Sie sich selbst! Eine Auswahl meiner bisherigen Projekte:</p>
            </article>
          </section>

          <section class="tiled-content">
            <div class="grid-container flow-grid">
              <!-- TODO article tile aus loop ausgelagerter fragmente -->
              <!-- TODO images seo-technisch nicht als Background sondern
                <img style="object-fit: cover" />
                Nur die Fotos (Hackathon und Shopware) wie bisher kachelfüllend (Sonderfall)
                alle anderen mit tilted mini picture (grow on hover)
              -->

              <article class="tile tile-height bg-img">
                <div class="flex pl1">
                  <header>
                    <h3><span class="text-line">Portfolio Website Relaunch</span></h3>
                  </header>
                  <p>
                    <img
                      src="img/ingotron.jpg"
                      width="800" height="632"
                      style="width:100px;height:auto;"
                      alt=""
                    />
                    <span class="text-line">
                      Ingo-Steinke.de zeigt meine Arbeit als Web-Entwickler. Aktuelle Web- und Design-Trends inspirierten mich Ende 2020 zu diesem Update.

                      <a
                        class="iconlink github"
                        href="https://github.com/openmindculture/ingo-steinke.de"
                        title="github.com/openmindculture/ingo-steinke.de"
                        target="_blank"
                        rel="noopener"
                      >
                        github.com/openmindculture/ingo-steinke.de
                      </a>

                      <a
                        class="iconlink arrow"
                        href="https://www.ingo-steinke.de/"
                        title="www.ingo-steinke.de"
                      >
                        ingo-steinke.de
                      </a>
                    </span>
                  </p>

                  <p>
                    <span class="hashtag jamstack">JAMStack</span>
                    <span class="hashtag 11ty" title=eleventy>11ty</span>
                    <span class="hashtag netlify">netlify</span>
                    <span class="hashtag css">CSS</span>
                    <span class="hashtag html">HTML</span>
                    <span class="hashtag js">JavaScript</span>
                    <span class="hashtag js">liquid</span>
                    <span class="hashtag js">PostCSS</span>
                  </p>
                </div>

              </article>

              <article class="tile tile-height bg-img img-meetup">
                <div class="flex pl1">
                  <header>
                    <h3><span class="text-line">Vortrag: Performance-Optimierung ohne Code-Änderung</span></h3>
                  </header>
                  <p>
                    <img
                      src="img/meetup-angelina-farsch-ingo-steinke-2020.jpg"
                      width="800" height="632"
                      style="width:100px;height:auto;"
                      alt=""
                    />
                    <span class="text-line">
                      Wie mache ich meine Seite schneller? Angelina Farsch und ich erläuterten beim Kölner Web-Performance Meetup, wie Betreiber von Webseiten herausfinden, ob ihre Seite zu den Sprintern oder Schnecken gehört und mit Welchen Mitteln wir die Performance erhöhen können.

                      <a
                        class="iconlink arrow"
                        href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/268706480/"
                        title="meetup.com/cologne-germany-high-performance-website-optimization-group/events/268706480/"
                        target="_blank"
                        rel="noopener"
                      >
                        meetup.com/cologne-germany-high-performance-website-optimization-group/events/268706480/
                      </a>
                    </span>
                  </p>
                </div>
              </article>

              <article class="tile tile-height bg-img img-wp-plugin">
                <div class="flex pl1">
                  <header>
                    <h3><span class="text-line">WordPress-Plugin</span></h3>
                  </header>
                  <p>
                    <img
                      src="img/shopware-plugin-for-wao-io.jpg"
                      width="800" height="632"
                      style="width:100px;height:auto;"
                      alt="Ingo Steinke vor einem Bildschirm mit der Plugin-Seite und einem Laptop mit dem Quellcode des Plugins"
                    />
                    <span class="text-line">
                      Um den Redakteuren unserer Kunden vermeidbare Arbeit zu ersparen, entwickelte ich ein WordPress-Plugin, das bei jeder Veröffentlichung automatisch den externen Cache bereinigt. Dazu wird im Hintergrund die API-Schnittstelle von wao.io aufgerufen. Das kostenlose Plugin wurde 2020 im offiziellen WordPress.org Plugin-Verzeichnis veröffentlicht.

                      <a
                        class="iconlink arrow"
                        href="https://de.wordpress.org/plugins/wao-io-cache-control/"
                        title="de.wordpress.org/plugins/wao-io-cache-control"
                        target="_blank"
                        rel="noopener"
                      >
                        de.wordpress.org/plugins/wao-io-cache-control
                      </a>
                    </span>

                  </p>
                  <p>
                    <span class="hashtag php">PHP</span>
                    <span class="hashtag js">JavaScript</span>
                    <span class="hashtag css">CSS</span>
                    <span class="hashtag wp">WordPress</span>
                    <span class="hashtag wp">Docker</span>
                    <span class="hashtag wp">eslint</span>
                  </p>
                </div>
              </article>

              <article class="tile tile-height bg-img img-sw-plugin">
                <div class="flex pl1">
                  <header>
                    <h3><span class="text-line">Shopware-Plugin</span></h3>
                  </header>
                  <p>
                    <img
                      src="img/wordpress-plugin-for-wao-io.jpg"
                      width="800" height="632"
                      style="width:100px;height:auto;"
                      alt=""
                    />
                    <span class="text-line">
                      Der Aufruf einer externen API aus dem Shopware-Backend heraus war mein erstes Projekt mit Shopware 6. Shopbetreibern, die wao.io zur Optimierung der Web-Performance verwenden, wird dadurch die Arbeit erleichtert. Das kostenlose Plugin wurde 2020 im offiziellen Shopware Store veröffentlicht.

                      <a
                        class="iconlink arrow"
                        href="https://store.shopware.com/waoio62482995391f/wao.io-cache-control.html"
                        title="store.shopware.com/waoio62482995391f/wao.io-cache-control.html"
                        target="_blank"
                        rel="noopener"
                      >
                        store.shopware.com/waoio62482995391f/wao.io-cache-control.html
                      </a>
                    </span>
                  </p>

                  <p>
                    <span class="hashtag shopware">Shopware 6</span>
                    <span class="hashtag symfony">Symfony</span>
                    <span class="hashtag php">PHP</span>
                    <span class="hashtag php">PHPStan</span>
                    <span class="hashtag vuejs">Vue.js</span>
                    <span class="hashtag js">JavaScript</span>
                    <span class="hashtag vuejs">twig</span>
                    <span class="hashtag vuejs">REST</span>
                    <span class="hashtag docker">Docker</span>
                  </p>
                </div>
              </article>

              <article class="tile tile-height bg-img img-react-app">
                <div class="flex pl1">
                  <header>
                    <h3><span class="text-line">React-Web-App</span></h3>
                  </header>
                  <p>
                    <img
                      src="img/react-app-wao-io.jpg"
                      width="800" height="632"
                      style="width:100px;height:auto;"
                      alt=""
                    />
                    <span class="text-line">
                      Die grafischen Oberfläche von wao.io visualisiert technische Daten und lässt Webmaster die Optimierung ihrer Webseiten selbst einstellen. Von 2017 bis 2020 entwickelte und aktualisierte ich Komponenten der Web-App als Frontend-Entwickler in einem agilen Team.

                      <a
                        class="iconlink arrow"
                        href="https://wao.io/"
                        title="wao.io"
                        target="_blank"
                        rel="noopener"
                      >
                        wao.io
                      </a>
                    </span>

                  </p>
                  <p>
                    <span class="hashtag reactjs">ReactJS</span>
                    <span class="hashtag js">JavaScript</span>
                    <span class="hashtag css">Styled Components</span>
                    <span class="hashtag reactjs">Storybook</span>
                    <span class="hashtag css">CSS</span>
                    <span class="hashtag couper">Webpack</span>
                    <span class="hashtag reactjs">Jest</span>
                    <span class="hashtag couper">Auth0</span>
                    <span class="hashtag couper">node.js</span>
                    <span class="hashtag couper">Git</span>
                  </p>
                </div>
              </article>

              <article class="tile tile-height bg-img img-kleiderordnung">
                <div class="flex pl1">
                  <header>
                    <h3><span class="text-line">Kleiderordnung Düsseldorf</span></h3>
                  </header>
                  <p>
                    <img
                      src="img/kleiderordnung-website.jpg"
                      width="800" height="632"
                      style="width:100px;height:auto;"
                      alt=""
                    />
                    <span class="text-line">
                      Für meine Mode- und Stilberaterin Martina Steinke entwarf die Grafik-Designerin Vivien Kruggel Visitenkarten und Flyer. Die passende Web-Visitenkarte erstellte ich 2016 als One-Pager mit Reiternavigation, Bildergalerie und Kontaktformular.

                      <a
                        class="iconlink github"
                        href="https://github.com/openmindculture/kleiderordnung"
                        title="github.com/openmindculture/kleiderordnung"
                        target="_blank"
                        rel="noopener"
                      >
                        github.com/openmindculture/kleiderordnung
                      </a>

                      <a
                        class="iconlink arrow"
                        href="https://www.kleiderordnung-duesseldorf.de"
                        title="www.kleiderordnung-duesseldorf.de"
                        target="_blank"
                        rel="noopener"
                      >
                        www.kleiderordnung-duesseldorf.de
                      </a>
                    </span>
                  </p>
                  <p>
                    <span class="hashtag reactjs">HTML</span>
                    <span class="hashtag js">JavaScript</span>
                    <span class="hashtag reactjs">CSS</span>
                    <span class="hashtag js">SCSS</span>
                    <span class="hashtag js">SVG</span>
                    <span class="hashtag js">Babel</span>
                    <span class="hashtag js">PHP</span>
                  </p>
                </div>
              </article>

              <article class="tile tile-height bg-img img-woodhack">
                <div class="flex bg-peel pl1">
                  <header>
                    <h3><span class="text-line">Green Wall-E</span></h3>
                  </header>
                  <p>
                    <span class="text-line">
                      Unsere interaktive Upcycling-Installation "Green Wall-E" wurde 2019 Sieger beim Hackathon "Sevenval Woodhack". Das Gerät aus Arduino-Hardware und Fundstücken eines Waldspaziergangs reagiert auf Trockenheit und Blumengießen mit farbiger Animation seines LED-Leuchtstreifens.
                      <a
                        class="iconlink github"
                        href="https://github.com/openmindculture/arduino"
                        title="github.com/openmindculture/arduino"
                        target="_blank"
                        rel="noopener"
                      >
                        github.com/openmindculture/arduino
                      </a>

                      <a
                          class="iconlink arrow"
                          href="https://www.sevenval.com/blog/culture/woodhack-2019-projekt-green-wall-e/"
                          title="www.sevenval.com/blog/culture/woodhack-2019-projekt-green-wall-e"
                          target="_blank"
                          rel="noopener"
                        >
                          www.sevenval.com/blog/culture/woodhack-2019-projekt-green-wall-e/
                        </a>
                    </span>
                  </p>
                  <p>
                    <span class="hashtag reactjs">Arduino</span>
                    <span class="hashtag reactjs">C++</span>
                    <span class="hashtag js">cpp</span>
                  </p>
                </div>

              </article>

              <article class="tile tile-height bg-img img-wp-theme">
                <div class="flex pl1">
                  <header>
                    <h3><span class="text-line">WordPress-Theme</span></h3>
                  </header>
                  <p>
                    <img
                      src="img/wordpress-theme-open-mind-culture.jpg"
                      width="800" height="632"
                      style="width:100px;height:auto;"
                      alt=""
                    />
                    <span class="text-line">
                      Mein Freizeitprojekt Open-Mind-Culture dient auch als Spielwiese zum Experimentieren mit WordPress. Die optische Gestaltung konnte ich mit sehr überschaubarem Aufwand als Child-Theme des offiziellen WordPress-Themes TwentyTwenty erstellen und vor dem Upload im lokalen Docker-Container testen.

                      <a
                        class="iconlink github"
                        href="https://github.com/openmindculture/open-mind-culture-org"
                        title="github.com/openmindculture/open-mind-culture-org"
                        target="_blank"
                        rel="noopener"
                      >
                        github.com/openmindculture/open-mind-culture-org
                      </a>

                      <a
                        class="iconlink arrow"
                        href="https://www.open-mind-culture.org/"
                        title="www.open-mind-culture.org"
                        target="_blank"
                        rel="noopener"
                      >
                        www.open-mind-culture.org
                      </a>
                    </span>
                  </p>
                  <p>
                    <span class="hashtag reactjs">WordPress</span>
                    <span class="hashtag reactjs">WP-Child-Theme</span>
                    <span class="hashtag js">CSS</span>
                    <span class="hashtag js">PHP</span>
                    <span class="hashtag js">Docker</span>
                  </p>
                </div>
              </article>
            </div>
          </section>

          <section class="text-content">
            <h2 id="work">
              Arbeiten Sie mit mir!
            </h2>
            <article class="text-width">
              <header>
                <h3 id="skills">Langlebige Lösungen</h3>
              </header>
              <p>
                Ich bin Ihr vielseitiger <strong>Frontend-Entwickler</strong>. Ihre Layouts realisiere ich plattformübergreifend, auf Wunsch auch pixelgenau. Mein Ziel sind langlebige Lösungen, elegant, verständlich und pflegeleicht.
              </p>
              <p>
                Als Teamplayer <strong>mit Full-Stack-Erfahrung</strong> und hoher Lernbereitschaft übernehme ich bei Bedarf auch andere Aufgaben, die sich rund um die Frontend-Entwicklung ergeben. Klare, verbindliche und freundliche Kommunikation auf Deutsch und Englisch erleichtert mir die Zusammenarbeit mit Kunden, Kollegen und Dienstleistern. Neue Technologien lerne ich schnell.
              </p>

            </article>
          </section>

          <h3 id="skills">Kenntnisse</h3>
          <ul class="grid-container skills">
            <li class="tile">
              <h4>Web-Entwicklung</h4>
              <ul>
                <li><b>HTML</b> seit über 20 Jahren</li>
                <li>
                  <b>CSS</b> seit ca. 20 Jahren
                  <div class="hashtags">
                    <span class="hashtag">CSS</span>
                    <span class="hashtag">CSS 3</span>
                    <span class="hashtag">SCSS</span>
                    <span class="hashtag">PostCSS</span>
                    <span class="hashtag">CSS-in-JS</span>
                  </div>
                </li>
                <li>
                  <b>JavaScript</b> seit über 20 Jahren
                  <div class="hashtags">
                    <span class="hashtag">JavaScript</span>
                    <span class="hashtag">ES6</span>
                    <span class="hashtag">node.js</span>
                    <span class="hashtag">Vue.js</span>
                    <span class="hashtag">ReactJS</span>
                  </div>
                </li>

                <li>
                  <b>PHP</b> seit über 20 Jahren
                  <div class="hashtags">
                    <span class="hashtag">PHP</span>
                    <span class="hashtag">PHP 7</span>
                    <span class="hashtag">Composer</span>
                    <span class="hashtag">PHPStan</span>
                  </div>
                </li>
                <li><b>XML</b> seit ca. 10 Jahren
                  <div class="hashtags">
                    <span class="hashtag">XML</span>
                    <span class="hashtag">XPath</span>
                    <span class="hashtag">XSLT</span>
                    <span class="hashtag">SOAP</span>
                    <span class="hashtag">UBL</span>
                  </div>
                </li>

                <li>
                  <b>Datenbanken</b> seit über 20 Jahren
                  <div class="hashtags">
                    <span class="hashtag">MySQL</span>
                    <span class="hashtag">MariaDB</span>
                    <span class="hashtag">Oracle SQL</span>
                    <span class="hashtag">MongoDB</span>
                  </div>
                </li>

              </ul>
            </li>
            <li class="tile">
              <h4>Frameworks, Dienstleister</h4>
              <ul>
                <li><b>ReactJS</b> seit ca. 2017</li>
                <li><b>WordPress</b> seit ca. 2004</li>
                <li><b>jQuery</b> seit ca. 2014</li>
                <li><b>Vue.js</b></li>
                <li><b>Symfony</b></li>
                <li><b>Shopware</b></li>
                <li><b>Shopify</b></li>
                <li><b>Auth0</b></li>
              </ul>
            </li>

            <li class="tile">
              <h4>Tools</h4>
              <ul>
                <li>
                  <b>Qualitätssicherung</b> seit ca. 2011
                  <div class="hashtags">
                    <span class="hashtag">Jest</span>
                    <span class="hashtag">Storybook</span>
                    <span class="hashtag">Lighthouse</span>
                    <span class="hashtag">Cypress</span>
                  </div>
                </li>
                <li>
                  <b>Codegenerierung</b> seit ca. 2016
                  <div class="hashtags">
                    <span class="hashtag">Eleventy</span>
                    <span class="hashtag">Babel</span>
                    <span class="hashtag">PostCSS</span>
                    <span class="hashtag">Stylelint</span>
                    <span class="hashtag">eslint</span>
                  </div>
                </li>
                <li>
                  <b>DevOps</b> seit ca. 2015
                  <div class="hashtags">
                    <span class="hashtag">Docker</span>
                    <span class="hashtag">Jenkins</span>
                    <span class="hashtag">npm</span>
                    <span class="hashtag">yarn</span>
                    <span class="hashtag">Composer</span>
                  </div>
                </li>
                <li>
                  <b>Versionierung</b> seit 2011
                  <div class="hashtags">
                    <span class="hashtag">Git</span>
                    <span class="hashtag">GitLab</span>
                    <span class="hashtag">GitHub</span>
                    <span class="hashtag">SVN</span>
                  </div>
                </li>
                <li>
                  <b>Bildbearbeitung</b>
                  <div class="hashtags">
                    <span class="hashtag">GIMP</span>
                    <span class="hashtag">ImageMagick</span>
                    <span class="hashtag">Inkscape</span>
                    <span class="hashtag">Photoshop</span>
                  </div>
                </li>
                <li>
                  <b>Coding</b>
                  <div class="hashtags">
                    <span class="hashtag">PHPStorm</span>
                    <span class="hashtag">vi</span>
                    <span class="hashtag">Visual Studio Code</span>
                    </div>
                </li>
              </ul>
            </li>

            <li class="tile">
              <h4>Methoden</h4>
              <ul>
                <li><b>Pragmatismus</b></li>
                <li><b>Progressive Enhancement</b></li>
                <li><b>Agile Softwareentwicklung</b></li>
                <li><b>Test Driven Development</b></li>
                <li><b>Code Review</b>, 4-Augen-Prinzip</li>
                <li><b>Pair Programming</b></li>
              </ul>
            </li>

          </ul>

          <section class="text-content">
            <h2 id="about">
              Beruf und Leidenschaft
            </h2>
            <article>
              <header>
                <h3>
                  Was mich immer noch fasziniert
                </h3>
              </header>
              <p class="capitalized"><!-- overcapitalize first letter -->
                World Wide Web ist mehr als Daten, Design und Programmierung. Das weltweite Netzwerk und seine Technologien ermöglichen einen offenen, kreativen Austausch von Ideen, Informationen und Gestaltung. Wissenschaft, Bildung, Handel, Kunst und Kultur mithilfe offener, robuster und dezentraler Technologie. Das möchte ich fördern und weiterentwickeln. Barrierefreiheit, Resilienz und Kompatibilität (progressive Enhancement) auf unterschiedlichen Geräten, die weder neu noch teuer sein müssen und die auch bei geringer Bandbreite in Verbindung bleiben. Mein Traum ist, dass eine aktuelle Webseite auch auf einem alten Gerät aus dem letzten Jahrhundert funktioniert.
              </p>
              <h3>Werdegang</h3>
              <p>
                Nach Abitur und Zivildienst als Pflegediensthelfer studierte ich Psychologie und Kommunikationswissenschaften. Nebenbei lernte ich das Internet und die Programmiersprache HTML kennen. Musiker und Veranstalter erkannten mein Talent, aus dem Hobby wurde ein Job und schließlich mein Beruf.
              </p>
              <p>
                Im Jahr 2000 gründete ich mit meinem damaligen Geschäftspartner in Münster ein Startup. Kleine und mittelständische Unternehmern in der Region nutzten unsere CMS- und Shop-Software. Wir entwickelten Webseiten, Browser Games und wurden Experten der Suchmaschinenoptimierung (SEO).
              </p>
              <p>
                Als angestellter Berufspendler in vollen Zügen konnte ich später täglich selbst die mobile gerätetauglichkeit und Ladegeschwindigkeit unser Kundenprojekte verifizieren. Spezielle Software sollte dies auch bei Verwendung bestehender, älterer IT-Systeme sicherstellen.
              </p>

              <h4>Weiterbildung</h4>
              <p>
                Durch Recherche und praktische Anwendung gewinne ich täglich neue Erkenntnisse. Zur Vertiefung lese ich Fachliteratur und besuche Veranstaltungen. Weiteres Wissen erhalte ich in Foren und Online-Kursen.
              </p>

            <h3>Vorträge und Veranstaltungen</h3>
            <p>
              Auf Fachveranstaltungen teile ich dieses Wissen mit anderen. Meetups, Konferenzen, Foren und firmeninterne Fortbildungen nutze ich regelmäßig und gern.<br>
              In den letzten Jahren hielt ich unter anderem diese Vorträge:
              <ul>
                <li>
                  <a
                    href="https://www2.slideshare.net/IngoSteinke/meetups-in-zeiten-von-corona-juni-2020-238451425"
                    target="_blank"
                    rel="noopener"
                  >
                    <b>Meetups in Zeiten von Corona</b>
                  </a>
                  , Juni 2020
                </li>
                <li>
                  <a
                    href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/268706480/"
                    target="_blank"
                    rel="noopener"
                  >
                    <b>Performance-Optimierung ohne Code-Änderung</b>
                  </a>
                  mit Angelina Farsch, April 2020
                </li>
                <li>
                  <a
                    href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/255856182/"
                    target="_blank"
                    rel="noopener"
                    >
                    <b>HSTS: Mehr Sicherheit ohne Performanceverlust</b>
                  </a>
                  , Dezember 2018
                </li>
                <li>
                  <a
                    href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/zdnjlmywhbgb/"
                    target="_blank"
                    rel="noopener"
                    >
                    <b>Infrastruktur für bessere Web Performance</b>
                  </a>
                  , Mai 2017
                </li>
                <li>
                  <a
                    href="https://meinjobdeinjob.de/donnerstag-26-januar-2017"
                    target="_blank"
                    rel="noopener"
                    >
                    <b>Berufsorientierung: Mein Job! Dein Job?</b>
                  </a>
                  , Januar 2017
                </li>

              </ul>
            </p>
          </section>

          <section class="text-content">
            <h2>
              Kontakt, Impressum, Datenschutz
            </h2>
            <article>
              <header>
                <h3 id="contact">
                  Nehmen Sie Kontakt auf!
                </h3>
              </header>

              <!-- form
                name="contact-isd"
                method="POST"
                data-netlify="true"
                id="contactform"
                class="contactform"
                action="//ingo-steinke.de/#contact-submitted"
              >
                <label for="Name">
                  <input type="text" required="" name="Name" id="Name" placeholder="Mein Name" label="Name">
                </label>

                <label for="E-Mail">
                  <input type="email" name="E-Mail" id="E-Mail" placeholder="Meine E-Mail-Adresse" label="E-Mail">
                </label>

                <label for="Telefon">
                  <input type="tel" name="Telefon" id="Telefon" placeholder="Meine Telefonnummer" label="Telefon">
                </label>

                <label for="Nachricht">
                  <textarea
                    name="Nachricht"
                    id="Nachricht"
                    placeholder="Meine Nachricht an Ingo Steinke"
                    label="Meine Nachricht an Ingo Steinke"
                  ></textarea>
                </label>
                <label for="Datenschutzerklaerung_zur_Kenntnis genommen">
                  <textarea
                    name="Datenschutzhinweis"
                    id="Datenschutzhinweis"
                    readonly="readonly"
                    placeholder="Meine Kontaktdaten werden zwecks eventueller vorvertraglicher Maßnahmen übermittelt und gespeichert. Die Datenschutzerklärung informiert über Rechtsgrundlage, Art der Datenverarbeitung, Lösch- und Widerrufsmöglichkeit."
                  ></textarea>
                </label>

                <input type="submit" class="submit" value="absenden">
              </form> -->
              <p>
                Schreiben Sie oder rufen Sie mich an! Sie finden mich auch in sozialen Netzwerken und Foren:
              </p>

              <ul class="row">
                <li>
                  <a href="mailto:kontakt@ingo-steinke.de" title="kontakt@ingo-steinke.de">✉</a>
                </li>
                <li>
                  ☏ <span class="tel">+49 (0) 163 46 84 08 0</span>
                </li>
                <li>
                  <a rel="noopener" href="https://www.linkedin.com/in/ingosteinke" target="_blank" title="LinkedIn-Profil von Ingo Steinke">
                    LI
                  </a>
                </li>

                <li>
                  <a class="social-btn gh-btn" href="https://github.com/openmindculture" target="_blank" rel="noopener" title="GitHub-Profil (openmindculture)">
                    <svg height=14 viewBox="0 0 16 15" width=14>
                      <title>GitHub</title>
                      <path
                        fill="#fff"
                        fill-rule=evenodd
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg><span>openmindculture</span>
                  </a>
                </li>
                <li>
                  <a class="social-btn tw-btn" href="https://twitter.com/fraktalisman" target="_blank" rel="noopener" title="Ingo Steinke bei Twitter (@fraktalisman)">
                    <svg viewBox="0 0 61 61" height=14 width=14>
                      <title>Twitter</title>
                      <path fill=none d="M0 0h72v72H0z"/>
                      <path
                        class=icon
                        fill="#fff"
                        d="M68.812 15.14c-2.348 1.04-4.87 1.744-7.52 2.06 2.704-1.62 4.78-4.186 5.757-7.243-2.53 1.5-5.33 2.592-8.314 3.176C56.35 10.59 52.948 9 49.182 9c-7.23 0-13.092 5.86-13.092 13.093 0 1.026.118 2.02.338 2.98C25.543 24.527 15.9 19.318 9.44 11.396c-1.125 1.936-1.77 4.184-1.77 6.58 0 4.543 2.312 8.552 5.824 10.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163 0 6.345 4.513 11.638 10.504 12.84-1.1.298-2.256.457-3.45.457-.845 0-1.666-.078-2.464-.23 1.667 5.2 6.5 8.985 12.23 9.09-4.482 3.51-10.13 5.605-16.26 5.605-1.055 0-2.096-.06-3.122-.184 5.794 3.717 12.676 5.882 20.067 5.882 24.083 0 37.25-19.95 37.25-37.25 0-.565-.013-1.133-.038-1.693 2.558-1.847 4.778-4.15 6.532-6.774z"
                      />
                    </svg><span>@fraktalisman</span>
                  </a>
                </li>
                <li>
                  <a href="https://stackoverflow.com/users/5069530/ingo-steinke"
                  target="_blank"
                  rel="noopener"
                  title="Ingo Steinke bei Stack Overflow"
                >
                  StackOverflow und StackExchange-Foren
                  <img src="https://stackoverflow.com/users/flair/5069530.png"
                    width="208"
                    height="58"
                    alt="Ingo Steinke bei Stack Overflow"
                  >
                </a>
                </li>
              </ul>

              <h4 id="imprint">Impressum</h4>
              <p class="vcard">
                Verantwortlicher Anbieter:
                <span class="fn">Ingo Steinke</span>
                <br>
                Adresse:
                <span class="adr">
                  <span class="street-address">Neunzigstraße 6a</span>,
                  <span class="postal-code">40625</span> Düsseldorf
                  (<span class="country-name">Deutschland</span>).<br>
                </span>
                <span>Telefon:</span> <span class="tel">+49 (0) 163 46 84 08 0</span><br>
                <span>E-Mail: </span> <span><a href="mailto:kontakt@ingo-steinke.de">kontakt@ingo-steinke.de</a></span><br>
                Web: <a class="url" rel="author" href="https://www.ingo-steinke.de/">www.ingo-steinke.de</a>

                <h4>Bankverbindung</h4>
                <span>Zahlungsempfänger: Ingo Steinke</span><br>
                <span>Kontonummer (IBAN): DE86 1203 0000 1057 5854 14</span><br>
                <span>Bank: Deutsche Kreditbank (DKB) Berlin (BIC: BYLADEM1001)</span><br>
                <span>Bitte geben Sie als Verwendungszweck die Rechnungsnummer an.</span><br>
                <br>
                <span>Steuernummer: 133 / 5315 / 3587</span><br>
                <span>Finanzamt: Düsseldorf-Mitte</span><br>
                <span>Angemeldetes Gewerbe: Software-Entwicklung, Web-Entwicklung, Beratung.</span><br>
              </p>
              Die <a href="#privacy">Datenschutzerklärung</a> klärt darüber auf, wie Ihre Daten geschützt und zu welchen Zwecken sie vearbeitet werden.
            </article>

            <aside id="privacy" class="privacy initially-hidden">
              <header>
                <h3>
                  Datenschutzerklärung
                </h3>
              </header>
              <p>
                Die Regeln des Bundesdatenschutzgesetzes (BDSG) und der europäischen Datenschutzgrundverordnung (DSGVO) sind Anlass zu dieser Datenschutzerklärung. Das <a href="#imprint">Impressum</a> nennt den verantworlichen Anbieter und Ihre Möglichkeiten zur Kontaktaufnahme.
              </p>
              <h4>Ihr gutes Recht: Auskunft, Korrektur, Löschung, Widerruf</h4>
              <p>
                Sie haben das Recht, eine Einwilligung in die Verarbeitung Ihrer Daten zu verweigern oder nachträglich zu widerrufen, sowie das Recht auf Auskunft hinsichtlich der über Ihre Person gespeicherten Daten und können eine Löschung dieser Daten oder eine Korrektur unzutreffender Daten verlangen. Ausgenommen von der Löschung sind gespeicherte Daten, die der gesetzlichen Aufbewahrungspflicht bzw. der steuerlichen Abgabenordnung oder einer anderweitig vorgeschriebenen Datenspeicherung zur Geschäftsabwicklung unterliegen.
              </p>
              <h4>Umfang der Verarbeitung personenbezogener Daten</h4>
              <p>
                Personenbezogene Daten meiner Nutzer verarbeite ich grundsätzlich nur soweit, wie dies zur Vertragserfüllung, zu konkreten vorvertraglichen Vereinbarungen, sowie zur Bereitstellung einer funktionsfähigen Webseite erforderlich ist. Die Verarbeitung personenbezogener Daten meiner Nutzer erfolgt nur nach Einwilligung der Nutzerin bzw. des Nutzers, außer in solchen Fällen, in denen eine vorherige Einholung einer Einwilligung aus tatsächlichen Gründen nicht möglich ist und die Verarbeitung der Daten durch gesetzliche Vorschriften ausdrücklich gestattet oder gefordert ist.
              </p>
              <h4>Rechtsgrundlage für die Verarbeitung personenbezogener Daten</h4>
              <p>
                Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines Vertrages mit der betroffenen Person als Vertragspartei erforderlich ist, dient Art. 6 Abs. 1 Bst. b DSGVO als Rechtsgrundlage. Dies gilt auch für Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher Maßnahmen erforderlich sind.
              </p>
              <p>
                Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist, dient Art. 6 Abs. 1 Bst. c DSGVO als Rechtsgrundlage.
              </p>
              <h4>Datensparsamkeit und Datenminimierung</h4>
              <p>
                Personenbezogene Daten speichere ich gemäß den Grundsätzen der Datenvermeidung und Datensparsamkeit nur so lange, wie es erforderlich ist oder vom Gesetzgeber her vorgeschrieben wird (gesetzliche Speicherfrist). Entfällt der Zweck der erhobenen Informationen oder endet die Speicherfrist, veranlasse ich die Sperrung bzw. Löschung der Daten.
              </p>
              <p>
                Diese Website verwendet lediglich die für den technischen Betrieb notwendigen Cookies.
              </p>
              <p>
                Verweise zu sozialen und beruflichen Netzwerken sind lediglich Links zu externen Anbietern. Anzeigen und Ansehen der dieser Verweise führt zu keiner Datenübertragung an Drittanbieter.
              </p>
              <p>
                Schriftarten, Grafiken und Scriptdateien werden ausschließlich von unseren Servern geladen, es findet kein Abruf von externen Dienstleistern statt. Auf dieser Webseite verzichte ich zudem auf Auswertungs- und Werbefunktionen externer Anbieter. Daher werden auch keinerlei Daten mit Google Analytics, Facebook oder ähnlichen Drittanbietern ausgetauscht.
              </p>
              <h4>Kontaktformular und elektronische Kommunikation</h4>
              <p>
                Wenn Sie mich über ein Kontaktformular, per E-Mail oder auf anderem elektronischen Wege (z.B. Messenger) kontaktieren, speichere ich die von Ihnen gemachten Angaben, um Ihre Anfrage beantworten und mögliche Anschlussfragen stellen zu können. Im Falle eines konkreten Beratungswunsches oder einer Terminvereinbarung werden Ihre Angaben zur Durchführung vorvertraglicher Maßnahmen und ggf. zur Vertragserfüllung verwendet.
              </p>
              <p>
                Über ein Kontaktformular können Sie gegebenenfalls Ihren Namen, Ihre E-Mail-Adresse, Ihre Telefonnummer und eine frei formulierte Nachricht übermitteln. Zudem werden Datum und Uhrzeit der Kontaktaufnahme sowie Ihre IP-Adresse gespeichert. Dies wird im folgenden Abschnitt "Bereitstellung der Website und Auswertung technischer Daten" näher erläutert.
              </p>
              <p>
                Ich weise Sie darauf hin, dass jegliche Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Bitte achten Sie daher auch bei Ihrer eigenen Kommunikation stets auf Datensparsamkeit und verwenden Sie möglichst aktuelle Software mit aktuellen Sicherheitsupdates!
              </p>
              <h4>Bereitstellung der Website und Auswertung technischer Daten (Logfiles)</h4>
              <p>
                Mit jedem Zugriff auf dieses Angebot werden durch mich beziehungsweise die von mir beauftragten Web-Provider (<a href="https://www.goneo.de" target="_blank" rel="noopener">goneo</a>, <a href="https://www.netlify.com" target="_blank" rel="noopener">netlify</a>) und deren Dienstleister automatisch Informationen erfasst, die zur technischen Bereitstellung der Webseite erforderlich sind. Erfasst werden die Adresse der besuchten Webseite, Datum und Uhrzeit, übertragene Datenmenge, Webbrowserkennung, IP-Adresse und gegebenenfalls auf die aufgerufene Website verweisende Websites. Die Daten werden in den Logfiles der EDV gespeichert. Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten der Nutzer findet nicht statt. Eine Auswertung der Daten zu Marketingzwecken findet in diesem Zusammenhang ebenfalls nicht statt.
              </p>
              <p>
                Rechtsgrundlage für die vorübergehende Speicherung dieser Daten und der Logfiles ist Art. 6 Abs. 1 Bst. f DSGVO. Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit der Website sicherzustellen. Zudem dienen diese Daten zur Gewährleistung der Sicherheit unserer informationstechnischen Systeme.
              </p>
              <p>
                Ich behalte mir das Recht vor, die Server-Logfiles bei Verdacht auf eine rechtswidrige Nutzung meines Angebotes nachträglich zu kontrollieren.
              </p>
              <p>
                Änderung dieser Datenschutzerklärung
                Um zu gewährleisten, dass diese Datenschutzerklärung stets den aktuellen gesetzlichen Vorgaben entspricht, behalte ich mir jederzeit Änderungen vor. Das gilt auch für den Fall, dass die Datenschutzerklärung aufgrund neuer oder überarbeiteter Leistungen, zum Beispiel neuer Serviceleistungen, angepasst werden muss. Die neue Datenschutzerklärung greift dann bei Ihrem nächsten Besuch auf meinem Angebot.
              </p>
            </aside>
          </section>
        </main>

        <footer class="page-footer">
          <p>
            &copy; 2021 Ingo Steinke
            <br>
            <a href="#contact">Kontakt</a>
            <a href="#imprint">Impressum</a>
            <a href="#privacy">Datenschutz</a>
          </p>
          <aside class="credits">
            Verwendete Schriftarten: <a href="https://github.com/JulietaUla/Montserrat" target="_blank" rel="noopener">Montserrat von Julieta Ulanovsky</a>, <a href="https://www.huertatipografica.com/en/fonts/bitter-ht" target="_blank" rel="noopener">Bitter von Sol Matas</a>.
            Web-Hosting:
            <a href="https://www.goneo.de" target="_blank" rel="noopener">goneo</a> in Minden bzw. auf den internationalen Cloud-Servern von <a href="https://www.netlify.com/" target="_blank" rel="noopener">Netlify</a>.
            Erstellt mit <a href="https://www.11ty.dev/" target="_blank" rel="noopener">Eleventy (11ty)</a>.
          </aside>
        </footer>
      </div>



      <aside class="decoration">
        <!-- some nice graphics for users with large screen i.e. plant -->
      </aside>
    </div>
  </body>
</html>
