html,
body,
h1,
h2,
h3,
h4 {
  background: #fff;
  color: #000;
  font-size: 12pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-size: 18pt;
}

body,
.tiled-content,
.text-content-color,
.text-content-color h2,
.text-content-color h3,
.text-content-color h4,
a,
a:link,
a:visited,
a:active {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.navigation.page-navigation,
.sticky-header {
  display: none;
}

.page-container {
  padding: 0 24pt;
}

.hero-header {
  text-align: center;
  break-after: page;
  margin-top: 25%;
  margin-bottom: 25%;
}

.hero-header h1 {
  font-size: 60pt;
  margin: 0;
}

.hero-header p {
  font-size: 30pt;
  margin: 0;
}

img.avatar {
  border-radius: 50%;
}

.code-link {
  display: block;
  font-family: monospace;
}

.hashtag {
  border: solid 1px #aaa;
  padding: 4pt;
  margin-right: 4pt;
  line-height: 28pt;
}

.tile {
  margin-bottom: 24pt;
}

.tile p img {
  max-width: 25%;
  height: auto;
  float: right;
  margin-left: 12pt;
  border: none;
}

.grid-container.skills {
  padding-left: 0;
  list-style-type: none;
}

.social-links {
  list-style-type: none;
  padding-left: 0;
}

.social-links a {
  font-family: monospace;
}

.social-links a img {
  background-color: #aaa;
  padding: 4pt;
}

.privacy {
  font-size: 10pt;
}

article,
.avoid-page-break {
  page-break-inside: avoid;
}
