html,
body,
h1,
h2,
h3,
h4 {
  background: #fff;
  color: #000;
  font-size: 11pt;
}

html, body, * {
  font-variant-ligatures: none !important; /* prevent unreadable PDF output */
}

h2 {
  font-size: 17pt;
  margin-bottom: 0;
}

h3 {
  font-size: 15pt;
  line-height: 1;
  margin-bottom: 0;
}

h4 {
  font-size: 13pt;
  margin-bottom: 13pt;
}

#skills,
#about-me {
  padding-top: 5pt;
}

.vcard h2,
.vcard h3 {
  margin: 0;
}

body,
.tiled-content,
.text-content-color,
.text-content-color h2,
.text-content-color h3,
.text-content-color h4,
.aside-heading,
a,
a:link,
a:visited,
a:active {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.navigation.page-navigation,
.sticky-header {
  display: none;
}

.page-container {
  padding: 0 24pt;
}

.jumbotronHeader {
  text-align: center;
  break-after: page;
  margin-top: 25%;
  margin-bottom: 25%;
}

.jumbotronHeader h1 {
  font-size: 50pt;
  margin: 0;
}

.jumbotronHeader p {
  font-size: 30pt;
  margin: 0;
}

small {
  font-size: 10pt;
}

img.avatar {
  border-radius: 50%;
}

.content-image {
  margin-left: 0;
}

.content-image img {
  max-width: 100%;
  height: auto;
}

figure.content-image img {
  max-width: 70%;
}

.code-link {
  font-family: monospace;
}

.hashtag {
  border: solid thin #aaa;
  padding: 4pt;
  margin-right: 4pt;
  line-height: 28pt;
}

.tile {
  margin-bottom: 24pt;
  max-width: 100%;
}

.tile p img {
  max-width: 10%;
  height: auto;
  float: right;
  margin-left: 12pt;
  border: none;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.timestamp {
  margin: 0 16pt 32pt 0;
  display: block;
  width: 100%;
}

.top-timestamp {
  text-align: right;
  margin-top: 24pt;
}

#projects .timestamp {
  margin: 3pt 16pt 8pt 0;
}

#projects .tile-content p:not(:last-child) {
  margin-top: 2pt;
  margin-bottom: 5pt;
}

#projects .tile-content p:last-child {
  margin-top: 0;
}

.grid-container.skills {
  padding-left: 0;
  list-style-type: none;
}

ul {
  padding-left: 1.5em;
}

.skills li.tile ul {
  padding-left: 0;
}

.skills li.tile ul li {
  font-size: 12pt;
  display: flex;
  align-items: baseline;
}

.skills li.tile--verbose ul li {
  margin-bottom: 8pt;
  align-items: flex-start;
}

.skills li.tile ul li > *:first-child {
  width: 130pt;
  line-height: 1.5;
}

.skills li.tile--verbose ul li > *:first-child {
  line-height: 1.25;
  font-size: 11pt;
}

.skills li.tile ul li .hashtags {
  margin-left: 12pt;
}

.skills li.tile ul li .hashtag {
  font-size: 10.5pt;
  margin-right: 1pt;
}

.testimonial {
  margin-left: 0;
}

.social-links {
  list-style-type: disc;
  padding-left: 12pt;
}

.social-links a img,
.social-links a svg {
  display: none;
}

#contact,
.paypal-link-wrapper {
  position: relative;
  padding-top: 10pt;
}

.vcard-digital-wrapper {
  position: absolute;
  top: 20pt;
  right: 10pt;
}

.vcard-digital-qr-image {
  width: 100pt;
  height: auto;
}

h2.fn {
  font-size: 14pt;
}

.price {
  white-space: nowrap;
}

.privacy {
  display: none;
}

article,
.tile,
figure,
.avoid-page-break {
  page-break-inside: avoid;
}

.avoid-page-break > article {
  page-break-inside: initial;
}

#projects,
#talks-events,
#work,
#interested,
.page-break-before {
  page-break-before: always;
}

.imprint-contact {
  padding-top: 16pt;
  font-size: 13pt;
}

#projects .code-link,
.print-display-block {
  display: block;
  font-size: 11.5pt;
  font-weight: normal;
}

#projects .code-link {
  font-size: 11pt;
}

.project-thumb {
  display: none;
}

.initially-hidden.only-print {
  display: block;
}

.initially-hidden.only-print.inline {
  display: inline;
}

.no-print {
  display: none;
}

/* visually spaced content that can be copied contiguously */
.visually-spaced + .visually-spaced::before {
  content: " ";
  letter-spacing: 0.25rem;
}

/* website carbon badge */
#wcb_p {
  text-align: left;
}

#top #wcb #wcb_a,
#wcb #wcb_g {
  --b1: #000;
  --b2: #000;
}

/* embedded printable pdf */
.size-din-a4-portrait {
  width: 100%;
  width: 210mm;
  height: auto;
  height: 297mm;
  margin: 0;
  padding: 0;
}

.pdf-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
