html,
body,
h1,
h2,
h3,
h4 {
  background: #fff;
  color: #000;
  font-size: 12pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-size: 18pt;
}

.vcard h2,
.vcard h3 {
  margin: 0;
}

body,
.tiled-content,
.text-content-color,
.text-content-color h2,
.text-content-color h3,
.text-content-color h4,
.aside-heading,
a,
a:link,
a:visited,
a:active {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.navigation.page-navigation,
.sticky-header {
  display: none;
}

.page-container {
  padding: 0 24pt;
}

.jumbotronHeader {
  text-align: center;
  break-after: page;
  margin-top: 25%;
  margin-bottom: 25%;
}

.jumbotronHeader h1 {
  font-size: 60pt;
  margin: 0;
}

.jumbotronHeader p {
  font-size: 30pt;
  margin: 0;
}

small {
  font-size: 10pt;
}

img.avatar {
  border-radius: 50%;
}

.content-image {
  margin-left: 0;
}

.content-image img {
  max-width: 100%;
  height: auto;
}

.code-link {
  font-family: monospace;
}

.hashtag {
  border: solid 1px #aaa;
  padding: 4pt;
  margin-right: 4pt;
  line-height: 28pt;
}

.tile {
  margin-bottom: 24pt;
}

.tile p img {
  max-width: 10%;
  height: auto;
  float: right;
  margin-left: 12pt;
  border: none;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.grid-container.skills {
  padding-left: 0;
  list-style-type: none;
}

.skills li.tile ul li {
  font-size: 12pt;
  display: flex;
  align-items: baseline;
}

.skills li.tile ul li > *:first-child {
  min-width: 150px;
}

.skills li.tile ul li .hashtags {
  margin-left: 12pt;
}

.skills li.tile ul li .hashtag {
  font-size: 11pt;
}

.social-links {
  list-style-type: disc;
  padding-left: 12pt;
}

.social-links a {
  font-family: monospace;
}

.social-links a img,
.social-links a svg {
  display: none;
}

.vcard-digital-wrapper,
.privacy {
  display: none;
}

article,
.tile,
figure,
.avoid-page-break {
  page-break-inside: avoid;
}

.avoid-page-break > article {
  page-break-inside: initial;
}

#talks-events,
#work,
.imprint-contact {
  page-break-before: always;
}

.initially-hidden.only-print {
  display: block;
}

.initially-hidden.only-print.inline {
  display: inline;
}

.no-print {
  display: none;
}

/* website carbon badge */
#wcb_p {
  text-align: left;
}

#top #wcb #wcb_a,
#wcb #wcb_g {
  --b1: #000;
  --b2: #000;
}
