---
tags: addtositemap
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.com/img/preview-freelancer-berlin-de.png"
previewtitle: "Case Study: Web App Development using React, JavaScript, JSX, CSS-in-JS, and Storybook"
previewdescription: "Ingo Steinke ist ein Freelance Webentwickler aus Berlin mit über 25-jähriger Berufserfahrung."
permalink: "projects/reactapp-react-jsx-javascript-css.html"
canonicalhref: "https://www.ingo-steinke.com/projects/reactapp-react-jsx-javascript-css.html"
canonicalhreflang: "en"
alternatelink: "https://www.ingo-steinke.de/projekte/reactapp-react-jsx-javascript-css.html"
alternatehreflang: "de"
---
<!doctype html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Case Study: Web App Development using React, JavaScript, JSX, CSS-in-JS, and Storybook</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top">
  <div class="page-content">
    <header class="jumbotronHeader has-text-paragraphs" id="jumbotronHeader">
      {% include '../_includes/jumbotron-image.liquid' %}
      <h1>Case Study: Web App Development using React, JavaScript, JSX, CSS-in-JS, and Storybook</h1>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid' %}
    <main id="content-top" class="target-offset">
      <section class="text-content-layout text-content-color">
        <article class="text-width">
          <h2>React Web App with React Component Library</h2>
          <ul>
            <li>Role: Senior Frontend Developer (React)</li>
            <li>Customer: wao.io (Sevenval/Avenga)</li>
            <li>Industry: SaaS / Internet-Dienstleistungen (B2B)</li>
            <li>Time: 07/2017 – 10/2020</li>
            <li>Project: React web app with React component library for UI configuration and data visualisation of
              website optimisations
            </li>
            <li>Tech Stack: React · JSX · JavaScript · ES6 · Storybook · CSS in JS · Git · GitLab</li>
            <li><strong>Challenges:</strong>
              <ul>
                <li>Development and maintenance of modular UI components in React</li>
                <li>Visualisation of data and configurations in real-time (React state management)</li>
                <li>Develoment and maintenance of Storybook documentation und modular test automation</li>
              </ul>
            </li>
          </ul>

          <p>
            The SaaS platform wao.io was used to configure various optimization options regarding loading speed (web
            performance)
            and web security for existing websites and to visualize the expected and achieved benefits
            graphically. Thanks to a modular React architecture, we were able to expand an initially rudimentary
            UI into a complex interface with detailed documentation and numerous landing pages.
            To facilitate integratinng existing projects for our customers, we
            documented use cases for well-known hosts step by step and provided plugins for well-known software such as
            WordPress and Shopware. It was my responsibility to develop and publish the
            <a href="https://store.shopware.com/en/waoio62482995391f/wao.io-cache-control.html" target="_blank"
               rel="noopener">wao.io Cache Control Plugin for Shopware</a>.
            wao.io was used in over 20 customer projects by Sevenval (now Avenga) and is currently no longer available
            to new customers.
          </p>
          <ul>

            <li>Better Google ranking</li>
            <li>Higher willingness to buy thanks to faster loading spped</li>
            <li>Conversion Rate increased by 12% (according to customer feedback)</li>
            <li>Integration with popular CMS and e-commerce software</li>
          </ul>

          <h2>wao.io Links and Screenshots</h2>

          <div>
            <figure class="content-image flex-column-smaller">
              <img src="{{ imgdirectory }}/wao-io-ui-lazyloading.png" alt="wao.io Screenshot: lazy loading UI"
                   width="1178" height="854">
            </figure>
            <figure class="content-image flex-column-smaller">
              <img src="{{ imgdirectory }}/wao-io-Conversion-Booster-Ladezeit-42-2048.png"
                   alt="Analyzer Ergebnis: Optimierungsbericht für onlinemarketing.de (Mobile-Version): Beschleunigungspotential 68,0%, Verbesserungspotential der Sicherheit: 48,1%"
                   width="2048" height="1152">
            </figure>
            <figure class="content-image flex-column-smaller">
              <img src="{{ imgdirectory }}/wao-io-Conversion-Booster-Ladezeit38-2048.png"
                   alt="Use Case: Ergebnisse, Martin Sailer-Arnold, Leiter eCommerce DELIFE.eu: Durch den Einsatz von wao.io habe ich unsere Conversion Rate um 12% gesteigert"
                   width="2048" height="1152">
            </figure>
          </div>

          <ul>
            <li><a href="https://sara-picciotto.de/portfolio/case-study-wao-io-application/" target="_blank"
                   rel="noopener">UX Design Case Study wao.io by Sara Picciotto</a></li>
            <li><a href="https://web.archive.org/web/20200506152631/https://wao.io/en/" target="_blank" rel="noopener">Home
                page wao.io (Web Archive, 2020)</a></li>
            <li><a href="https://web.archive.org/web/20210918065400/https://wao.io/de/about-us/experts/ingo-steinke/"
                   target="_blank" rel="noopener">Ingo Steinke, Software Expert at wao.io (Web Archive)</a></li>
            <li><a href="https://de.ryte.com/magazine/bilder-komprimieren-ladezeit-reduzieren-gehts/" target="_blank"
                   rel="noopener">Bilder komprimieren und Ladezeit reduzieren (Ryte Blog)</a></li>
            <li><a
                href="https://medium.com/authority-magazine/jan-webering-of-avenga-how-we-plan-to-rebuild-in-the-post-covid-economy-12ac661c26bf"
                target="_blank" rel="noopener">Avenga-CEO Jan Webering about wao.io and the post-covid-economy</a></li>
          </ul>

          <p>
            <a href="/projekte/">back to project overview</a>
          </p>

          <div class="cta-container">
            <a href="/#contact" class="buttonlike contact-link">Projekt anfragen</a>
          </div>

        </article>
      </section>
    </main>
    {% include '../_includes/page-footer-on-subpages.liquid' %}
  </div>
</div>
</body>
</html>
</html>
